<template>
	<!-- Main ================================================== -->
    <main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li><router-link :to="'/home/routes'">Rutas</router-link></li>
                    <li>{{concession.name }}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
	<!-- <div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
        <!-- About Vial ========= -->
        <div class="container margin_30">

            <div class="col-md-8">

                <!-- Intro ========= -->
                <div class="aboutus-section white_bg">

                    <!-- Introduction -->
                    <div id="intro">
                        <div class="row margin_15">

                            <div class="main_title">
                                <h2>{{concession.name}}</h2>
                                <p></p>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="aboutus-banner">
                                    <img class="img-responsive" src="img/route/world-clipart-png-2.png" alt="">
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-8 col-xs-12">                                
                                <div class="aboutus aboutus-text " v-html="concession.description">
                                </div>
                            </div>                    
                            
                        </div>
                    </div> <!-- End Introduction -->

                    <!-- Map -->
                    <div class="row" style="padding: 10px;">
                        <div id="map" class="map"></div>
                    </div>

                    <div id="list-card">
                        <div  v-for="toll in tolls" class='list-card'>
                            <div class='list-label'>Peaje Aburrá E</div>
                            <img alt='' :src="(toll.link_image) ? '/'+toll.link_image : '/'+defaultcardimage">
                            <div class='list-details'>
                                <div class='list-name'>{{toll.site.site_name}}</div>
                                <button class='list-callback'><a href="#map"> Ir al mapa</a></button>
                                <div class='list-landmark'>
									<router-link :to="'/home/region/'+toll.site.rel_municipality.rel_department.rel_region.slug">{{toll.site.rel_municipality.rel_department.rel_region.region_name}}</router-link>
								</div>
                                <div class='list-rooms'>
                                	<router-link :to="'/home/department/'+toll.site.rel_municipality.rel_department.slug"> {{toll.site.rel_municipality.rel_department.department_name}}</router-link> | <router-link :to="'/home/municipality/'+toll.site.rel_municipality.slug"> {{toll.site.rel_municipality.municipality_name}}</router-link> 
                                </div>
                                <div class='list-bottom'>
                                    <div class='list-bottom-section'>
                                        <span>CAT I</span>
                                        <span>${{toll.cost_1}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT II</span>
                                        <span>${{toll.cost_2}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT III</span>
                                        <span>${{toll.cost_3}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT IV</span>
                                        <span>${{toll.cost_4}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT V</span>
                                        <span>${{toll.cost_5}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT VI</span>
                                        <span>${{toll.cost_6}}</span>
                                    </div>
                                    <div class='list-bottom-section'>
                                        <span>CAT VII</span>
                                        <span>${{toll.cost_7}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <aside class="container col-md-4">
                <div class="colbanner center greencolored">
                    <h4>estado de las <span>vías</span></h4>
                    <p>
                        Consulta el estado de carreteras a nivel nacional.
                    </p>
                    <a href="https://www.policia.gov.co/estado-vias" target="_blank" class="btn_1 white">Ir</a>
                </div>

                <div v-if="patterns['right-banner']!= null"  class="box_style_1">
                    <div v-for="pattern in patterns['right-banner']">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		              <hr>
                    </div>
                </div>
            </aside>
            </aside>
        </div>
        <hr>        

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">
				<!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->

                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                    <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->

                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

       <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- End main -->
</template>


<script>
	import axios from 'axios';

	export default{
		data(){
			return{
				concession:[],
				patterns:[],
				defaultcardimage:'',
				tolls:[],
				sites:[],
				services:[],
                metas:{'description':'','keywords':'','title':''},
				slug:"",
			}
		},
		mounted()
		{
            this.slug = this.$route.params.slug;
			this.getConcession();
			$("#preloader").css('display', 'initial');   
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		metaInfo () {
	      return {
	        title: this.concession.name,
	        titleTemplate: 'Concesión %s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:
		{
			getConcession:function()
			{
				axios.get('/vue/concession/'+this.slug).then(response=>{
					this.concession = response.data.concession;
                    this.patterns = response.data.patterns;
                    this.metas.keywords=this.concession.keywords;
                    this.metas.title=this.concession.name;
            		if(response.data.page)
            		{
            			this.metas = {'description':response.data.page.description};
            		}

                    this.defaultcardimage = response.data.defaultcardimage;
                    this.tolls = response.data.tolls;
                    this.sites = response.data.sites;
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
            		this.createMap();
				},(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            createMap:function()
		    {
		        var sites;
		        sites = this.sites;
		        setpoints(sites,'site',7);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>