<template>
	<div>
		 <!-- Slider -->
        <div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:600px;">
                <!-- first slide -->

                <!-- first slide -->
	            <div v-if="outstanding.length>0" v-for="municipality in outstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
	                <img :src="(municipality.link_image)?'/'+municipality.link_image:'/'+defaultImage" class="ls-bg" alt="Slide background">
	                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{municipality.municipality_name}}</h3>
	                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/municipality/'+municipality.slug">Ver municipio</router-link>
	            </div>
	             
	            <div v-else class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
	                <img src="/img/portrutas.jpg" class="ls-bg" alt="Slide background">
	                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Rutas por Colombia</h3>
	                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">Recorre Colombia
	                    </p>
	            </div>
            </div>
        </div> <!-- End layerslider -->

        <main>
        	<!-- Position -->
	        <div id="position">
	            <div class="container">
	                <ul>
	                    <li><router-link to="/home">Home</router-link></li>
	                    <li><router-link :to="'/home/region/'+region.slug">{{region.region_name}}</router-link></li>
	                    <li>{{department.department_name}}</li>
	                </ul>
	            </div>
	        </div> <!-- End Position -->

	        <!-- Recommendations -->
	        <section class="container margin_15">

	            <!-- Hotels -->
	            <div v-if="hotelsOutstanding.length>0" class="col-md-6" >
	                <h4>Hoteles Recomendados</h4>
	                <div class="shop-section">
	                    <div class="row">

	                        <!--Hotel Item-->
	                        <div v-for="hotel in hotelsOutstanding" class="shop-item col-lg-6 col-md-6 col-sm-6">
	                            <div class="inner-box">
	                                <div class="image-box">
	                                    <figure class="image">
	                                        <router-link :to="'/home/hotel/'+hotel.slug"><img :src="(hotel.card_image)?'/'+hotel.card_image:'/'+defaulthotel" alt="">
	                                        </router-link>
	                                    </figure>
	                                    <!--<div class="item-options clearfix">
	                                        <a href="#" class="btn_shop">
	                                            <span class="icon-share"></span>
	                                            <div class="tool-tip">
	                                                Compartir
	                                            </div>
	                                        </a>
	                                        <a href="8-1restaurante_item.html" class="btn_shop">
	                                            <span class="icon-eye"></span>
	                                            <div class="tool-tip">
	                                                Ver más
	                                            </div>
	                                        </a>
	                                    </div>-->
	                                </div>
	                                <div class="product_description">
	                                    <em>
	                                        <router-link :to="'/home/region/'+region.slug">{{region.region_name}}</router-link> | <router-link :to="'home/municipality/'+hotel.rel_municipality.slug"> {{hotel.rel_municipality.municipality_name}}</router-link>
	                                    </em>
	                                    <h3><router-link :to="'/home/hotel/'+hotel.slug">{{hotel.establishment_name}}</router-link></h3>
	                                </div>
	                            </div>
	                        </div> <!--End Hotel Item-->

	                    </div>
	                </div>
	            </div>
	            
	            <!-- Restaurants -->
	            <div v-if="restaurantsOutstanding.length>0" class="col-md-6">
	                <h4>Restaurantes Recomendados</h4>
	                <div class="shop-section">
	                    <div class="row">

	                        <!--Restaurant Item-->
	                        <div v-for="restaurant in restaurantsOutstanding" class="shop-item col-lg-6 col-md-6 col-sm-6">
	                            <div class="inner-box">
	                                <div class="image-box">
	                                    <figure class="image">
	                                        <router-link :to="'/home/restaurant/'+restaurant.slug"><img :src="(restaurant.card_image)?'/'+restaurant.card_image:'/'+defaultrestaurant" alt="">
	                                        </router-link>
	                                    </figure>
	                                    <!--<div class="item-options clearfix">
	                                        <a href="#" class="btn_shop">
	                                            <span class="icon-share"></span>
	                                            <div class="tool-tip">
	                                                Compartir
	                                            </div>
	                                        </a>
	                                        <a href="8-1restaurante_item.html" class="btn_shop">
	                                            <span class="icon-eye"></span>
	                                            <div class="tool-tip">
	                                                Ver más
	                                            </div>
	                                        </a>
	                                    </div>-->
	                                </div>
	                                <div class="product_description">
	                                    <em>
	                                        <router-link :to="'/home/region/'+region.slug">{{region.region_name}}</router-link> | <router-link :to="'home/municipality/'+restaurant.rel_municipality.slug"> {{restaurant.rel_municipality.municipality_name}}</router-link>
	                                    </em>
	                                    <h3><router-link :to="'/home/restaurant/'+restaurant.slug">{{restaurant.establishment_name}}</router-link></h3>
	                                </div>
	                            </div>
	                        </div><!--End Restaurant Item-->
	                    </div>
	                </div>
	            </div>
	        </section> <!-- End Recommendations -->

	        <!-- Introduction -->
	        <section class="container margin_15 text-center">
	            <div class="row">
	                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
	                    <div class="main_title">
	                        <h2><span>{{department.department_name}}</span></h2>
	                        <p>{{department.short_description}}</p>
	                    </div>
	                    <div class="text-grey-2 margin_15" v-html="department.description">
	                    </div>
	                </div>
	            </div>
	            <img v-if="department.description_image" :src="'/'+department.description_image" alt="">
	        </section> <!-- Introduction -->

	        <!-- Map -->
	        <div class="main_title">
	            <div id="map" class="map"></div>
	        </div> <!-- End Map -->

	        <!-- Top Destinations Banner -->
            <div v-if="patterns['middle-banner']!= null" class="container margin_15">
                <div v-for="pattern in patterns['middle-banner']">
                    <div v-if="pattern.multimedia_type == 'Imagen'">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Codigo'">
                        <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                        </div>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Video'" >
                        <div >
                            <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                        </div>
                    </div>
                </div>
			</div> 
	         <!-- End Top Destinations Banner -->

	        <!-- Destinations -->
	        <section class="container margin_15 text-center">
	            <!-- Towns Amazonas -->
	            <div class="row">

	                <!-- Title Planes -->
	                <div class="main_title">
	                    <h2><span>Destinos </span>únicos!</h2>
	                    <p>que te sorprenderán</p>
	                </div> <!-- End Title Planes -->

	                <div v-for="municipality in municipalities" class="text-center col-md-4">
	                    <p>
	                        <router-link :to="'/home/municipality/'+municipality.slug"><img :src="(municipality.link_image)?'/'+municipality.link_image:defaultcardimage" alt="Pic" class="img-responsive"></router-link>
	                    </p>
	                    <h4><span>{{municipality.municipality_name}}</span></h4>
	                    <div v-html="municipality.description.substr(0,110)+'...' ">
	                    </div>
	                    <p><router-link :to="'/home/municipality/'+municipality.slug" class="btn_1">Ver más</router-link></p>
	                </div> <!-- End Town1 -->
	            </div> <!-- End Towns Amazonas-->
	        </section> <!-- Destinations -->

	        <!-- First Banner ========================================= -->
	        <div id="firstbanner">
	        	<div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                    <div class="col-md-6 col-sm-6" v-for="pattern in patterns['carrousel-banner-top']">
                        <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                            <div class="img_container_gallery">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                                <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
	        </div> <!-- First Banner -->

	        <!-- Circuits -->
	        <section id="circuits">
	            <!-- Concesiones ========================================== -->
	            <div class="services-section black-trans-bg">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-12 col-xs-12">
	                            <div class="services-head">
	                                <h2 class="services-title">Circuitos turísticos</h2>
	                                <span class="services-title-border"></span>
	                                <p class="services-text">Recorre este magnífico departamento con estas rutas sugeridas</p>
	                            </div>
	                            <div class="services-content">
	                                <div class="row">
	                                    <!--feed item 1-->
	                                    <router-link v-for="circuit in circuits" :key="circuit.id_circuit" :to="'/home/circuit/'+circuit.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(circuit.card_image)?'background-image: url(/'+circuit.card_image+')':'background-image: url(/'+defaultcardimage+')'"> 
	                                        <div class="feed_itm_inr">
	                                            <div class="item_desc">
	                                              <h4 class="feed_itm_ttl">{{circuit.name}}</h4>
	                                          </div>
	                                        </div>
	                                    </router-link><!--@end feed item-->
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div> <!-- End container -->
	        </section> <!-- Circuits -->

	        <!-- Gallery and Others ========= -->
	        <div class="container margin_30">

	            <div class="col-md-8">

	                <!-- Gallery ========= -->
	                <div id="gallery" class="margin_30">

	                    <div class="main_title">
	                        <h2><span>Imágenes</span> Destacadas</h2>
	                        <blockquote v-if="department.text_images" v-html="department.text_images">
	                        </blockquote>
	                    </div>

	                    <div class="row">
	                        <div class="col-centered">

	                            <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000">
	                                <div class="carousel-inner">
	                                    <div v-for="(image,index) in images" :class="(index==0) ? 'item active': 'item'">
			                                <div class="carousel-col">
			                                    <img :src="'/'+image.link_image">
			                                </div>
			                            </div>
	                                </div>

	                                <!-- Controls -->
	                                <div class="left carousel-control">
	                                    <a href="#carousel" role="button" data-slide="prev">
	                                        <span class="icon-left-open-4" aria-hidden="true"></span>
	                                        <span class="sr-only">Previous</span>
	                                    </a>
	                                </div>
	                                <div class="right carousel-control">
	                                    <a href="#carousel" role="button" data-slide="next">
	                                        <span class="icon-right-open-4" aria-hidden="true"></span>
	                                        <span class="sr-only">Next</span>
	                                    </a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <hr>
	                </div>
	                
	                <!-- Top Destinations ========= -->
	                <div class="main_title">
	                    <h2><span>Destinos</span> Destacados</h2>
	                </div>
	                
	                <div class="row">

	                    <!--feed item 1-->
                         <router-link v-for=" site in outstandingSite" :to="'/home/interestsite/'+site.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(site.link_image) ? 'background-image: url(/'+site.link_image+')' : 'background-image: url(/'+defaultcardimage+')'" :key="site.id_site"> 
                            <div class="feed_itm_inr">
                                <div class="item_desc">
                                  <h4 class="feed_itm_ttl">{{site.name}}</h4>
                              </div>
                            </div>
                        </router-link><!--@end feed item-->
	                </div>
	                
	                <!-- Services ========= -->
	                <div class="suggested-places margin_15">
	                    <div class="overflow-hidden">
	                        <div class="row">

	                            <div v-if="hotels.length>0" class="col-sm-4">
	                                <div class="title"><h4>Hoteles</h4></div>
	                                <ul class="check-square box">
	                                    <li v-for="hotel in hotels">
	                                        <router-link :to="'/home/hotel/'+hotel.slug">
	                                        	<h6 class="box-title">{{hotel.name}}<small>{{hotel.municipality}}</small></h6>
	                                        </router-link>
	                                    </li>
	                                </ul>
	                                <router-link class="button" title="MORE" to="/home/hotels">Ver más</router-link>
	                            </div>

	                            <div v-if="restaurants.length>0" class="col-sm-4">
	                                <div class="title"><h4>Restaurantes</h4></div>
	                                <ul class="check-square box">
	                                    <li v-for="restaurant in restaurants">
	                                        <router-link :to="'/home/restaurant/'+restaurant.slug">
	                                        	<h6 class="box-title">{{restaurant.name}}<small>{{restaurant.municipality}}</small></h6>
	                                        </router-link>
	                                    </li>
	                                </ul>
	                                 <router-link class="button" title="MORE" to="/home/restaurants">Ver más</router-link>
	                            </div>

	                            <div v-if="operators.length>0" class="col-sm-4">
	                                <div class="title"><h4>Operadores Turísticos</h4></div>
	                                <ul class="check-square box">
	                                    <li v-for="operator in operators">
	                                        <router-link :to="'/home/hotel/'+operator.slug">
	                                        	<h6 class="box-title">{{operator.name}}<small>{{operator.municipality}}</small></h6>
	                                        </router-link>
	                                    </li>
	                                </ul>
	                                 <router-link class="button" title="MORE" to="/home/operators">Ver más</router-link>
	                            </div>

	                        </div>
	                    </div>
	                </div>
	            </div>
	            
	            <aside class="container col-md-4">

	                <div class="colbanner center greencolored">
	                    <h4>estado de las <span>vías</span></h4>
	                    <p>
	                        Consulta el estado de carreteras a nivel nacional.
	                    </p>
	                    <a href="https://www.policia.gov.co/estado-vias" target="_blank" class="btn_1 white">Ir</a>
	                </div>
	                <div v-if="patterns['right-banner']!= null"  class="box_style_1">
	                    <div v-for="pattern in patterns['right-banner']">
	                        <div v-if="pattern.multimedia_type == 'Imagen'">
			                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
			                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
			                </div>

			                <div v-if="pattern.multimedia_type == 'Codigo'">
			                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
			                    </div>
			                </div>

			                <div v-if="pattern.multimedia_type == 'Video'" >
			                    <div >
			                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
			                    </div>
			                </div>
			              <hr>
	                    </div>
	                </div>
	            </aside>
	        </div>
	        <hr>
	        
	        <!-- Department Video -->
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-md-6 nopadding features-intro-img">
	                    <div class="features-bg">
	                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HOUv9zpTbWo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	                    </div>
	                </div>
	                <div class="col-md-6 nopadding">
	                    <div class="features-content">
	                        <h3>{{department.title_extra_description}}</h3>
	                        <div v-html="department.text_images"></div>
	                    </div>
	                </div>
	            </div>
	        </div> <!-- End Department Video -->

	        <!-- Planes ============================================== -->
	        <div class="white_bg">
	            <div class="container">

	                <!-- Third Banner ========================================= -->
	                <div id="thirdbanner">
	                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
	                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
	                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
	                                <div class="img_container_gallery">
	                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                        <img :src="'/'+pattern.pattern" class="img-responsive">
	                                        <i class="icon-resize-full-2"></i>
	                                    </a>
	                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                        <img :src="'/'+pattern.pattern" class="img-responsive">
	                                        <i class="icon-resize-full-2"></i>
	                                    </a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- Third Banner -->
	            
	                <!-- Title Planes -->
	                <div class="main_title">
	                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
	                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
	                </div> <!-- End Title Planes -->
	                
	                <!-- Planes -->
	                <div class="row">
	                 	<div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
	                        <div class="tour_container">
	                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
	                            <div class="img_container">
	                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
	                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
	                                <div class="short_info">
	                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
	                                </div>
	                                </a>
	                            </div>
	                            <div class="tour_title">
	                                <h3><strong>{{service.service_name}}</strong></h3>
	                                <div class="rating" v-if="service.cuantity>0">
	                                    
	                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
	                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

	                                    <small>({{service.cuantity}})</small>
	                                </div><!-- end rating -->
	                            </div>
	                        </div><!-- End box tour -->
	                    </div><!-- End col-md-4 -->
	                </div> <!-- End Planes -->
	                 <!-- Buttom -->
	                <p class="text-center add_bottom_30">
	                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
	                </p> <!-- End Buttom -->
	            </div>
	        </div> <!-- End Planes -->

	        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
	    </main> <!-- End main -->
	</div>
</template>
<style>
@import '~/front/css/shop.css';
@import '~/front/css/weather.css';
</style>
<script>
	import axios from 'axios'

	export default{
		data(){
			return{
				department:[],
				region:[],
				patterns:[],
				page:[],
				defaultImage:'',
				images:[],
				hotels:[],
				restaurants:[],
				operators:[],
				outstanding:[],
				municipalities:[],
				municipalitiesToMap:[],
				hotelsOutstanding:[],
				restaurantsOutstanding:[],
				slug:"",
				metas:{'description':'','keywords':'','title':''},
                services:[],
                defaultcardimage:'',
                listServices:[],
                counts:[],
                outstandingSite:[],
                circuits:[],
                municipality:[],
                defaulthotel:'',
				defaultrestaurant:'',
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getDepartment();            
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		metaInfo () {
	      return {
	        title: this.metas.title,
	        titleTemplate: '%s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]}
		},
		methods:{
			getDepartment:function()
			{
				axios.get('/vue/department/'+this.slug).then(response=>{
					this.department = response.data.department;
                    this.patterns = response.data.patterns;
                    this.defaultcardimage = response.data.defaultcardimage;
                    this.cant_keydata = response.data.cant_keydata;
            		if(response.data.department)
            		{
                        this.metas.title= this.department.department_name;
            			this.metas.keywords = response.data.department.keywords;
            		}
                    this.restaurants = response.data.restaurants;
                    this.hotels = response.data.hotels;
                    this.operators = response.data.operators;
                    this.images = response.data.images;
                    this.outstanding = response.data.outstanding;
                    this.outstandingSite = response.data.InterestSites;
                    this.defaultImage = response.data.defaultImage;
                    this.region = response.data.region; 
                    this.hotelsOutstanding = response.data.hotelsOutstanding; 
                    this.restaurantsOutstanding = response.data.restaurantsOutstanding; 
                    this.municipalitiesToMap = response.data.municipalitiesToMap; 
                    this.municipalities = response.data.municipalities; 
                    this.defaulthotel = response.data.defaulthotel; 
                    this.defaultrestaurant = response.data.defaultrestaurant; 
                    this.circuits = response.data.circuits; 
                    
                    this.startCarousel();
                    this.createMap();
				},(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
                
            },
			startCarousel:function()
            {

                $("#preloader").css('display', 'none');
                $('.cmn-toggle-switch').removeClass('active');
                $('.main-menu').removeClass('show');
            	setTimeout(function() {
            		'use strict';
					$('#layerslider').layerSlider({
						autoStart: true,
						responsive: true,
						responsiveUnder: 1280,
						layersContainer: 1170,
						skinsPath: '/front/layerslider/skins/'
							// Please make sure that you didn't forget to add a comma to the line endings
							// except the last line!
					});

					$('#Img_carousel').sliderPro({
		                width: 960,
		                height: 500,
		                fade: true,
		                arrows: true,
		                buttons: false,
		                fullScreen: false,
		                smallSize: 500,
		                startSlide: 0,
		                mediumSize: 1000,
		                largeSize: 3000,
		                thumbnailArrows: true,
		                autoplay: false
		            });

            	}, 1000);
            	setTimeout(function() {
                    $('.carousel[data-type="multi"] .item').each(function() {
                    var next = $(this).next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));

                    for (var i = 0; i < 2; i++) {
                        next = next.next();
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }

                        next.children(':first-child').clone().appendTo($(this));
                    }
                });
                }, 3000);
            },
			createMap:function()
		    {
		        var municipalitiesToMap;
		        municipalitiesToMap = this.municipalitiesToMap;
		        setpoints(municipalitiesToMap,'municipality',10);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
	}

</script>