<template>
	<div>
		<!-- Slider -->
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:600px;">
            <!-- first slide -->
            <div v-for="banner in hotelsOutstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img v-if="banner.introduction_image" :src="'/'+banner.introduction_image" class="ls-bg" alt="Slide background">
                <img v-else :src="'/'+defaultimage" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.establishment_name}}</h3>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/hotel/'+banner.slug">Ver hotel</router-link>
            </div>

            <!-- second slide -->
            <div v-for="banner in restaurantsOutstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img v-if="banner.introduction_image" :src="'/'+banner.introduction_image" class="ls-bg" alt="Slide background">
                <img v-else :src="'/'+defaultimage" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.establishment_name}}</h3>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/restaurant/'+banner.slug">Ver restaurante</router-link>
            </div>

            <!-- third slide -->
            <div v-for="banner in operatorsOutstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img :src="'/'+defaultoperator" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.name}}</h3>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/operator/'+banner.slug">Ver operador</router-link>
            </div>

        </div>
    </div> <!-- End layerslider -->
	<main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    </li>
                    <li>Directorio</li>
                </ul>
            </div>
        </div> <!-- End Position -->

        <!-- Top Destinations Banner -->
            <div class="container">
	            <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div> 
            <!-- End Top Destinations Banner -->

        <!-- Search =============================================== -->
        <section id="search_container">
            <div id="search">
                <ul class="nav nav-tabs">
                    <li><a href="#rutas" data-toggle="tab">Rutas</a></li>
                    <li><a href="#hotels" data-toggle="tab">Especiales</a></li>
                </ul>

                <div class="tab-content">

                    <!-- Rutas -->
                    <div class="tab-pane active" id="rutas">
                        <h3>¿A dónde quieres ir?</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Origen</label>
                                    <input type="text" v-model="origin.text" @keyup="getSite('origin')" class="form-control" id="origin" placeholder="Buscar">
                                    <input type="hidden">
                                    <ul class="listOptions">
                						<li v-for="option in options" class="selectSearch" v-on:click="validateOrigin(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesOrigin"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Destino</label>
                                    <input type="text" v-model="destiny.text" @keyup="getSite('destiny')" class="form-control" id="destiny" placeholder="Buscar">
                                    <ul class="listOptions">
                						<li v-for="option in optionsDestiny" class="selectSearch" v-on:click="validateDestiny(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesDestiny"></span>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                        <hr>
                        <div align="center">
                            <span id="messagesButton"></span><br>
                        	<button class="btn_1 green" v-on:click="search()"><i class="icon-search"></i>Buscar</button>
                        </div>
                    </div> <!-- End Actividades -->

                    <!-- Especiales -->
                    <div class="tab-pane" id="hotels">
                        <h3>¡Información al alcance de la mano!</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Especial</label>
                                    <select class="form-control" id="specialSelect" v-model="specialSelect">
                                        <option></option>
                                        <option v-for="special in specials" v-if="special.type=='rutas'" :value="'/home/special/special/'+special.slug">{{special.name}}</option>
                                        <option v-else :value="'/home/special/normalspecial/'+special.slug">{{special.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                        <hr>
                        <button class="btn_1 green" v-on:click="redirectSpecial()"><i class="icon-search"></i>Buscar</button>
                    </div> <!-- End Especiales -->
                </div>
            </div>
        </section> <!-- End Search -->

        <!-- Map -->
        <div class="main_title" id="divmap" hidden>
        	<div class="row">
        		<div class="col-sm-12 col-md-6">
        			<div id="map" ></div>
        		</div>
			    <div id="right-panel" class="col-sm-12 col-md-6">
			      <p>Distancia total: <span id="total"></span></p>
			    </div>
        	</div>
        </div> <!-- End Map -->

		<!-- Hotels Section ======================================= -->
        <div class="row" style="margin:0!important">
            <div class="col-xs-12 col-md-5 col-md-offset-1" style="    padding: 2%;">
                <div class=" margin_15">

                    <!-- Directory -->
                    <div class="row">

                        <!-- Title Destinations -->
                        <div class="main_title">
                            <h2><span>Hoteles </span>que te encantarán</h2>
                            <p>Hoteles de <strong>Colombia</strong> en los que podrás descansar <strong>como si estuvieras en casa</strong></p>
                        </div> <!-- End Title Destinations -->

                        <div v-if="hotels.length>0" v-for="hotel in hotels"  class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
		                    <div class="tour_container">
		                        <div class="ribbon_3 popular"><span>{{hotel.municipality.municipality_name}}</span></div>
		                        <div class="img_container">
		                             <router-link :to="'/home/hotel/'+hotel.slug">
		                                <img :src="(hotel.card_image)?'/'+hotel.card_image:'/'+defaulthotel" class="img-responsive" alt="image">
		                            </router-link>
		                        </div>
		                        <div class="tour_title">
		                            <h3><b>{{hotel.establishment_name}}</b></h3>
		                            <span v-html="hotel.description.substr(0,110)+'...' "></span><router-link :to="'/home/hotel/'+hotel.slug">Ver más</router-link>
		                        </div>
		                    </div><!-- End box tour -->
        		        </div> <!-- End Hotel1 -->
                    </div> <!-- End Directory -->

                    <!-- Bottom -->
                    <p class="text-center add_bottom_30">
                        <router-link to="/home/hotels" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los Hoteles ({{allHotels}}) </router-link>
                    </p><!-- End Bottom -->
                </div> <!-- End Hotels -->

            </div>
            <div class="col-xs-12 col-md-5" style="    padding: 2%;">
                 <div class=" margin_15">

                    <!-- Directory -->
                    <div class="row">

                         <!-- Title Destinations -->
                        <div class="main_title">
                            <h2><span>Restaurantes </span>para disfrutar</h2>
                            <p>Restaurantes de <strong>Colombia</strong> en los que podrás disfrutar <strong>la variada gastronomía del país</strong></p>
                        </div> <!-- End Title Destinations -->
                        <div v-if="restaurants.length>0" v-for="restaurant in restaurants"  class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
		                    <div class="tour_container">
		                        <div class="ribbon_3 popular"><span>{{restaurant.municipality.municipality_name}}</span></div>
		                        <div class="img_container">
		                             <router-link :to="'/home/restaurant/'+restaurant.slug">
		                                <img :src="(restaurant.card_image)?'/'+restaurant.card_image:'/'+defaultrestaurant"class="img-responsive" alt="image">
		                            </router-link>
		                        </div>
		                        <div class="tour_title">
		                            <h3><b>{{restaurant.establishment_name}}</b></h3>
		                            <span v-html="restaurant.description.substr(0,110)+'...' "></span><router-link :to="'/home/restaurant/'+restaurant.slug">Ver más</router-link>
		                        </div>
		                    </div><!-- End box tour -->
		                </div> <!-- End Hotel1 -->
                    </div> <!-- End Directory -->

                    <!-- Bottom -->
                    <p class="text-center add_bottom_30">
                        <router-link to="/home/restaurants" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los Restaurantes ({{allRestaurants}}) </router-link>
                    </p><!-- End Bottom -->
                </div>
            </div>
        </div>
        
        <!-- Third Banner ========================================= -->
		<div id="thirdbanner" style="margin-bottom: 2%">
            <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Third Banner -->

        <!-- PST's Section ======================================= -->
        <div class="container margin_30">

            <!-- Directory -->
            <div class="row">

                <!-- Title Destinations -->
                <div class="main_title">
                    <h2><span>Operadores Turísticos </span>que te encantarán</h2>
                    <p>Operadores Turísticos de <strong>Colombia</strong> con los que podrás realizar <strong>las actividades que te apasionan</strong></p>
                </div> <!-- End Title Destinations -->

                <div v-if="operators.length>0" v-for="operator in operators"  class="col-md-3 col-sm-4 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{operator.municipality_name}}</span>
                        </div>
                        <div class="img_container">
                            <router-link :to="'/home/operator/'+operator.slug">
                                <img :src="(operator.card_image)?'/'+operator.card_image:'/'+defaultcardimage" width="800" height="533" class="img-responsive" alt="Image">
                            </router-link>
                        </div> <!-- end image -->
                        <div class="tour_title">
                            <h3><strong>{{operator.name}}</strong></h3> <!-- end name -->
                            <p>
                            	<router-link :to="'/home/operator/'+operator.slug"><strong>Ver Más</strong> </router-link>
                            </p> <!-- end description -->
                        </div>
                    </div>
                    <!-- End box tour -->
                </div> <!-- End Item1 -->
            </div> <!-- End Directory -->

            <!-- Bottom -->
            <p class="text-center add_bottom_30">
                <router-link to="/home/operators" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los Operadores ({{allOperators}}) </router-link>
            </p><!-- End Bottom -->
        </div> <!-- End PST's -->

        <!-- Third Banner ========================================= -->
		<div id="thirdbanner" style="margin-bottom: 2%">
            <div v-if="patterns['carrousel-banner-bottom']!= null" class="container margin_15">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-bottom']">
                    <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Third Banner -->

       	<section class="promo_full" v-if="patterns['video-banner']!= null">
		    <div class="promo_full_wp magnific">
		            <div v-for="pattern in patterns['video-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
		                    </div>
		                </div>
		            </div>
		        <!--<div>
		            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>-->
		    </div>
	    </section> <!-- End video -->

	</main>
	<!-- End main -->

	</div>
</template>
<script>

	import axios from 'axios';

	export default{
		data(){
			return{
				hotelsOutstanding:[],
				restaurantsOutstanding:[],
				operatorsOutstanding:[],
				page:[],
				hotels:[],
				restaurants:[],
				defaultrestaurant:'',
				defaulthotel:'',
				defaultimage:'',
				defaultoperator:'',
				defaultcardimage:'',
				allHotels:0,
				allRestaurants:0,
				allOperators:0,
				metas:{'description':'','keywords':'','title':''},
				operators:[],
				specials:[],
				specialSelect:'',
				origin:{'text':''},
				destiny:{'text':''},
				options:[],
				finalOrigin:[],
				optionsDestiny:[],
				finalDestiny:[],
				pointsmap:[],
                patterns:[],
				startPoint:[],
			}
		},
		mounted()
		{
            this.getDirectory();            
			$("#preloader").css('display', 'initial');
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		metaInfo () {
          return {
            title:  'Directorio',
            titleTemplate: '%s | Guía de Rutas por Colombia',
            meta: [
              { vmid: 'description', name: 'description', content: this.metas.description },
              { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
            ]
          }
        },
		methods:
		{
			getDirectory:function()
			{
				axios.post('/vue/directory').then(response=>{
					this.hotelsOutstanding = response.data.hotelsOutstanding;
					this.restaurantsOutstanding = response.data.restaurantsOutstanding;
					this.operatorsOutstanding = response.data.operatorsOutstanding;
					this.hotels = response.data.hotels;
                    this.restaurants = response.data.restaurants;
					this.patterns = response.data.patterns;
    				this.defaultrestaurant = response.data.defaultrestaurant;
    				this.defaulthotel = response.data.defaulthotel;
    				this.defaultimage = response.data.defaultimage;
    				this.defaultoperator = response.data.defaultoperator;
    				this.defaultcardimage = response.data.defaultcardimage;
    				this.operators = response.data.operators;
    				this.allHotels = response.data.allHotels;
    				this.allRestaurants = response.data.allRestaurants;
    				this.allOperators = response.data.allOperators;
    				this.specials = response.data.specials;
					this.startBanner();

					if(response.data.page)
                    {
                        this.metas.description = response.data.page.description;
                        this.metas.title = response.data.page.page_name;
                        this.metas.keywords = response.data.page.keywords;
                    }
					$("#preloader").css('display', 'none');
                },(error) => {
                        this.$router.push('/home');
                });

			},
			startBanner:function()
            {
                $("#preloader").css('display', 'none');
                $('.cmn-toggle-switch').removeClass('active');
                $('.main-menu').removeClass('show');
                setTimeout(function() {
                $('#layerslider').layerSlider({
                autoStart: true,
                responsive: true,
                responsiveUnder: 1280,
                layersContainer: 1170,
                skinsPath: '/front/layerslider/skins/'
                    // Please make sure that you didn't forget to add a comma to the line endings
                    // except the last line!
                });

                }, 500);
            },
            redirectSpecial:function()
            {
            	if(this.specialSelect!='')
            	{
            		this.$router.push(this.specialSelect);
            	}
            	else
            	{
            		swal('Error','Debe seleccionar un especial','error');
            	}
            },
            getSite:function(type)
			{
				if(type == 'origin')
				{
					if(this.origin.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesOrigin').text('Por favor digite más de 3 caracteres');
						this.options=[];
					}
					else
					{
						$('#messagesOrigin').text('');
						console.log(this.origin.text);
						axios.put('/vue/getnamesites',{'name':this.origin.text}).then(response=>{
							this.options = response.data;
						});
					}
				}
				else
				{
					if(this.destiny.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesDestiny').text('Por favor digite más de 3 caracteres');
						this.optionsDestiny=[];
					}
					else
					{
						$('#messagesDestiny').text('');
						console.log(this.destiny.text);
						axios.put('/vue/getnamesites',{'name':this.destiny.text}).then(response=>{
							this.optionsDestiny = response.data;
						});			
					}
				}
			},
			validateOrigin:function(option)
			{
				if(this.finalDestiny=='')
				{
					$('#messagesOrigin').text('');
					$('#messagesButton').text('');
					this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
					this.options={};
					this.origin.text=option.name;
				}
				else
				{
					if(this.finalDestiny.slug==option.slug)
					{
						$('#messagesOrigin').text('El lugar de inicio debe ser diferente al final');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesOrigin').text('');
						$('#messagesButton').text('');
						this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
						this.options={};
						this.origin.text=option.name;
					}
				}
			},
			validateDestiny:function(option)
			{
				if(this.finalOrigin=='')
				{
					$('#messagesDestiny').text('');
					$('#messagesButton').text('');
					this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
					this.optionsDestiny={};
					this.destiny.text=option.name;
				}
				else
				{
					if(this.finalOrigin.slug==option.slug)
					{
						$('#messagesDestiny').text('El lugar final debe ser diferente al del inicio');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesDestiny').text('');
						$('#messagesButton').text('');
						this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
						this.optionsDestiny={};
						this.destiny.text=option.name;
					}
				}
			},
			search:function()
			{
				if(this.finalDestiny.slug!='' && this.finalOrigin.slug!='')
				{
					axios.put('/vue/getnearbypoints',{'origin':this.finalOrigin,'destiny':this.finalDestiny}).then(response=>{
							this.pointsmap = response.data.points;
							this.startPoint = response.data.start;
							this.endPoint = response.data.end;
							this.createMap();
							console.log(response.data);
					});
				}
				else
				{
					$('#messagesButton').text('Se debe seleccionar un punto inicial y uno final');
				}
			},
			createMap:function()
		    {
		    	$('#divmap').removeAttr('hidden');
		        var points;
		        points = this.pointsmap;
		        setpoints(points,'individual',10);
                calculateAndDisplayRoute(this.startPoint, this.endPoint);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
	
</script>