<template>
	<div>
		 <!-- Slider -->
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:600px;">
            <!-- first slide -->
            <div  v-if="outstanding.length>0" v-for="banner in outstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img :src="'/'+banner.link_image" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.fair_name}}</h3>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/fair/'+banner.slug">Ir al evento</router-link>
            </div>
             
            <div v-else class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img src="/img/portrutas.jpg" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Rutas por Colombia</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">Recorre Colombia
                    </p>
            </div>
        </div>
    </div> <!-- End layerslider -->
	
    <!-- Main ================================================== -->
    <main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    </li>
                    <li>Ferias y fiestas</li>
                </ul>
            </div>
        </div> <!-- End Position -->
		<!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->

        <!-- Top Info =============================================== -->
        <div class="white_bg">

            <!-- Top Destinations Banner -->
            <div class="container">
	            <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div> 
            <!-- End Top Destinations Banner -->

            <!-- Calendar -->
            <div class="container">
                <div class="main_title">
                    <h2>Ferias, <span>Fiestas</span> y Eventos</h2>
                    <p>Actividades para disfrutar durante todo el año</p>
                </div>

                <div class="row add_bottom_45">

                    <div class="col-md-3 col-xs-6 other_tours">
                        <ul>
                            <li @click="filterMonth(1)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-1"></i>Enero
                            	<span class="other_tours_price">{{counts.Jan}}</span></a>
                            </li>
                            <li @click="filterMonth(2)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-4"></i>Febrero
                            	<span class="other_tours_price">{{counts.Feb}}</span></a>
                            </li>
                            <li @click="filterMonth(3)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-30"></i>Marzo
                            	<span class="other_tours_price">{{counts.Mar}}</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 other_tours">
                        <ul>
                            <li @click="filterMonth(4)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-3"></i>Abril
                            	<span class="other_tours_price">{{counts.Apr}}</span></a>
                            </li>
                            <li @click="filterMonth(5)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-30"></i>Mayo
                            	<span class="other_tours_price">{{counts.May}}</span></a>
                            </li>
                            <li @click="filterMonth(6)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-3"></i>Junio
                            	<span class="other_tours_price">{{counts.Jun}}</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 other_tours">
                        <ul>
                            <li @click="filterMonth(7)"><a href="javascript:void(0)"><i class="icon_set_1_icon-37"></i>Julio
                            	<span class="other_tours_price">{{counts.Jul}}</span></a>
                            </li>
                            <li @click="filterMonth(8)"><a href="javascript:void(0)"><i class="icon_set_1_icon-1"></i>Agosto
                            	<span class="other_tours_price">{{counts.Aug}}</span></a>
                            </li>
                            <li @click="filterMonth(9)"><a href="javascript:void(0)"><i class="icon_set_1_icon-50"></i>Septiembre
                            	<span class="other_tours_price">{{counts.Sep}}</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-xs-6 other_tours">
                        <ul>
                            <li @click="filterMonth(10)"><a href="javascript:void(0)"><i class="icon_set_1_icon-44"></i>Octubre
                            	<span class="other_tours_price">{{counts.Oct}}</span></a>
                            </li>
                            <li @click="filterMonth(11)"><a href="javascript:void(0)"><i class="icon_set_1_icon-50"></i>Noviembre
                            	<span class="other_tours_price">{{counts.Nov}}</span></a>
                            </li>
                            <li @click="filterMonth(12)"><a href="javascript:void(0)"><i class="icon_set_1_icon-44"></i>Diciembre
                            	<span class="other_tours_price">{{counts.Dec}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- End Calendar -->
        </div> <!-- End Top Info -->

        <!-- Events =============================================== -->
        <div class="container">

        	<div class="row padding_15" >
        		<div id="tools">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="styled-select-filters">
								<select id="monthSelect" @change="changeMonth">
									<option value="" selected="">Filtrar por mes</option>
									<option v-for="(month,index) in months" :value="index" :id="index">{{month}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="styled-select-filters">
								<select id="regionSelect" @change="changeRegion">
									<option value="" selected="">Filtrar por región</option>
									<option v-for="(region,slug) in regionlist" :value="slug" :id="slug">{{region}}</option>
								</select>
							</div>
						</div>
						<div v-if="departments.length >0" class="col-md-3 col-sm-3 col-xs-6">
							<div class="styled-select-filters">
								<select id="departmentSelect" @change="changeDepartment">
									<option value="" selected="">Filtrar por departamento</option>
									<option v-for="department in departments" :value="department.slug" :id="department.slug">{{department.department_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<button class="bt_filters" @click="seeAll()"> Ver todo</button >
						</div>
					</div>
				</div>
        	</div>

            <!-- Región Centro -->
            <div v-for="region in regions" v-if="region.departments.length >0" class="padding_15">

                <div class="card-head">
                    <h2 class="card-title">Región {{region.region_name}}</h2>
                    <span class="card-title-border"></span>
                    <p class="card-text">Ferias y Fiestas para disfrutar</p>
                </div>

                <!-- Tabs Región Centro -->
                <div class="card card-nav-tabs">
                    <div class="card-header" :style="'background: linear-gradient(60deg,'+region.dark_color+','+region.light_color+');box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px '+region.dark_color">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li v-for="department in region.departments"  class="nav-item">
                                        <a class="nav-link" :href="'#'+department.slug" data-toggle="tab">
                                            {{department.department_name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div  v-for="(department, indexDepto) in region.departments" :id="department.slug" :class="indexDepto==0 ?'tab-pane active':'tab-pane'">
                                <div class="container col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <!--feed item 1-->
                                        <router-link v-for="(fair,index) in  department.fairs" :key="fair.id_fair" :to="'/home/fair/'+fair.slug" :class="index==1 ?'feed_itm col-sm-8 col-xs-12':'feed_itm col-sm-4 col-xs-12'" :style="'background-image: url(/'+fair.link_image+')'"> 
                                            <div class="feed_itm_inr">
                                                <div class="item_desc">
                                                    <span v-if="fair.outstanding" class="label label-success"> Festival Destacado</span>
                                                    <h4 class="feed_itm_ttl">{{fair.fair_name}}</h4>
                                                    <p class="feed_itm_prc">{{fair.principal_municipality.municipality_name}}| {{ months[new Date(fair.start_date).getMonth()+1] }}</p>
                                                </div>
                                            </div>
                                        </router-link> <!--@end feed item-->
                                    </div>
                                </div>
                                <!-- Buttom -->
                                <p class="text-center add_bottom_30" >
                                    <button @click="filterRegion(region.slug)" style="margin-top: 2%" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todas las fiestas de {{region.region_name}}
                                    </button>
                                </p> <!-- End Buttom -->
                            </div>
                        </div>
                    </div>
                </div> <!-- End Tabs Región Centro -->
            </div>
        </div>

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">
				
                <!-- Third Banner ========================================= -->
				<div id="thirdbanner">
		            <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
		                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
		                    <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
		                        <div class="img_container_gallery">
		                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
		                                <img :src="'/'+pattern.pattern" class="img-responsive">
		                                <i class="icon-resize-full-2"></i>
		                            </a>
		                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
		                                <img :src="'/'+pattern.pattern" class="img-responsive">
		                                <i class="icon-resize-full-2"></i>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel" target="_blank">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                    <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
	                    <div class="tour_container">
	                        <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
	                        <div class="img_container">
	                            <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
	                            <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
	                            <div class="short_info">
	                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
	                            </div>
	                            </a>
	                        </div>
	                        <div class="tour_title">
	                            <h3><strong>{{service.service_name}}</strong></h3>
	                            <div class="rating" v-if="service.cuantity>0">
	                                
	                                <i class="icon-smile voted" v-for="votes in service.average"></i>
	                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

	                                <small>({{service.cuantity}})</small>
	                            </div><!-- end rating -->
	                        </div>
	                    </div><!-- End box tour -->
	                </div><!-- End col-md-4 -->
                    
                </div> <!-- End Planes -->

                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                	<a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
            	</p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
    </main> <!-- End main -->

	</div>
</template>

<script>
	import axios from 'axios';

	export default{
		data()
		{
			return{
				outstanding:[],
				regions:[],
				regionlist:[],
				counts:[],
    			slug:[],
                patterns:[],
        		departments:[],
        		state:true,
        		months:{1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'},
				metas:{'description':'','keywords':'','title':''},
                services:[],
        		urlChain:'',
			}
		},
		mounted()
		{
			this.slug = this.$route.query;
		    var self = this;
	        setTimeout(function()
	        {
	            var x;
	            for (x in self.slug)
	            {
	                var selector  = self.slug[x];
	                if(x == "region" || x == "department")
	                {
                        if(selector!='')
                        {
                            $("#"+selector).attr('selected', 'selected');
                        }
	                }
	                else if(x == "month")
	                {
	                	if(selector!='')
                        {
                            $("#"+selector).attr('selected', 'selected');
                        }
	                }
	                else
	                {
	                    $("#"+self.slug[x]).attr('selected', 'selected');
	                }

	            }
	        },1000);  
			$("#preloader").css('display', 'initial');
            this.getFairs();            
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		metaInfo () {
	      return {
	        title: 'Ferias y fiestas',
	        titleTemplate: '%s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		watch:
		{
		  	'$route.query':function()
		  	{
		  		this.slug = this.$route.query;
		  		this.getFairs();
		  	}
		},
		methods:
		{
			getFairs:function()
			{
				axios.put('/vue/fairs',this.slug).then(response=>{
					this.outstanding = response.data.outstanding;
					this.regions = response.data.regions;
                    this.counts = response.data.counts;
					this.patterns = response.data.patterns;
    				this.departments = response.data.departments;
    				this.regionlist = response.data.regionList;
					this.startBanner();
					$("#preloader").css('display', 'none');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
			},
			seeAll:function()
			{
				this.urlChain = '';
				this.$router.push({
				   	path: '/home/fairs',
				});
				this.updateSelect();
			},
			startBanner:function()
			{
				if(this.state)
				{
					this.state = false;
					setTimeout(function() {
					$('#layerslider').layerSlider({
	                autoStart: true,
	                responsive: true,
	                responsiveUnder: 1280,
	                layersContainer: 1170,
	                skinsPath: '/front/layerslider/skins/'
	                    // Please make sure that you didn't forget to add a comma to the line endings
	                    // except the last line!
	            	});

					}, 500);
				}
				
			},
			filterRegion:function(slug)
			{
				this.$router.push({
				   	path: '/home/fairs'+this.urlChain,
				    query: { region: slug }
				});
				this.updateSelect();
			},
			filterMonth:function(month)
			{
				this.$router.push({
				   	path: '/home/fairs'+this.urlChain,
				    query: { month: month }
				});
				this.updateSelect();
			},
			changeMonth:function()
		    {
		    	this.getChain();
				//self variable auxiliar dentro de la funcion para indicar que es this :v
				var self = this;
				setTimeout(function()
	                {
					var monthState = false;
					var month = '';
			    	
		    		if($("#monthSelect").val()!='')
		    		{
		    			monthState = true;
		    			month =$("#monthSelect").val();
		    		}
				       
			    	if(monthState)
			    	{
			    		//busqueda
						self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						    query: { month: month }
						});
			    	}
			    	else{
			    		self.outChain('month');
			    		self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						});
			    	}
				},50);
				this.updateSelect();
		    },
		    changeRegion:function()
		    {
		    	this.getChain();
				//self variable auxiliar dentro de la funcion para indicar que es this :v
				var self = this;
				setTimeout(function()
	                {
					var regionState = false;
					var region = '';
			    	
		    		if($("#regionSelect").val()!='')
		    		{
		    			regionState = true;
		    			region =$("#regionSelect").val();
		    		}
				       
			    	if(regionState)
			    	{
			    		//busqueda
						self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						    query: { region: region }
						});
			    	}
			    	else{
			    		self.outChain('region');
			    		self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						});
			    	}
				},50);
				this.updateSelect();
		    },
		    changeDepartment:function()
		    {
		    	this.getChain();
				//self variable auxiliar dentro de la funcion para indicar que es this :v
				var self = this;
				setTimeout(function()
	                {
					var departmentState = false;
					var department = '';
			    	
		    		if($("#departmentSelect").val()!='')
		    		{
		    			departmentState = true;
		    			department =$("#departmentSelect").val();
		    		}
				       
			    	if(departmentState)
			    	{
			    		//busqueda
						self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						    query: { department: department }
						});
			    	}
			    	else{
			    		self.outChain('department');
			    		self.$router.push({
						   	path: '/home/fairs'+self.urlChain,
						});
			    	}
				},50);
				this.updateSelect();
		    },
		    updateSelect:function()
		    {
		    	this.slug = this.$route.query;
			    var self = this;
		        setTimeout(function()
		        {
		            var x;
		            for (x in self.slug)
		            {
		                var selector  = self.slug[x];
		                if(x == "region" || x == "department")
		                {
	                        if(selector!='')
	                        {
	                            $("#"+selector).attr('selected', 'selected');
	                        }
		                }
		                else if(x == "month")
		                {
		                	if(selector!='')
	                        {
	                            $("#"+selector).attr('selected', 'selected');
	                        }
		                }
		                else
		                {
		                    $("#"+self.slug[x]).attr('selected', 'selected');
		                }

		            }
		        },1000);  
		    },
			getChain:function()
		    {
		    	this.urlChain='';
		    	var x; 
		    	var i=0;
		    	for (x in this.slug)
		    	{
		    		if (i==0) this.urlChain+='?'
		    		else this.urlChain+='&'
		    		this.urlChain += x+'=';
		    		this.urlChain +=this.slug[x];
		    		i++;
		    	}
		    },
		    outChain:function(outPlace)
		    {
		    	this.urlChain='';
		    	var x; 
		    	var i=0;
		    	for (x in this.slug)
		    	{
		    		if(x!=outPlace)
		    		{
		    			if (i==0) this.urlChain+='?'
			    		else this.urlChain+='&'
			    		this.urlChain += x+'=';
			    		this.urlChain +=this.slug[x];
			    		i++;
		    		}
		    		
		    	}
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>