<template>
	 <main>

        <!-- Slider ============================================== -->
        <div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="highlight-carousel1" data-source="gallery" style="margin:0px auto;background:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">

            <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
            <div id="rev_slider_13_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- SLIDE  -->
                    <li v-for="wallpaper in wallpapers" data-index="rs-30" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" v-bind:data-thumb="'/'+wallpaper.link_image" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Discover" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img :src="'/'+wallpaper.link_image" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption News-Title   tp-resizeme" id="slide-30-layer-1" data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" data-y="['top','top','top','top']" data-voffset="['350','350','274','274']" data-fontsize="['55','55','40','40']" data-lineheight="['60','60','50','50']" data-width="364" data-height="133" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" :style="'z-index: 5; min-width: 364px; max-width: 364px; max-width: 133px; max-width: 133px; white-space: normal; font-size: 55px;font-family:Montserrat;color:'+wallpaper.primary_color"> {{wallpaper.primary_text}} </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme" id="slide-30-layer-2" data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" data-y="['top','top','top','top']" data-voffset="['487','487','382','382']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;"><img src="front/rev-slider-files/assets/bluebar.png" alt="" data-ww="['350px','350px','350px','350px']" data-hh="['4px','4px','4px','4px']" data-no-retina> </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption News-Subtitle   tp-resizeme" id="slide-30-layer-3" data-x="['left','left','left','left']" data-hoffset="['81','81','41','41']" data-y="['top','top','top','top']" data-voffset="['505','505','401','401']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power3.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 0.65);br:0 0 0px 0;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" :style="'z-index: 7; white-space: nowrap;cursor:pointer;color:'+wallpaper.secundary_color"><router-link :to="wallpaper.url_redirection">{{wallpaper.secundary_text}}</router-link></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption -   tp-resizeme" id="slide-30-layer-4" data-x="['left','left','left','left']" data-hoffset="['423','423','383','383']" data-y="['top','top','top','top']" data-voffset="['507','507','403','403']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(0,210,255,1);"><i class="fa-icon-caret-right"></i> </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div> <!-- End Slider -->
        <!-- Top Banner -->
        <div v-if="patterns['top-middle-banner']!= null" id="banner">
            <div v-for="pattern in patterns['top-middle-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Top Banner -->

        <!-- Search =============================================== -->
        <!-- <div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->

        <section id="search_container">
	        <div id="search">
	            <ul class="nav nav-tabs">
	                <li class="active"><a href="#tours" data-toggle="tab">Planes</a></li>
	                <li><a href="#rutas" data-toggle="tab">Rutas</a></li>
	                <li><a href="#hotels" data-toggle="tab">Especiales</a></li>
	                <li><a href="#restaurants" data-toggle="tab">Directorio</a></li>
	            </ul>

	            <div class="tab-content">

	            	<!-- Planes -->
	                <div class="tab-pane active" id="tours">
	                    <h3>¡Muchas experiencias en un solo lugar!</h3>
	                    <div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label class="select-label">Experiencias para compartir</label>
	                                <select class="form-control">
                                        <option v-for="activity in activitiesfilter" :value="activity.slug">{{activity.service}}</option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End row -->
	                    <hr>
	                    <button class="btn_1 green" v-on:click="changeActivity"><i class="icon-search"></i>Buscar</button>
	                </div> <!-- End Planes -->

	                <!-- Rutas -->
	                <div class="tab-pane" id="rutas">
	                   <h3>¿A dónde quieres ir?</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Origen</label>
                                    <input type="text" v-model="origin.text" @keyup="getSite('origin')" class="form-control" id="origin" placeholder="Buscar">
                                    <input type="hidden">
                                    <ul class="listOptions">
                						<li v-for="option in options" class="selectSearch" v-on:click="validateOrigin(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesOrigin"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Destino</label>
                                    <input type="text" v-model="destiny.text" @keyup="getSite('destiny')" class="form-control" id="destiny" placeholder="Buscar">
                                    <ul class="listOptions">
                						<li v-for="option in optionsDestiny" class="selectSearch" v-on:click="validateDestiny(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesDestiny"></span>
                                </div>
                            </div>
                        </div>
	                    <!-- End row -->
	                    <hr>
	                    <div align="center">
                            <span id="messagesButton"></span><br>
                        	<button class="btn_1 green" v-on:click="search()"><i class="icon-search"></i>Buscar</button>
                        </div>
	                </div> <!-- End Actividades -->

	                <!-- Especiales -->
	                <div class="tab-pane" id="hotels">
	                    <h3>¡Información al alcance de la mano!</h3>
	                    <div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label>Especial</label>
	                                <select class="form-control" id="specials">
	                                	<option v-for="special in specials" :value="(special.type=='rutas')?'/home/special/special/'+special.slug:'/home/special/normalspecial/'+special.slug">{{special.name}}</option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End row -->
	                    <hr>
	                    <button class="btn_1 green" v-on:click="redirectSpecial()"><i class="icon-search" ></i>Buscar</button>
	                </div> <!-- End Hoteles -->

	                <!-- Directorio -->
	                <div class="tab-pane" id="restaurants">
	                    <h3>Experiencias por explorar al alcance</h3>
	                    <div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label>Tipo</label>
	                                	<select class="form-control" id="typesearch">
	                                		<option value="/home/operators">Operador Turístico</option>
	                                		<option value="/home/hotels">Hotel</option>
	                                		<option value="/home/restaurants">Restaurante</option>
	                                	</select>
	                            </div>
	                        </div>
	                    </div>

	                    <hr>
	                    <button class="btn_1 green" v-on:click="redirectSearch()"><i class="icon-search"></i>Buscar</button>
	                </div> <!-- End Restaurantes -->
	            </div>
	        </div>
    	</section> <!-- End Search -->

    	<!-- Map -->
        <div class="main_title" id="divmap" hidden>
        	<div class="row">
        		<div class="col-sm-12 col-md-6">
        			<div id="map" ></div>
        		</div>
			    <div id="right-panel" class="col-sm-12 col-md-6">
			      <p>Distancia total: <span id="total"></span></p>
			    </div>
        	</div>
        </div> <!-- End Map -->
        <div class="container-fluid" id="mapColombia">
			<div class="col-sm-7">
            <svg id="svgMap" viewBox="-500 0 3000 2200" width="100%" height="100%" preserveAspectRatio= "xMinYMin meet"></svg>    
            <!--
                    MOVIL
                <svg id="svgMap" viewBox="400 00 1600 2100" width="100%" height="100%" preserveAspectRatio= "xMinYMin meet"></svg>    -->
        </div>
        <div class="col-md-5 col-sm-12" style="margin-top: 8%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="your-class">
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                              <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(costaCaribe.link_image)?'/'+costaCaribe.link_image:'/'+defaultimage" :alt="costaCaribe.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{costaCaribe.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{costaCaribe.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="costaCaribe.description" class="card-text col-sm-12" v-html="costaCaribe.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+costaCaribe.slug" class="btn_1">Ver más</router-link></p>
                              </div>

                            </div>
                        <!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                              <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(antioquiaYEjeCafetero.link_image)?'/'+antioquiaYEjeCafetero.link_image:'/'+defaultimage" :alt="antioquiaYEjeCafetero.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{antioquiaYEjeCafetero.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{antioquiaYEjeCafetero.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="antioquiaYEjeCafetero.description"  class="card-text col-sm-12" v-html="antioquiaYEjeCafetero.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+antioquiaYEjeCafetero.slug" class="btn_1">Ver más</router-link></p>
                              </div>

                            </div>
                        <!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                              <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(costaPacifica.link_image)?'/'+costaPacifica.link_image:'/'+defaultimage" :alt="costaPacifica.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                             <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{costaPacifica.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{costaPacifica.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="costaPacifica.description" class="card-text col-sm-12" v-html="costaPacifica.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+costaPacifica.slug" class="btn_1">Ver más</router-link></p>
                              </div>

                            </div>
                        <!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                               <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(centro.link_image)?'/'+centro.link_image:'/'+defaultimage" :alt="centro.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{centro.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{centro.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="centro.description" class="card-text col-sm-12" v-html="centro.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+centro.slug" class="btn_1">Ver más</router-link></p>
                              </div>

                            </div>
                        <!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                              <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(llanosOrientales.link_image)?'/'+llanosOrientales.link_image:'/'+defaultimage" :alt="llanosOrientales.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                                <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{llanosOrientales.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{llanosOrientales.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="llanosOrientales.description"  class="card-text col-sm-12" v-html="llanosOrientales.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+llanosOrientales.slug" class="btn_1">Ver más</router-link></p>
                              </div>
                            </div>
                        	<!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                             <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(suroccidente.link_image)?'/'+suroccidente.link_image:'/'+defaultimage" :alt="suroccidente.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                              
                                <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{suroccidente.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{suroccidente.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="suroccidente.description"  class="card-text col-sm-12" v-html="suroccidente.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+suroccidente.slug" class="btn_1">Ver más</router-link></p>
                              </div>

                            </div>
                        <!-- Card Wider -->
                          </div>
                          <div class="col-md-4">
                            <div class="card card-cascade wider align-middle">

                               <!-- Card image -->
                              <div class="view view-cascade overlay">
                                <img class="card-img-top" :src="(amazonia.link_image)?'/'+amazonia.link_image:'/'+defaultimage" :alt="amazonia.region_name">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>

                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="card-title"><strong>{{amazonia.region_name}}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>{{amazonia.sentence}}</strong></h5>
                                <!-- Text -->
                                <div v-if="amazonia.description"  class="card-text col-sm-12" v-html="amazonia.description.substr(0,110)+'...'">
                                </div>
                             	<p><router-link :to="'/home/region/'+amazonia.slug" class="btn_1">Ver más</router-link></p>
                              </div>


                            </div>
                        <!-- Card Wider -->
                          </div>

                        </div>
            
                    </div>
                </div>
           </div>
        </div>
        </div>
    	<!-- What to Do =========================================== -->
    	<div class="container margin_30">

			<!-- Middle Banner ==================================== -->
	    	 <div id="thirdbanner">
                <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                    <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                        <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                            <div class="img_container_gallery">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                                <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

			<!-- Destinations -->
            <section class="container margin_15 text-center">
                <!-- Towns Amazonas -->
                <div class="row">

                    <!-- Title Planes -->
                    <div class="main_title">
                        <h2><span>Destinos </span>únicos!</h2>
                        <p>que te sorprenderán</p>
                    </div> <!-- End Title Planes -->

                    <div v-for="municipality in municipalities" class="text-center col-md-4">
                        <p>
                            <router-link :to="'/home/municipality/'+municipality.slug"><img :src="(municipality.link_image)?'/'+municipality.link_image:'/'+defaultimage" alt="Pic" class="img-responsive"></router-link>
                        </p>
                        <h4><span>{{municipality.municipality_name}}</span></h4>
                        <div  v-html="municipality.description.substr(0,110)+'...'">
                        </div>
                        <p><router-link :to="'/home/municipality/'+municipality.slug" class="btn_1">Ver más</router-link></p>
                    </div> <!-- End Town1 -->

                 </div>
            </section> <!-- Destinations -->

            <!-- Middle Banner ==================================== -->
	    	<div id="thirdbanner">
                <div v-if="patterns['carrousel-banner-middle']!= null" class="container margin_15">
                    <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-middle']">
                        <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                            <div class="img_container_gallery">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                                <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- What to Do Section 2 ================================= -->
            <div class="container">
                <div class="row">

                    <!-- What to Do ======================================= -->
                    <div class="main_title">
                        <h2>Qué hacer en <span>Colombia</span></h2>
                        <p>¡Deja de darle vueltas a tu próximo viaje!</p>

                        <div class="container-fluid margin_15">
                            <div class="row">

                                <div class="col-md-2 col-sm-4 col-xs-6" v-for="activity in activities">
		                            <div class="wrimagecard wrimagecard-topimage">
		                                <router-link :to="'/home/searchwhattodo?type_whattodo='+activity.slug">
		                                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
		                                        <center><i :class="activity.icon_class+' fa-5x'" style="color:#BB7824"></i></center>
		                                    </div>
		                                    <div class="wrimagecard-topimage_title">
		                                        <h4>{{activity.activity_name}}</h4>
		                                    </div>
		                                </router-link>
		                            </div>
		                        </div>
                            </div>
                        </div> <!-- End What to Do -->
                    </div>


	                <router-link v-for="(site,index) in sites" :to="site.type_relation=='municipality' ? '/home/municipality/'+site.municipality.slug : '/home/interestsite/'+site.site.slug"  :class="(site.class)?'feed_itm col-sm-8 col-xs-8':'feed_itm col-sm-4 col-xs-4'" :style="'background-image: url(/'+site.image_link+')'" :key="site.id_activity_pivot"> 
	                    <div class="feed_itm_inr">
	                        <div class="item_desc">
	                          <h4 class="feed_itm_ttl" v-if="site.type_relation=='municipality'">{{site.municipality.municipality_name}}</h4>
	                          <h4 class="feed_itm_ttl" v-else>{{site.site.site_name}}</h4>

	                          <p class="feed_itm_prc">Region {{site.region.region_name}} | {{site.department.department_name}}</p>
	                        </div>
	                    </div>
	                </router-link><!--@end feed item-->
	              
                </div>
            </div>
            <br>
            <!-- Buttom -->
            <p class="text-center add_bottom_30">
                <router-link to="/home/searchwhattodo" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todas las actividades</router-link>
            </p> <!-- End Buttom -->
            <br>
        </div> <!-- End container -->

        <!-- Events =============================================== -->
        <div class="white_bg">
        	<div class="container padding_15">
				<div class="main_title">
					<h2>Ferias, <span>Fiestas</span> y Eventos</h2>
					<p>Actividades para hacer durante todo el año</p>
				</div>

				<div class="row add_bottom_45">

                    <!--feed item 1-->
                    <router-link v-for="(fair,index) in  sitefairs" :key="fair.id_fair" :to="'/home/fair/'+fair.slug" :class="index==1 ?'feed_itm col-sm-8 col-xs-12':'feed_itm col-sm-4 col-xs-12'" :style="'background-image: url(/'+fair.link_image+')'"> 
                        <div class="feed_itm_inr">
                            <div class="item_desc">
                                <span v-if="fair.outstanding" class="label label-success"> Festival Destacado</span>
                                <h4 class="feed_itm_ttl">{{fair.fair_name}}</h4>
                                <p class="feed_itm_prc">{{fair.principal_municipality.municipality_name}}| {{ months[new Date(fair.start_date).getMonth()+1] }}</p>
                            </div>
                        </div>
                    </router-link> <!--@end feed item-->

					<div class="col-md-3 col-xs-6 other_tours">
						<ul>
							<li @click="filterMonth(1)"><a href="#"><i class="icon_set_1_icon-1"></i>Enero<span class="other_tours_price">{{counts.Jan}}</span></a>
							</li>
							<li @click="filterMonth(2)"><a href="#"><i class="icon_set_1_icon-4"></i>Febrero<span class="other_tours_price">{{counts.Feb}}</span></a>
							</li>
							<li @click="filterMonth(3)"><a href="#"><i class="icon_set_1_icon-30"></i>Marzo<span class="other_tours_price">{{counts.Mar}}</span></a>
							</li>
							<li @click="filterMonth(4)"><a href="#"><i class="icon_set_1_icon-3"></i>Abril<span class="other_tours_price">{{counts.Apr}}</span></a>
							</li>
							<li @click="filterMonth(5)"><a href="#"><i class="icon_set_1_icon-30"></i>Mayo<span class="other_tours_price">{{counts.May}}</span></a>
							</li>
							<li @click="filterMonth(6)"><a href="#"><i class="icon_set_1_icon-3"></i>Junio<span class="other_tours_price">{{counts.Jun}}</span></a>
							</li>
						</ul>
					</div>

					<div class="col-md-3 col-xs-6 other_tours">
						<ul>
							<li @click="filterMonth(7)"><a href="#"><i class="icon_set_1_icon-37"></i>Julio<span class="other_tours_price">{{counts.Jul}}</span></a>
							</li>
							<li @click="filterMonth(8)"><a href="#"><i class="icon_set_1_icon-1"></i>Agosto<span class="other_tours_price">{{counts.Aug}}</span></a>
							</li>
							<li @click="filterMonth(9)"><a href="#"><i class="icon_set_1_icon-50"></i>Septiembre<span class="other_tours_price">{{counts.Sep}}</span></a>
							</li>
							<li @click="filterMonth(10)"><a href="#"><i class="icon_set_1_icon-44"></i>Octubre<span class="other_tours_price">{{counts.Oct}}</span></a>
							</li>
							<li @click="filterMonth(11)"><a href="#"><i class="icon_set_1_icon-50"></i>Noviembre<span class="other_tours_price">{{counts.Nov}}</span></a>
							</li>
							<li @click="filterMonth(12)"><a href="#"><i class="icon_set_1_icon-44"></i>Diciembre<span class="other_tours_price">{{counts.Dec}}</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div> <!-- End white_bg -->

        <!-- Planes ============================================== -->
        <div class="container">

            <!-- Planes Banner -->
            <div v-if="patterns['bottom-middle-banner']!= null" id="banner">
	            <div v-for="pattern in patterns['bottom-middle-banner']">
	                <div v-if="pattern.multimedia_type == 'Imagen'">
	                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
	                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Codigo'">
	                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
	                    </div>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Video'" >
	                    <div >
	                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
	                    </div>
	                </div>
	            </div>
	        </div><!-- End Planes Banner -->
        
            <!-- Title Planes -->
            <div class="main_title">
                <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                <p>Contenido patrocinado por <a href="http://tupaseo.travel" target="_blank">tupaseo.travel</a></p>
            </div> <!-- End Title Planes -->
            
            <!-- Planes -->
            <div class="row">
            
                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
	                    <div class="tour_container">
	                        <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
	                        <div class="img_container">
	                            <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
	                            <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
	                            <div class="short_info">
	                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
	                            </div>
	                            </a>
	                        </div>
	                        <div class="tour_title">
	                            <h3><strong>{{service.service_name}}</strong></h3>
	                            <div class="rating" v-if="service.cuantity>0">
	                                
	                                <i class="icon-smile voted" v-for="votes in service.average"></i>
	                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

	                                <small>({{service.cuantity}})</small>
	                            </div><!-- end rating -->
	                        </div>
	                    </div><!-- End box tour -->
	                </div><!-- End col-md-4 -->
                
            </div> <!-- End Planes -->

             <!-- Buttom -->
            <p class="text-center add_bottom_30">
            	<a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
        	</p> <!-- End Buttom -->
        </div>

        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
	</main>
</template>

<script>

	import axios from 'axios';
	
	export default
	{
		data()
		{
			return{
				wallpapers:[],
				patterns:[],
				metas:[],
				costaCaribe:[],
				antioquiaYEjeCafetero:[],
				costaPacifica:[],
				centro:[],
				llanosOrientales:[],
				suroccidente:[],
				amazonia:[],
				activities:[],
				activitiesfilter:[],
				municipalities:[],
				whattodo:[],
				sites:[],
				sitefairs:[],
				counts:[],
				services:[],
				specials:[],
				options:[],
				defaultimage:[],
				origin:{'text':''},
				destiny:{'text':''},
				finalOrigin:[],
				optionsDestiny:[],
				finalDestiny:[],
				pointsmap:[],
				page:[],
				startPoint:[],
				months:{1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'},
				metas:{'description':'','keywords':'','title':''},
			}
		},
		created()
		{
		    $("#preloader").css('display', 'initial');
		    $('body,html').animate({
		                scrollTop: 0
		            }, 0);
			this.getWall();
		},
		mounted()
		{
			let fontawesome = document.createElement('script')
            fontawesome.setAttribute('src', '/plugins/fontawesome-free-5.5.0-web/js/all.js');
            document.head.appendChild(fontawesome)
		},
		metaInfo () {
	      return {
	        title: this.metas.title,
	        titleTemplate: ' Inicio | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:{
		    getWall:function()
		    {
		        axios.get('/vue/home').then(response => {
		            this.wallpapers = response.data.wallpapers;
		            this.costaCaribe = response.data.costaCaribe;
					this.antioquiaYEjeCafetero = response.data.antioquiaYEjeCafetero;
					this.costaPacifica = response.data.costaPacifica;
					this.centro = response.data.centro;
					this.llanosOrientales = response.data.llanosOrientales;
					this.suroccidente = response.data.suroccidente;
					this.amazonia = response.data.amazonia;
					this.municipalities = response.data.municipalities;
					this.whattodo = response.data.whattodo;
					this.sites = response.data.sites;
					this.sitefairs = response.data.sitefairs;
                    this.defaultimage = response.data.defaultImage;
					this.counts = response.data.counts;
		            this.activities = response.data.whattodo;
		            this.activitiesfilter = response.data.activitiesfilter;
		            this.specials = response.data.specials;
		            if(response.data.page)
		            {
		            	this.meta.description = response.data.page.description;
		            	this.meta.keywords = response.data.page.keywords;
		            }
		            this.initWallpaper();
		            this.initMap();
		            $("#preloader").css('display', 'none');
		            $('.cmn-toggle-switch').removeClass('active');
		            $('.main-menu').removeClass('show');
            	});
            	axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
            		this.services = response.data.services;
            	});
		        
		    },
		    redirectSpecial:function()
		    {
		    	var redirect = $('#specials').val();
		    	this.$router.push(redirect);
		    },
		    redirectSearch:function()
		    {
		    	var redirect = $('#typesearch').val();
		    	this.$router.push(redirect);
		    },
		    initMap:function()
		    {
				var s           = Snap("#svgMap");
			    var map_x_offset = 85, map_y_offset = 55;
			    var isFullyCompatibleBrowser =  ! ( $.browser.msie || $.browser.msedge || $.browser["windows phone"] );
			    var shadow      = s.filter(Snap.filter.shadow(0, 9, 3));
			    var noShadow    = s.filter(Snap.filter.shadow(0,0,0));
			    var invert      = s.filter(Snap.filter.invert(1.0));
			    var noInvert    = s.filter(Snap.filter.invert(0));
			    var saturate    = s.filter(Snap.filter.saturate(1.5));
			    var saturateFilterChild = saturate.node.firstChild;
			    var activeBounds = {};
			    var state = 0;
			    var defaultRegionURL = '#';
			    var title = Snap.parse('<title style="color=red"></title>');
			    s.append( title );


				Snap.plugin( function( Snap, Element, Paper, global ) {
					Element.prototype.addTransform = function( t ) {
						return this.transform( this.transform().localMatrix.toTransformString() + t );
					};
				});

				Snap.load("assets/colombia_departments.svg", function (f) {

			        /**
			         * [drawBounds description]
			         * @param  {[type]} targetObject [description]
			         * @return {[type]}              [description]
			         */
			        function drawBounds(targetObject) {

			            targetId = targetObject.attr('id');

			            if ( typeof activeBounds[ targetId ] == 'undefined')  
			            activeBounds[ targetId ] = [];

			            var tmp_polyline, tmp_outer_disc, tmp_inner_disc, tmp_innermost_disc;

			            var bbox = targetObject.getBBox();

			            // calculate middle point
			            var x_center = ( bbox.x2 + bbox.x ) / 2 + map_x_offset; 
			            var y_center = ( bbox.y2 + bbox.y ) / 2 + map_y_offset;

			            if (false) {

			                tmp_polyline = s.polyline( bbox.x + map_x_offset, bbox.y + map_y_offset, 
			                    bbox.x2 + map_x_offset, bbox.y + map_y_offset,
			                    bbox.x2 + map_x_offset, bbox.y2 + map_y_offset,
			                    bbox.x + map_x_offset, bbox.y2 + map_y_offset,
			                    bbox.x + map_x_offset, bbox.y + map_y_offset
			                     )
			                    .attr({
			                    stroke: "rgb(206,43,55)",
			                    strokeWidth: "2",
			                    opacity: "0.3",
			                    fill: "none"
			                });
			                activeBounds[ targetId ].push( tmp_polyline );

			                tmp_outer_disc = s.circle(x_center, y_center, bbox.r0 ).attr({
			                    fill: "none",
			                    stroke: "rgb(255, 87, 51 )",
			                    strokeWidth: "3",
			                    opacity: "0.3",
			                });

			                    activeBounds[ targetId ].push( tmp_outer_disc );

			                tmp_inner_disc = s.circle(x_center, y_center, bbox.r1 ).attr({
			                    fill: "none",
			                    stroke: "rgb(206,43,55)",
			                    strokeWidth: "3",
			                    opacity: "0.3",
			                });
			                activeBounds[ targetId ].push( tmp_inner_disc );
			            }
			        }

			        /**
			         * [mouseOutSVG description]
			         * @param  {[type]} event [description]
			         * @return {[type]}       [description]
			         */
			        function mouseOutSVG(event) {
			                // console.log('Out of SVG!!!!!');
			                // console.log(event.target);
			        }

			        /**
			         * [hoverRegion description]
			         * @param  {[type]} event [description]
			         * @return {[type]}       [description]
			         */
			        function hoverRegion(event) {

			            if ( isFullyCompatibleBrowser ) 
			            {
			                if(state==0)
			                {
			                    var that = $("#centro");
			                    color = regionsMetadata[ 'centro' ]['lightColor'];
			                    that.attr({'fill' : color,  'stroke': 'blue', 'stroke-width': 0.2 });
			                   state=1;
			                }


			                var $lastChild = $('#regions').children().last();
			                var lastSnapObject = s.select( '#'+$lastChild.attr('id') );

			                lastSnapObject.after(this);
			                var lastcolor = regionsMetadata[ lastSnapObject.attr('id') ]['lightColor'];

			                lastSnapObject.attr({'fill' : lastcolor,  'stroke': 'blue', 'stroke-width': 0.2 });
			                /* regions labels */

			                
			                //animacion
			                //that.attr({ filter: shadow }).animate( { transform: "s1.6,1.6,"+originalBBox.cx+","+originalBBox.cy }, 600, mina.elastic );
			                var that = this;
			                color = regionsMetadata[ this.attr('id') ]['darkColor'];
			                that.attr({'fill' : color,  'stroke': 'blue', 'stroke-width': 0.2 });

			                var position = regionsMetadata[ this.attr('id') ]['position'];
			                $('.your-class').slick('slickGoTo', position);

			            }
			            else // not fully compatible browser
			            {
			                this.attr({ filter: invert });
			            }
			        }

			        /**
			         * [removeBounds description]
			         * @return {[type]} [description]
			         */
			        function removeBounds() {

			            // cleans the activeBounds Queue
			            var nActiveBounds = Object.keys(activeBounds).length;
			            if ( nActiveBounds > 0 )
			            { 
			                for (var region in activeBounds) {
			                    for ( var i = 0; i < activeBounds[region].length; i++ ) {
			                        activeBounds[region][i].remove();
			                    }
			                    activeBounds[region] = [];
			                }
			            } 
			        }

			        /**
			         * [noHoverRegion description]
			         * @param  {[type]} event [description]
			         * @return {[type]}       [description]
			         */
			        function noHoverRegion(event) {
			            if (weakOverlays != null) weakOverlays.animate( { 'opacity': '1' }, 200, mina.easeout );

			            if ( isFullyCompatibleBrowser ) {

			                /* regions labels */

			                var originalBBox        = regions[ this.attr('id') ].originalBBox;
			                var originalTransform   = regions[ this.attr('id') ].originalTransform; 

			                this.animate({ transform: "s1,1,"+originalBBox.cx+","+originalBBox.cy }, 700, mina.elastic).attr({ filter: noShadow });


			                
			            }
			            else
			            {
			                this.animate({ transform: "s1,1" }, 700, mina.elastic).attr({ filter: noInvert });
			            }
			        }

			        /**
			         * [clickRegion description]
			         * @param  {[type]} event [description]
			         * @return {[type]}       [description]
			         */
			        function clickRegion(event) {

			            var regionURL = defaultRegionURL, target = '_self'; 
			            if ( typeof regionsMetadata[ this.attr('id') ] != 'undefined') 
			            {		
			                if ( typeof regionsMetadata[ this.attr('id') ]['url'] != 'undefined')
			                    regionURL = regionsMetadata[ this.attr('id') ]['url'];

			                if ( typeof regionsMetadata[ this.attr('id') ]['target'] != 'undefined')
			                    target = regionsMetadata[ this.attr('id') ]['target'];
			            }

			            // top.location.href = regionURL; 
			            openURwithTarget( regionURL, target );
			        }

			        /* Main callback code for Snap.load ************************************************************************/
			  var regionsContainer = f.select("#regions");
			        s.append(regionsContainer); 
			        var weakOverlays = f.select("#weak-overlays");

			        if ( weakOverlays != null)
			        {
			            s.append(weakOverlays); 
			            weakOverlays.attr({ 'pointer-events': 'none' });            
			        } 
			        var elemRegions     = $('#regions').children(),
			                regions         = {};

			        s.mouseout( function(event) {
			                mouseOutSVG(event);
			        } );

			        var regionBBox;

			        for ( var i = 0; i < elemRegions.length; i++ ) {
			            
			            regions[ elemRegions[i].id ] = {};
			            regions[ elemRegions[i].id ].id = elemRegions[i].id;
			            var regionId = regions[ elemRegions[i].id ].id;
			            regions[ elemRegions[i].id ].snapObject = s.select( '#'+elemRegions[i].id );
			            regions[ elemRegions[i].id ].pathLength = Snap.path.getTotalLength( regions[ elemRegions[i].id ].snapObject );
			            regions[ elemRegions[i].id ].originalBBox = regions[ elemRegions[i].id ].snapObject.getBBox();
			            regions[ elemRegions[i].id ].originalTransform = regions[ elemRegions[i].id ].snapObject.transform();

			            /* region bounding box */
			            var regionBBox = regions[ elemRegions[i].id ].snapObject.getBBox();

			            var x_center = ( regionBBox.x2 + regionBBox.x ) / 2 + map_x_offset; 
			            var y_center = ( regionBBox.y2 + regionBBox.y ) / 2 + map_y_offset;

			            /* event handlers */
			            regions[ elemRegions[i].id ].snapObject.hover( hoverRegion, noHoverRegion );
			            regions[ elemRegions[i].id ].snapObject.click( clickRegion );

			            /* regions labels */
			            var label_x = x_center;
			            var label_y = y_center;
			            var label_text = regionId;
			            var label_text2 = regionId;
			            var label_rotation = 0;

			            if ( typeof regionsMetadata[ elemRegions[i].id ] != 'undefined') 
			            {               
			                if ( typeof regionsMetadata[ elemRegions[i].id ]['label_offset_x'] != 'undefined')
			                    label_x += regionsMetadata[ elemRegions[i].id ]['label_offset_x'];

			                if ( typeof regionsMetadata[ elemRegions[i].id ]['label_offset_y'] != 'undefined')
			                    label_y += regionsMetadata[ elemRegions[i].id ]['label_offset_y'];

			                if ( typeof regionsMetadata[ elemRegions[i].id ]['text'] != 'undefined')
			                    label_text = regionsMetadata[ elemRegions[i].id ]['text'];


			                if ( typeof regionsMetadata[ elemRegions[i].id ]['rotation'] != 'undefined')
			                    label_rotation = regionsMetadata[ elemRegions[i].id ]['rotation'];
			            }
			            var label       = s.text(label_x, label_y, label_text);
			            var labelBBox   = label.getBBox();
			            label.transform('t-'+labelBBox.width/2+',-'+ labelBBox.height/2 +' r' + label_rotation );
			            label.attr({ 'pointer-events': 'none' });
			            regions[ elemRegions[i].id ].snapLabel = label;
			            regions[ elemRegions[i].id ].snapLabel.attr({'font-size': '40px', 'opacity': '0.8'});
			            regions[ elemRegions[i].id ].snapLabelTransform = regions[ elemRegions[i].id ].snapLabel.transform();
			            if(elemRegions[i].id == 'centro')
			            {
			                var that = $("#"+elemRegions[i].id);
			                color = regionsMetadata[ elemRegions[i].id ]['darkColor'];
			                that.attr({'fill' : color,  'stroke': 'blue', 'stroke-width': 0.2 });
			            }

			            if ( typeof regionsMetadata[ elemRegions[i].id ]['text2'] != 'undefined')
			            {
			                if ( typeof regionsMetadata[ elemRegions[i].id ]['label_offset_x2'] != 'undefined')
			                    label_x += regionsMetadata[ elemRegions[i].id ]['label_offset_x2'];

			                if ( typeof regionsMetadata[ elemRegions[i].id ]['label_offset_y2'] != 'undefined')
			                    label_y += regionsMetadata[ elemRegions[i].id ]['label_offset_y2'];

			                label_text2 = regionsMetadata[ elemRegions[i].id ]['text2'];

			                var label       = s.text(label_x, label_y, label_text2);
			                var labelBBox   = label.getBBox();
			                label.transform('t-'+labelBBox.width/2+',-'+ labelBBox.height/2 +' r' + label_rotation );
			                label.attr({ 'pointer-events': 'none' });
			                regions[ elemRegions[i].id ].snapLabel = label;
			                regions[ elemRegions[i].id ].snapLabel.attr({'font-size': '40px', 'opacity': '0.8'});
			                regions[ elemRegions[i].id ].snapLabelTransform = regions[ elemRegions[i].id ].snapLabel.transform();
			            }
			        }
			        $('.your-class').slick('slickGoTo', 3);
			        /* /End Main callback code for Snap.load ************************************************************************/
			    });
		    },
		    initWallpaper:function()
		    {
                setTimeout(function() {
                     var tpj=jQuery;
                    var revapi13;
                    tpj(document).ready(function() {
                        if(tpj("#rev_slider_13_1").revolution == undefined){
                            revslider_showDoubleJqueryError("#rev_slider_13_1");
                        }else{
                            revapi13 = tpj("#rev_slider_13_1").show().revolution({
                                sliderType:"carousel",
                                jsFileLocation: "rev-slider-files/js/",
                                sliderLayout:"fullwidth",
                                dottedOverlay:"none",
                                delay:9000,
                                navigation: {
                                    keyboardNavigation:"off",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation:"off",
                                     mouseScrollReverse:"default",
                                    onHoverStop:"off",
                                    touch:{
                                        touchenabled:"on",
                                        touchOnDesktop:"off",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                    ,
                                    bullets: {
                                        enable:true,
                                        hide_onmobile:false,
                                        style:"hermes",
                                        hide_onleave:false,
                                        direction:"horizontal",
                                        h_align:"center",
                                        v_align:"bottom",
                                        h_offset:0,
                                        v_offset:20,
                                        space:5,
                                        tmp:''
                                    }
                                },
                                carousel: {
                                    horizontal_align: "center",
                                    vertical_align: "center",
                                    fadeout: "on",
                                    vary_fade: "on",
                                    maxVisibleItems: 3,
                                    infinity: "on",
                                    space: 0,
                                    stretch: "off",
                                     showLayersAllTime: "off",
                                     easing: "Power3.easeInOut",
                                     speed: "800"
                                },
                                responsiveLevels:[1240,1024,778,778],
                                visibilityLevels:[1240,1024,778,778],
                                gridwidth:[800,640,480,480],
                                gridheight:[620,620,480,360],
                                lazyType:"none",
                                parallax: {
                                    type:"scroll",
                                    origo:"enterpoint",
                                    speed:400,
                                    levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
                                },
                                shadow:0,
                                spinner:"off",
                                stopLoop:"on",
                                stopAfterLoops:0,
                                stopAtSlide:1,
                                shuffle:"off",
                                autoHeight:"off",
                                disableProgressBar:"on",
                                hideThumbsOnMobile:"off",
                                hideSliderAtLimit:0,
                                hideCaptionAtLimit:0,
                                hideAllCaptionAtLilmit:0,
                                debugMode:false,
                                fallbacks: {
                                    simplifyAll:"off",
                                    nextSlideOnWindowFocus:"off",
                                    disableFocusListener:false,
                                }
                            });
                        }
                    }); /*ready*/
                    
                }, 100);
	
				setTimeout(function() {
					$('.your-class').slick(
                	{
					    centerMode: true,
					  centerPadding: '60px',
					  slidesToShow: 1,
					  responsive: [
					    {
					      breakpoint: 768,
					      settings: {
					        arrows: false,
					        centerMode: true,
					        centerPadding: '40px',
					        slidesToShow: 3
					      }
					    },
					    {
					      breakpoint: 480,
					      settings: {
					        arrows: false,
					        centerMode: true,
					        centerPadding: '40px',
					        slidesToShow: 1
					      }
					    }
					  ]
                	});
				},500);
		    },
		    getSite:function(type)
			{
				if(type == 'origin')
				{
					if(this.origin.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesOrigin').text('Por favor digite más de 3 caracteres');
						this.options=[];
					}
					else
					{
						$('#messagesOrigin').text('');
						console.log(this.origin.text);
						axios.put('/vue/getnamesites',{'name':this.origin.text}).then(response=>{
							this.options = response.data;
						});
					}
				}
				else
				{
					if(this.destiny.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesDestiny').text('Por favor digite más de 3 caracteres');
						this.optionsDestiny=[];
					}
					else
					{
						$('#messagesDestiny').text('');
						console.log(this.destiny.text);
						axios.put('/vue/getnamesites',{'name':this.destiny.text}).then(response=>{
							this.optionsDestiny = response.data;
						});			
					}
				}
			},
			validateOrigin:function(option)
			{
				if(this.finalDestiny=='')
				{
					$('#messagesOrigin').text('');
					$('#messagesButton').text('');
					this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
					this.options={};
					this.origin.text=option.name;
				}
				else
				{
					if(this.finalDestiny.slug==option.slug)
					{
						$('#messagesOrigin').text('El lugar de inicio debe ser diferente al final');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesOrigin').text('');
						$('#messagesButton').text('');
						this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
						this.options={};
						this.origin.text=option.name;
					}
				}
			},
			filterMonth:function(month)
			{
				this.$router.push({
				   	path: '/home/fairs',
				    query: { month: month }
				});
				this.updateSelect();
			},
			validateDestiny:function(option)
			{
				if(this.finalOrigin=='')
				{
					$('#messagesDestiny').text('');
					$('#messagesButton').text('');
					this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
					this.optionsDestiny={};
					this.destiny.text=option.name;
				}
				else
				{
					if(this.finalOrigin.slug==option.slug)
					{
						$('#messagesDestiny').text('El lugar final debe ser diferente al del inicio');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesDestiny').text('');
						$('#messagesButton').text('');
						this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
						this.optionsDestiny={};
						this.destiny.text=option.name;
					}
				}
			},
			search:function()
			{
				if(this.finalDestiny.slug!='' && this.finalOrigin.slug!='')
				{
					axios.put('/vue/getnearbypoints',{'origin':this.finalOrigin,'destiny':this.finalDestiny}).then(response=>{
							this.pointsmap = response.data.points;
							this.startPoint = response.data.start;
							this.endPoint = response.data.end;
							this.createMap();
							console.log(response.data);
					});
				}
				else
				{
					$('#messagesButton').text('Se debe seleccionar un punto inicial y uno final');
				}
			},
			createMap:function()
		    {
		    	$('#divmap').removeAttr('hidden');
		        var points;
		        points = this.pointsmap;
		        setpoints(points,'individual',10);
                calculateAndDisplayRoute(this.startPoint, this.endPoint);
		    },
		    changeActivity:function()
		    {
				//self variable auxiliar dentro de la funcion para indicar que es this :v
				var self = this;
				setTimeout(function()
		                {
						var activityState = false;
						var activity = '';
				    	
			    		if($("#activitySelect").val()!='')
			    		{
			    			activityState = true;
			    			activity =$("#activitySelect").val();
			    		}
					       
				    	if(activityState)
				    	{
				    		//busqueda
							self.$router.push({
							   	path: '/home/operators',
							    query: { activity: activity }
							});
				    	}
				    	else{
				    		self.outChain('activity');
				    		self.$router.push({
							   	path: '/home/operators',
							});
				    	}
				},50);
			},
			clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		},
	}



</script>