<template>
	<div>
    <!-- Slider -->
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:300px;">
            <!-- first slide -->
            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img :src="(hotel.introduction_image)?'/'+hotel.introduction_image:'/'+defaultImage" class="ls-bg" alt="Slide background">
            </div>
        </div>
    </div> <!-- End layerslider -->

    <main>
        <div class="container">
            <div class="row">
                <div id="centercontent" class="col-xs-12 col-sm-8 col-md-9">
                    <div class="rc-content">
                        <div class="rc-contentdetail">

                            <div class="rc-contentinfo">
                                
                                <div class="rc-destination">
                                    <h2><span>{{hotel.establishment_name}}</span></h2>
                                    <em>

                                    	<router-link v-if="chain.rel_department" :to="'/home/department/'+chain.rel_department.slug">Departamento {{chain.rel_department.department_name}}</router-link>
                                    </em>
                                </div>

                                <section clas="item-tab-detail">

                                    <div class="theme-tab">
                                        <ul class="nav nav-tabs nav-fill tab-style2">
                                            <li v-if="images.length>0" class="nav-item">
                                                <a class="nav-link active show" data-toggle="tab" href="#gallery"><i class="far fa-images"></i> <span>Galería</span></a>
                                            </li>
                                            <li v-if="hotel.video" class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#video360"><i class="fab fa-youtube"></i> <span>Video</span></a>
                                            </li>
                                            <li :class="(hotel.length==0 && (!hotel.video))?'nav-link active show': 'nav-link'" class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#gmap"><i class="fas fa-map-marked-alt"></i> <span>Mapa</span></a>
                                            </li>
                                        </ul> 
                                    </div>

                                    <div class="tab-content">

                                        <div v-if="images.length>0" class="tab-pane active" id="gallery">
                                            <div id="Img_carousel" class="slider-pro">
                                                <div class="sp-slides">
						                                <div v-for="(image, key) in images" v-if="key==0" class="sp-slide">
						                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
						                                    <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
						                                        {{hotel.establishment_name}}
						                                    </h3>
						                                    <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-width="350" data-show-transition="left" data-show-delay="400" v-if="image.description">
						                                        {{image.description}}
						                                    </p>
						                                </div>
						                                <div v-else class="sp-slide">
						                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
						                                    <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400" v-if="image.description">
						                                        {{image.description}}
						                                    </p>
						                                </div>
                                                </div>

                                                <div class="sp-thumbnails">
                                                    <img v-for="(image, key) in images" alt="Image" class="sp-thumbnail" :src="'/'+image.link_image">
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="hotel.video" class="tab-pane" id="video360">
                                            <iframe width="560" height="315" :src="'https://www.youtube.com/embed/'+hotel.video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>

                                        <div class="tab-pane" id="gmap">
                                            <div id="map"></div>
                                        </div>
                                    </div>
								</section>

                                <div id="utilinfo">
                                    <!-- Top Directory Banner -->
					                <div v-if="patterns['middle-banner']!= null" id="bannerutil">
					                    <div v-for="pattern in patterns['middle-banner']">
					                        <div v-if="pattern.multimedia_type == 'Imagen'">
					                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
					                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
					                        </div>

					                        <div v-if="pattern.multimedia_type == 'Codigo'">
					                            <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
					                            </div>
					                        </div>

					                        <div v-if="pattern.multimedia_type == 'Video'" >
					                            <div >
					                                <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
					                            </div>
					                        </div>
					                    </div>
					        		</div> <!-- End Top Directory Banner -->
                                </div>
                            </div>

                            <div class="rc-contentinfo" style="padding-bottom: 20px; margin-bottom: 20px">
                                
                                <section clas="itemcontent-tab-detail">

                                    <div class="theme-tab">
                                        <ul class="nav nav-tabs nav-fill tab-style2">
                                            <li class="nav-item">
                                                <a class="nav-link active show" data-toggle="tab" href="#description"><i class="far fa-newspaper"></i> <span>Descripción</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#interestsites"><i class="fas fa-route"></i> <span>Sitios de Interés</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#hotelamenities"><i class="far fa-compass"></i> <span>Hotel</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#events"><i class="far fa-calendar-check"></i> <span>Eventos</span></a>
                                            </li>
                                        </ul> 
                                    </div>

                                    <div class="tab-content">

                                        <div class="tab-pane active" id="description" v-html="hotel.description">
                                        </div>

                                        <div class="tab-pane" id="interestsites">
                                            <!-- Destinations ========= -->
                                            <div class="row">
						                        <!--feed item 1-->
						                        <router-link v-for=" site in outstandingSite" :to="'/home/interestsite/'+site.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(site.link_image) ? 'background-image: url(/'+site.link_image+')' : 'background-image: url(/'+defaultcardimage+')'" :key="site.id_site"> 
						                            <div class="feed_itm_inr">
						                                <div class="item_desc">
						                                  <h4 class="feed_itm_ttl">{{site.name}}</h4>
						                              </div>
						                            </div>
						                        </router-link><!--@end feed item-->
						                    </div>
                
                                            <!-- Services ========= -->
                                             <div class="suggested-places margin_15">
							                    <div class="overflow-hidden">
							                        <div class="row">

							                            <div v-if="hotels.length>0" class="col-sm-4">
							                                <div class="title"><h4>Hoteles</h4></div>
							                                <ul class="check-square box">
							                                    <li v-for="hotel in hotels">
							                                        <router-link :to="'/home/hotel/'+hotel.slug">
							                                            <h6 class="box-title">{{hotel.name}}<small>{{hotel.municipality}}</small></h6>
							                                        </router-link>
							                                    </li>
							                                </ul>
							                                <router-link class="button" title="MORE" to="/home/hotels">Ver más</router-link>
							                            </div>

							                            <div v-if="restaurants.length>0" class="col-sm-4">
							                                <div class="title"><h4>Restaurantes</h4></div>
							                                <ul class="check-square box">
							                                    <li v-for="restaurant in restaurants">
							                                        <router-link :to="'/home/restaurant/'+restaurant.slug">
							                                            <h6 class="box-title">{{restaurant.name}}<small>{{restaurant.municipality}}</small></h6>
							                                        </router-link>
							                                    </li>
							                                </ul>
							                                <router-link class="button" title="MORE" to="/home/restaurants">Ver más</router-link>
							                            </div>

							                            <div v-if="operators.length>0" class="col-sm-4">
							                                <div class="title"><h4>Operadores Turísticos</h4></div>
							                                <ul class="check-square box">
							                                    <li v-for="operator in operators">
							                                        <router-link :to="'/home/operator/'+operator.slug">
							                                            <h6 class="box-title">{{operator.name}}<small>{{operator.municipality}}</small></h6>
							                                        </router-link>
							                                    </li>
							                                </ul>
							                                <router-link class="button" title="MORE" to="/home/operators">Ver más</router-link>
							                            </div>

							                        </div>
							                    </div>
							                </div>
                                        </div>

                                        <div class="tab-pane" id="hotelamenities">
                                            <!-- Lodging -->
                                            <div class="row">
                                                <div class="col-md-3">
						                            <h3>Alojamiento</h3>
												</div>
												<div class="col-md-9">

						                            <div class=" table-responsive">
						                                <table class="table table-striped" v-if="rooms[0] && rooms[0].length>0">
						                                    <thead>
						                                        <tr>
						                                            <th colspan="2">
						                                                Habitaciones
						                                            </th>
						                                            <th colspan="2">
						                                                Cantidad
						                                            </th>
						                                            <th colspan="2">
						                                                Capacidad
						                                            </th>
						                                            <th colspan="2">
						                                                Camas
						                                            </th>
						                                        </tr>
						                                    </thead>
						                                    <tbody>
						                                        <tr v-for="room in rooms[0]">
						                                            <td colspan="2">
						                                                {{room.room}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.cuantity}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.capacity}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.bed}}
						                                            </td>
						                                        </tr>
						                                    </tbody>
						                                </table>
						                                <table class="table table-striped" v-if="rooms[1] && rooms[1].length>0">
						    
						                                    <thead>
						                                        <tr>
						                                            <th colspan="2">
						                                                Suites
						                                            </th>
						                                            <th colspan="2">
						                                                Cantidad
						                                            </th>
						                                            <th colspan="2">
						                                                Capacidad
						                                            </th>
						                                            <th colspan="2">
						                                                Camas
						                                            </th>
						                                        </tr>
						                                    </thead>
						                                    <tbody>
						                                        <tr v-for="room in rooms[1]">
						                                            <td colspan="2">
						                                                {{room.room}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.cuantity}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.capacity}}
						                                            </td>
						                                            <td colspan="2">
						                                                {{room.bed}}
						                                            </td>
						                                        </tr>
						                                    </tbody>
						                                </table>
						                            </div>
						                        </div>
                                            </div> <!--End Lodging -->

                                            <!-- Politics -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h3>Políticas</h3>
                                                </div>
                                                <div class="col-md-9">

                                                    <div class=" table-responsive">
                                                          <table class="table table-striped">
						                                    <tbody>
						                                        <tr v-for="day in schedule" v-if="!day.inactive">
						                                            <td>
						                                                {{day.name}}
						                                            </td>
						                                            <td>
						                                                {{day.start}} - {{day.end}}
						                                            </td>
						                                        </tr>
						                                    </tbody>
						                                </table>
                                                    </div>
                                                    
                                                </div>
                                            </div> <!--End Politics -->

                                            <!-- Services -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h3>Servicios</h3>
                                                </div>
                                                <ul class="col-md-9 col-xs-12 amenities clearfix style1">
                                                    <li v-for="(service, index) in listServices" class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="icon-box style1"><i class="fas fa-wind listservices"></i>{{service.service_name}}</div>
                                                    </li>
                                                </ul>
                                            </div> <!--End Services -->
                                        </div>

                                        <div class="tab-pane" id="events">

                                            <!-- Calendar -->
                                            <div id="towncalendar">
                                                <div class="add_bottom_15">

                                                    <div class="col-md-3 col-xs-6 other_tours">
								                        <ul>
								                            <li @click="filterMonth(1)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-1"></i>Enero
								                            	<span class="other_tours_price">{{counts.Jan}}</span></a>
								                            </li>
								                            <li @click="filterMonth(2)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-4"></i>Febrero
								                            	<span class="other_tours_price">{{counts.Feb}}</span></a>
								                            </li>
								                            <li @click="filterMonth(3)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-30"></i>Marzo
								                            	<span class="other_tours_price">{{counts.Mar}}</span></a>
								                            </li>
								                        </ul>
								                    </div>

								                    <div class="col-md-3 col-xs-6 other_tours">
								                        <ul>
								                            <li @click="filterMonth(4)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-3"></i>Abril
								                            	<span class="other_tours_price">{{counts.Apr}}</span></a>
								                            </li>
								                            <li @click="filterMonth(5)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-30"></i>Mayo
								                            	<span class="other_tours_price">{{counts.May}}</span></a>
								                            </li>
								                            <li @click="filterMonth(6)"><a href="javascript:void(0)" ><i class="icon_set_1_icon-3"></i>Junio
								                            	<span class="other_tours_price">{{counts.Jun}}</span></a>
								                            </li>
								                        </ul>
								                    </div>

								                    <div class="col-md-3 col-xs-6 other_tours">
								                        <ul>
								                            <li @click="filterMonth(7)"><a href="javascript:void(0)"><i class="icon_set_1_icon-37"></i>Julio
								                            	<span class="other_tours_price">{{counts.Jul}}</span></a>
								                            </li>
								                            <li @click="filterMonth(8)"><a href="javascript:void(0)"><i class="icon_set_1_icon-1"></i>Agosto
								                            	<span class="other_tours_price">{{counts.Aug}}</span></a>
								                            </li>
								                            <li @click="filterMonth(9)"><a href="javascript:void(0)"><i class="icon_set_1_icon-50"></i>Septiembre
								                            	<span class="other_tours_price">{{counts.Sep}}</span></a>
								                            </li>
								                        </ul>
								                    </div>

								                    <div class="col-md-3 col-xs-6 other_tours">
								                        <ul>
								                            <li @click="filterMonth(10)"><a href="javascript:void(0)"><i class="icon_set_1_icon-44"></i>Octubre
								                            	<span class="other_tours_price">{{counts.Oct}}</span></a>
								                            </li>
								                            <li @click="filterMonth(11)"><a href="javascript:void(0)"><i class="icon_set_1_icon-50"></i>Noviembre
								                            	<span class="other_tours_price">{{counts.Nov}}</span></a>
								                            </li>
								                            <li @click="filterMonth(12)"><a href="javascript:void(0)"><i class="icon_set_1_icon-44"></i>Diciembre
								                            	<span class="other_tours_price">{{counts.Dec}}</span></a>
								                            </li>
								                        </ul>
								                    </div>
                                                </div>
                                            </div> <!-- End Calendar -->

                                            <!--feed item 1-->
                                            <a v-for="(fair,index) in sitefairs" href="#" :class="index==1 ?'feed_itm col-sm-8 col-xs-12':'feed_itm col-sm-4 col-xs-12'" :style="'background-image: url(/'+fair.link_image+')'"> 
	                                            <div class="feed_itm_inr">
	                                                <div class="item_desc">
	                                                    <span v-if="fair.outstanding" class="label label-success"> Festival Destacado</span>
	                                                    <h4 class="feed_itm_ttl">{{fair.fair_name}}</h4>
	                                                    <p class="feed_itm_prc">{{fair.principal_municipality.municipality_name}}| {{ months[new Date(fair.start_date).getMonth()+1] }}</p>
	                                                </div>
	                                            </div>
	                                        </a><!--@end feed item-->
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="rightside" class="sidebar col-xs-12 col-sm-4 col-md-3">

                    <!-- Contact -->
                    <div class="box_style_1 expose">
                        <h3 class="inner">- Contacto -</h3>
                        <i class="icon_set_1_icon-90"></i>
                            <h4><span>Teléfono</span></h4>
                            <a :href="'tel://'+hotel.phone" class="phone">{{hotel.phone}}</a>
                        <i class="icon-location-6"></i>
                            <h4><span>Dirección</span></h4>
                            <p>{{hotel.address}}</p>
                        <div v-if="socialNetworks"  id="single_tour_feat" class="table-responsive">
                            <h4><span>Redes Sociales</span></h4>
                                <ul>
                                    <li v-if="hotel.facebook"><a :href="hotel.facebook" target="_blank"><i class="icon-facebook-squared"></i>Facebook</a></li>
                                    <li v-if="hotel.twitter">><a :href="hotel.twitter" target="_blank"><i class="icon-twitter-squared"></i>Twitter</a></li>
                                    <li v-if="hotel.instagram"><a :href="hotel.instagram" target="_blank"><i class="icon-instagram"></i>Instagram</a></li>
                                    <li v-if="hotel.website"><a :href="hotel.website" target="_blank"><i class="icon-home"></i>Website</a></li>
                                </ul>
                        </div>
                    </div> <!-- End Contact -->

                    <div class="colbanner center greencolored">
                        <h4>estado de las <span>vías</span></h4>
                        <p>
                            Consulta el estado de las carreteras.
                        </p>
                        <a href="https://www.policia.gov.co/estado-vias" target="_blank" class="btn_1 white">Ir</a>
                    </div>
                    <div v-if="patterns['right-banner']!= null"  class="box_style_3">
	                    <div v-for="pattern in patterns['right-banner']">
	                        <div v-if="pattern.multimedia_type == 'Imagen'">
			                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
			                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
			                </div>

			                <div v-if="pattern.multimedia_type == 'Codigo'">
			                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
			                    </div>
			                </div>

			                <div v-if="pattern.multimedia_type == 'Video'" >
			                    <div >
			                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
			                    </div>
			                </div>
			              <hr>
	                    </div>
	                </div>
                </div>
            </div>
        </div>

            <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                 	<div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->


                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->


        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
    </main> <!-- End main -->

</div>

</template>
 <style class="fontawesomeimport">
@import '~/plugins/fontawesome-free-5.5.0-web/css/all.css';
</style>
<script>
	
	import axios from 'axios';

	export default{
		data(){
			return{
				hotel:[],
				simplerooms:[],
				patterns:[],
				page:[],
				defaultImage:'',
				images:[],
				hotels:[],
				restaurants:[],
				operators:[],
				outstandingSite:[],
				slug:"",
				metas:{'description':'','keywords':'','title':''},
				rooms:[],
                schedule:[],
                services:[],
                chain:[],
                socialNetworks:'',
                defaultcardimage:'',
                listServices:[],
                counts:[],
                sitefairs:[],
                months:{1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'},
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getHotel();            
			$('body,html').animate({
				scrollTop: 0
			}, 0);

			let fontawesome = document.createElement('script')
            fontawesome.setAttribute('src', '/plugins/fontawesome-free-5.5.0-web/js/all.js');
            document.head.appendChild(fontawesome)
		},
		watch: {
	        '$route.params.slug': function (id) {
	        	this.slug = this.$route.params.slug;
	         	this.getHotel();
	         	this.metas={'description':'','keywords':'','title':''};
	        }
	      },
		metaInfo () {
	      return {
	        title: this.hotel.establishment_name,
	        titleTemplate: 'Hotel %s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:{
			getHotel:function()
			{
				axios.get('/vue/hotel/'+this.slug).then(response=>{
					this.hotel = response.data.hotel;
                    this.patterns = response.data.patterns;
            		this.rooms = response.data.rooms;
            		this.schedule = response.data.schedule;
                    this.socialNetworks = response.data.socialNetworks;
                    this.listServices = response.data.finalServices;
                    this.defaultcardimage = response.data.defaultcardimage;
            		if(response.data.page)
            		{
            			this.metas = {'description':response.data.page.description,'keywords':response.data.page.keywords};
            		}
                    this.restaurants = response.data.restaurants;
                    this.hotels = response.data.hotels;
                    this.allRestaurants = response.data.allRestaurants;
                    this.allHotels = response.data.allHotels;
                    this.operators = response.data.operators;
                    this.images = response.data.images;
                    this.simplerooms = response.data.simplerooms;
                    this.outstandingSite = response.data.InterestSites;
                    this.defaultImage = response.data.defaultImage;
                    this.chain = response.data.chain;
                    this.sitefairs = response.data.sitefairs;
                    this.counts = response.data.counts;

            		this.startCarousel();
                    this.createMap();
				},(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
                
            },
            filterMonth:function(month)
			{
				this.$router.push({
				   	path: '/home/fairs',
				    query: { month: month }
				});
			},
			startCarousel:function()
            {

                $("#preloader").css('display', 'none');
                $('.cmn-toggle-switch').removeClass('active');
                $('.main-menu').removeClass('show');
            	setTimeout(function() {
            		'use strict';
					$('#layerslider').layerSlider({
						autoStart: true,
						responsive: true,
						responsiveUnder: 1280,
						layersContainer: 1170,
						skinsPath: '/front/layerslider/skins/'
							// Please make sure that you didn't forget to add a comma to the line endings
							// except the last line!
					});
					$('#Img_carousel').sliderPro({
                width: 960,
                height: 500,
                fade: true,
                arrows: true,
                buttons: false,
                fullScreen: false,
                smallSize: 500,
                startSlide: 0,
                mediumSize: 1000,
                largeSize: 3000,
                thumbnailArrows: true,
                autoplay: false
            });

            	}, 1000);
            },
			createMap:function()
		    {
		        var hotel;
		        hotel = [this.hotel];
		        setpoints(hotel,'hotel',10);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },

		},

	}
</script>