<template>
	<div>
        <div v-if="patterns['top-middle']!= null"  id="topbanner" >
            <div class="container" v-for="pattern in patterns['top-middle']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div> <!-- End Top Banner -->
        <!-- Header ================================================== -->
        <header id="plain">
        	<!-- Top Line -->
    		<div id="top_line">
    			<div class="container">
    				<div class="row">

    					<!-- Teléfono -->
    					<div class="col-md-6 col-sm-6 col-xs-6"></div>

    					<!-- Enlaces -->
    					<div class="col-md-6 col-sm-6 col-xs-6">
    						<ul id="top_links">

    							<!-- Acceso y Registro -->
    							<li>
    								<div class="dropdown dropdown-access">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Ingresar | Registrarse</a>
                                        <div class="dropdown-menu">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="bt_facebook">
                                                    <i class="icon-facebook"></i>Facebook </a>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="bt_paypal">
                                                    <i class="icon-google"></i>Google </a>
                                                </div>
                                            </div>
                                            <div class="login-or">
                                                <hr class="hr-or">
                                                <span class="span-or">o</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                                            </div>
                                            <a id="forgot_pw" href="#">Recordar contraseña</a>
                                                <input type="submit" name="Sign_in" value="Iniciar sesión" id="Sign_in" class="button_drop">
                                                <input type="submit" name="Sign_up" value="Registrarse" id="Sign_up" class="button_drop outline">
                                        </div>
                                    </div><!-- End Dropdown access -->
    							</li> <!-- Acceso y Registro -->

    							<!-- Idioma -->
    							<li id="lang_top">
    								<i class="icon-globe-1"></i>
    								<a href="#0">IDIOMA</a>
    							</li> <!-- Idioma -->

    							<!-- Redes Sociales -->
    							<li id="social_top">
    								<a href="https://www.facebook.com/rutascolombia/" target="_blank"><i class="icon-facebook"></i></a>
    								<a href="https://twitter.com/rutascolombia" target="_blank"><i class="icon-twitter"></i></a>
    								<a href="https://www.youtube.com/channel/UCWauYMD5YzkgoVk-jwBwQRQ" target="_blank"><i class="icon-youtube-play"></i></a>
    								<a href="https://www.instagram.com/rutascolombia/" target="_blank"><i class="icon-instagramm"></i></a>
    							</li> <!-- Redes Sociales -->
    						</ul>
    					</div> <!-- Enlaces -->

    				</div> <!-- End row -->
    			</div> <!-- End container-->
    		</div> <!-- End top line-->

    		<!-- Menú -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div id="logo_home">
                            <h1><a href="index.html" title="RutasColombia">rutascolombia.com</a></h1>
                        </div>
                    </div>
                    <nav class="col-md-9 col-sm-9 col-xs-9">
                        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                        <div class="main-menu">
                            <div id="header_menu">
                                <img src="/front/img/brand/logo.png" alt="City tours" data-retina="true">
                            </div>
                            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                            <ul>
                                <li class="submenu">
                                    <router-link :to="'/home'" class="show-submenu">Home </router-link>
                                </li>
                                <li class="submenu">
                                    <router-link :to="'/home/specials'" class="show-submenu">Especiales </router-link>
                                </li>
                                <li class="submenu">
                                    <router-link :to="'/home/routes'" class="show-submenu">Rutas </router-link>
                                </li>
                                <li class="submenu">
                                    <router-link :to="'/home/whattodo'" class="show-submenu">Qué hacer<i class="icon-down-open-mini"></i></router-link>
                                    <ul>
                                        <li v-for="(slug,activity) in activities">
                                            <router-link :to="'/home/searchwhattodo/?type_whattodo='+slug">{{activity}}</router-link></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">Destinos <i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li v-for="(slug,region) in regions">
                                            <router-link :to="'/home/region/'+slug">{{region}}</router-link></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <router-link :to="'/home/fairs'" class="show-submenu">Eventos</router-link>
                                </li>
                                <li class="submenu">
                                    <router-link to="/home/directory" class="show-submenu">Directorio <i class="icon-down-open-mini"></i></router-link>
                                    <ul>
                                        <li><router-link to="/home/hotels">Hoteles</router-link></li>
                                        <li><router-link to="/home/restaurants">Restaurantes</router-link></li>
                                        <li><router-link to="/home/operators">Operadores</router-link></li>
                                        <!--<li><a href="#">Otros</a></li>-->
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- End main-menu -->
                    </nav>
                </div>
            </div> <!-- End Menú -->
    	</header><!-- End Header -->
    </div>
</template>

<script>
    
    import axios from 'axios';

    export default
    {
        data()
        {
            return{
                regions:[],
                activities:[],
                route:[],
                patterns:[],
            }
        },
        created()
        {
            this.route = this.$route;
            this.start();
        },
        watch: {
            '$route': function (id) {
                this.route = this.$route;
                this.navBarPattern();
            }
          },
        methods:
        {
            start:function()
            {
                var send = {params: {'fullpath':this.route.fullPath,'path':this.route.path}};
                axios.get('/vue/navcomponent',send).then(response=>{
                    this.patterns = response.data.patterns;
                    this.regions = response.data.regions;
                    this.activities = response.data.whattodo;
                });
            },
            navBarPattern:function()
            {
                var send = {params: {'fullpath':this.route.fullPath,'path':this.route.path}};
                axios.get('/vue/navbarpattern',send).then(response=>{
                    this.patterns = response.data.patterns;
                });
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
    };

</script>