<template>
	<div>
    	<div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:600px;">
                <!-- first slide -->
                <div  class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                    <img :src="(region.link_image)?'/'+region.link_image:'/'+defaultImage" class="ls-bg" alt="Slide background">
                        <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{region.region_name}}</h3>
                        <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{region.sentence}}
                        </p>
                </div>
                <div v-if="outstandingDepartments.length>0" v-for="banner in outstandingDepartments" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                    <img :src="(banner.link_image)?'/'+banner.link_image:'/'+defaultimage" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.department_name}}</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{banner.short_description}}
                    </p>
                    <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/department/'+banner.slug">Ver departamento</router-link>
                </div>

            </div>
        </div> <!-- End layerslider -->
    <main>
	<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li>{{ region.region_name }}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
    
        <div class="container margin_30">

            <div class="row">

                <!-- Top Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
                 <!-- End Top Banner -->

                <!-- Gallery -->
                <div class="col-md-6 col-sm-6">
                    <div class="row magnific-gallery add_bottom_60 ">
                        <div v-for="image in region.images" class="col-md-6 col-sm-6">
                            <div class="img_wrapper_gallery">
                                <div class="img_container_gallery">
                                    <a :href="'/'+image.link_image" :title="image.description"><img :src="'/'+image.link_image" alt="Image" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End row -->
                </div> <!-- End Gallery -->

                <!-- Introduction Text -->
                <div class="col-md-6 col-sm-6" >
                    <h3><span>{{region.region_name}},</span> {{region.sentence}}</h3>
                    <div v-html="region.description"></div>
                </div> <!-- End Introduction Text -->

            </div> <!-- End row -->
        </div> 
        <!-- End Introduction -->
        <!-- Middle Destinations Banners -->
        <div id="banner">
            <div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- End Middle Destinations Banners -->
        <!-- Destinations -->
        <div class="white_bg">

            <!-- Map -->
            <div class="main_title">
                <div id="map" class="map"></div>
            </div> <!-- End Map -->
            <div class="container margin_30">
                <div class="col-md-12 col-sm-12">
                    <div class="main_title">
                        <h2><span>Destinos </span>que te encantarán</h2>
                        <p>Lugares de la región <strong>{{region.region_name}}</strong> en los que podrás realizar los <strong>deportes extremos</strong> que te apasionan</p>
                    </div>
                    <!-- Towns Amazonas -->
                    <div v-for="department in departments">
                        <div class="row" >

                            <div class="form_title" style="margin-bottom: 15px">
                                <router-link :to="'/home/department/'+department.slug"><h3><strong><i class="icon-pin"></i></strong>{{department.name}}</h3></router-link>
                                <p>{{department.short_description}}</p>
                            </div>

                            <div class="text-center col-md-4" v-for="(municipality,index) in department.listMunicipalities" v-if="index<3">
                                <p>
                                    <router-link :to="'/home/municipality/'+municipality.slug"><img :src="'/'+municipality.link_image" alt="Pic" class="img-responsive"></router-link>
                                </p>
                                <h4><span>{{municipality.municipality_name}}</span></h4>
                                <span v-html="municipality.description.substr(0,110)+'...' "></span><router-link :to="'/home/municipality/'+municipality.slug" class="btn_1">Ver más</router-link>

                            </div> <!-- End Town1 -->
                        </div> <!-- End Towns Amazonas-->
                        <hr>
                    </div>

                </div>
            </div><!-- End container -->
            <div id="banner">
                <div v-if="patterns['carrousel-banner-middle']!= null" class="container">
                    <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-middle']">
                        <div class="img_wrapper_gallery">
                            <div class="img_container_gallery">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                                <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                    <img :src="'/'+pattern.pattern" class="img-responsive">
                                    <i class="icon-resize-full-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Carrousel -->

        </div> <!-- End Actividades -->
         <!-- Carrousel -->
          <!-- Gallery and Others ========= -->
        <div class="container margin_30">

            <div class="col-md-8">

                <!-- Gallery ========= -->
                <div id="gallery" class="margin_30">

                    <div class="main_title">
                        <h2><span>Imágenes</span> Destacadas</h2>
                    </div>
            
                    <div class="row">
                        <div class="col-centered">

                            <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000">
                                <div class="carousel-inner">
                                    <div v-for="(image,index) in images" :class="(index==0) ? 'item active': 'item'">
                                        <div class="carousel-col">
                                            <img :src="'/'+image.link_image">
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <div class="left carousel-control">
                                    <a href="#carousel" role="button" data-slide="prev">
                                        <span class="icon-left-open-4" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </div>
                                <div class="right carousel-control">
                                    <a href="#carousel" role="button" data-slide="next">
                                        <span class="icon-right-open-4" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                
                <!-- Top Destinations ========= -->
                <div class="main_title">
                    <h2><span>Destinos</span> Destacados</h2>
                </div>
                
                <div class="row">

                    <!--feed item 1-->
                         <router-link v-for=" site in outstandingSite" :to="'/home/interestsite/'+site.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(site.link_image) ? 'background-image: url(/'+site.link_image+')' : 'background-image: url(/'+defaultcardimage+')'" :key="site.id_site"> 
                            <div class="feed_itm_inr">
                                <div class="item_desc">
                                  <h4 class="feed_itm_ttl">{{site.name}}</h4>
                              </div>
                            </div>
                        </router-link><!--@end feed item-->
                </div>
                
                <!-- Services ========= -->
                <div class="suggested-places margin_15">
                    <div class="overflow-hidden">
                         <div class="row">

                                <div v-if="hotels.length>0" class="col-sm-4">
                                    <div class="title"><h4>Hoteles</h4></div>
                                    <ul class="check-square box">
                                        <li v-for="hotel in hotels">
                                            <router-link :to="'/home/hotel/'+hotel.slug">
                                                <h6 class="box-title">{{hotel.name}}<small>{{hotel.municipality}}</small></h6>
                                            </router-link>
                                        </li>
                                    </ul>
                                    <router-link class="button" title="MORE" to="/home/hotels">Ver más</router-link>
                                </div>

                                <div v-if="restaurants.length>0" class="col-sm-4">
                                    <div class="title"><h4>Restaurantes</h4></div>
                                    <ul class="check-square box">
                                        <li v-for="restaurant in restaurants">
                                            <router-link :to="'/home/restaurant/'+restaurant.slug">
                                                <h6 class="box-title">{{restaurant.name}}<small>{{restaurant.municipality}}</small></h6>
                                            </router-link>
                                        </li>
                                    </ul>
                                     <router-link class="button" title="MORE" to="/home/restaurants">Ver más</router-link>
                                </div>

                                <div v-if="operators.length>0" class="col-sm-4">
                                    <div class="title"><h4>Operadores Turísticos</h4></div>
                                    <ul class="check-square box">
                                        <li v-for="operator in operators">
                                            <router-link :to="'/home/hotel/'+operator.slug">
                                                <h6 class="box-title">{{operator.name}}<small>{{operator.municipality}}</small></h6>
                                            </router-link>
                                        </li>
                                    </ul>
                                     <router-link class="button" title="MORE" to="/home/operators">Ver más</router-link>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
            
            <aside class="container col-md-4">

                <div class="colbanner center greencolored">
                    <h4>estado de las <span>vías</span></h4>
                    <p>
                        Consulta el estado de carreteras a nivel nacional.
                    </p>
                    <a href="https://www.policia.gov.co/estado-vias" target="_blank" class="btn_1 white">Ir</a>
                </div>

               <div v-if="patterns['right-banner']!= null"  class="box_style_1">
                        <div v-for="pattern in patterns['right-banner']">
                            <div v-if="pattern.multimedia_type == 'Imagen'">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
                                <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                            </div>

                            <div v-if="pattern.multimedia_type == 'Codigo'">
                                <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                                </div>
                            </div>

                            <div v-if="pattern.multimedia_type == 'Video'" >
                                <div >
                                    <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                                </div>
                            </div>
                          <hr>
                        </div>
                    </div>
            </aside>
        </div>
        <hr>


        <!-- Planes Destacados -->
        <div class="container">
        
            <!-- Title Planes Destacados -->
            <div class="main_title">
                <h2><span>¡{{region.region_name}} </span>Al Extremo!</h2>
                <p>Planes Destacados patrocinados por <a href="http://tupaseo.travel"> tupaseo.travel</a></p>
            </div> <!-- End Title Planes Destacados -->
            
            <!-- Planes -->
            <div class="row">
            
                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                        <div class="img_container">
                            <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                            <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                            <div class="short_info">
                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                            </div>
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{service.service_name}}</strong></h3>
                            <div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
                        </div>
                    </div><!-- End box tour -->
                </div><!-- End col-md-4 -->
            </div> <!-- End Planes -->
            <p class="text-center add_bottom_30">
                <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
            </p>
        </div> <!-- End Planes Destacados -->

        
        <!-- Middle Destinations Banners -->
         <div id="banner">
            <div v-if="patterns['carrousel-banner-bottom']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-bottom']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->

    <section class="promo_full" v-if="patterns['video-banner']!= null">
        <div class="promo_full_wp magnific">
                <div v-for="pattern in patterns['video-banner']">
                    <div v-if="pattern.multimedia_type == 'Imagen'">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Codigo'">
                        <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                        </div>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Video'" >
                        <div >
                            <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
                        </div>
                    </div>
                </div>
            <!--<div>
                <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>-->
        </div>
    </section> <!-- End video -->
        
      
        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
	</main>
    </div>
</template>

<script>

import axios from 'axios';


	export default{
		data()
		{
			return{
                region:[],
                slug:"",
				defaultcardimage:"",
                patterns:[],
                departments:[],
        		municipalities:[],
        		metas:{'description':'','keywords':'','title':''},
                services:[],
                outstandingDepartments:[],
                defaultimage:[],
                images:[],
                hotels:[],
                restaurants:[],
                operators:[],
                outstandingSite:[],
			};
		},
		mounted()
		{
            this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getRegion();            
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		watch: {
	        '$route.params.slug': function (id) {
	        	this.slug = this.$route.params.slug;
	         	this.getRegion();
	         	this.metas={'description':'','keywords':'','title':''};
	        }
	      },
	    metaInfo () {
	      return {
	        title: this.metas.title!='' ? this.metas.title : this.region.region_name,
	        titleTemplate: 'Región %s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:
		{
			getRegion:function()
			{
				axios.get('/vue/region/'+this.slug).then(response=>{
					this.region = response.data.region;
                    this.patterns = response.data.patterns;
                    this.outstandingSite = response.data.InterestSites;
                    this.municipalities = response.data.municipalities;
                    this.images = response.data.images;
            		this.defaultcardimage = response.data.defaultcardimage;
                    this.metas.keywords=this.region.keywords;
                    this.metas.title=this.region.region_name;
            		if(response.data.page)
            		{
            			this.metas = {'description':response.data.page.description};
            		}
                    this.defaultimage = response.data.defaultImage;
                    this.restaurants = response.data.restaurants;
                    this.hotels = response.data.hotels;
                    this.operators = response.data.operators;
                    this.departments = response.data.departments;
                    this.outstandingDepartments = response.data.outstandingDepartments;
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
                    this.createMap();
            		this.startCarousel();
				},(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            startCarousel:function()
            {

                $("#preloader").css('display', 'none');
                $('.cmn-toggle-switch').removeClass('active');
                $('.main-menu').removeClass('show');
                setTimeout(function() {
                    'use strict';
                    $('#layerslider').layerSlider({
                        autoStart: true,
                        responsive: true,
                        responsiveUnder: 1280,
                        layersContainer: 1170,
                        skinsPath: '/front/layerslider/skins/'
                            // Please make sure that you didn't forget to add a comma to the line endings
                            // except the last line!
                    });

                    $('#Img_carousel').sliderPro({
                        width: 960,
                        height: 500,
                        fade: true,
                        arrows: true,
                        buttons: false,
                        fullScreen: false,
                        smallSize: 500,
                        startSlide: 0,
                        mediumSize: 1000,
                        largeSize: 3000,
                        thumbnailArrows: true,
                        autoplay: false
                    });

                }, 1000);
                setTimeout(function() {
                    $('.carousel[data-type="multi"] .item').each(function() {
                    var next = $(this).next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));

                    for (var i = 0; i < 2; i++) {
                        next = next.next();
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }

                        next.children(':first-child').clone().appendTo($(this));
                    }
                });
                }, 3000);
            },
			createMap:function()
		    {
		        var municipalities;
		        municipalities = this.municipalities;
		        setpoints(municipalities,'municipality',7);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>