<template>
	<div>
		<div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:300px;">
                <!-- first slide -->
                <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                    <img  v-if="route.introduction_image" :src="'/'+route.introduction_image" class="ls-bg" alt="Slide background">
                    <img  v-else :src="'/'+defaultImage" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{route.name}}</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{route.sentence }}
                    </p>
                </div>
            </div>
        </div> 
 	<main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li><router-link :to="'/home/routes'">Rutas</router-link></li>
                    <li>{{route.name }}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
		
		   <!-- About ========= -->
        <div class="aboutus-section white_bg">

            <!-- Introduction BiciInfo -->
            <div class="container">
                <div class="row margin_15">
                    <div class="col-md-4 col-sm-6 col-xs-12" v-if="route.description_image">
                        <div class="aboutus-banner">
                            <img :src="'/'+route.description_image" alt="Image" class="img-responsive styled">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="main_title">
                            <h2>Ruta <span>{{route.name}}</span></h2>
                            <p></p>
                        </div>
						<div v-html="route.description">
						</div>
                    </div>                    
                    
                </div>
            </div> <!-- End Introduction BiciInfo -->
        </div>
		 <!-- Map -->
        <div class="main_title">
            <div id="map" class="map"></div>
        </div> <!-- End Map -->

         <!-- Tips Content =============================================== -->
        <div class="container margin_15">

            <div id="tips">

                <div class="main_title">
                    <h2>Qué <span>encontrarás</span> en esta ruta</h2>
                    <p>Información de la Ruta</p>
                </div>

                <!-- Route Info ======================================= -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="display:inline-block;width:100%;overflow-y:auto;">
                                <ul class="routetimeline routetimeline-horizontal">
                                    <li v-for="point in points" class="routetimeline-item">
                                        <div :class="'routetimeline-badge '+point.classColor">Km {{point.kilometer}}</div>
                                        <div class="routetimeline-panel">
                                            <div class="routetimeline-heading">
                                                <h4 class="routetimeline-title">{{point.title}}</h4>
                                            </div>
                                            <div class="routetimeline-body" v-html="point.description">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Route Tips ======================================= -->
                <div class="row margin_15">
                	<div v-if="patterns['left-banner']!= null" class="col-md-4 col-sm-6 col-xs-12">
                		<div v-for="pattern in patterns['left-banner']">
		                    <div class="img_wrapper_gallery img-responsive" style="width: 320px; margin-top: 10px">
		                        <div v-if="pattern.multimedia_type == 'Imagen'">
				                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
				                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
				                </div>

				                <div v-if="pattern.multimedia_type == 'Codigo'">
				                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
				                    </div>
				                </div>

				                <div v-if="pattern.multimedia_type == 'Video'" >
				                    <div >
				                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
				                    </div>
				                </div>
		                    </div>
		                </div>
                	</div>
				
                    <div v-else class="col-md-4 col-sm-6" v-if="route.recommendation_image">
                        <img :src="'/'+route.recommendation_image" alt="Image" class="img-responsive styled">
                    </div>
                    <div class="col-md-7 col-md-offset-1 col-sm-6">
                        <h3><span>Recomendaciones</span></h3>
                        <div v-html="route.recommendation">
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- First Banner ========================================= -->
         <div v-if="patterns['top-middle-banner']!= null" id="firstbanner">
            <div class="container margin_15">
                <div v-for="pattern in patterns['top-middle-multiple']" class="col-md-6 col-sm-6">
                    <div class="img_wrapper_gallery img-responsive" style="width: 320px; margin-top: 10px">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
                    </div>
                </div>
            </div>
        </div> <!-- First Banner -->
       


        <!-- Gallery and Others ========= -->
        <div class="container margin_30">

            <div class="col-md-8">

                <!-- Gallery ========= -->
                <div id="gallery" class="margin_30">

                    <div class="main_title">
                        <h2><span>Imágenes</span> Destacadas</h2>
                        <blockquote v-html="route.text_images">
                		</blockquote>
                    </div>

                    <div class="row">
                        <div class="col-centered">

                            <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000">
                                <div class="carousel-inner">
		                            <div v-for="(image,index) in images" :class="(index==0) ? 'item active': 'item'">
		                                <div class="carousel-col">
		                                    <img :src="'/'+image.link_image">
		                                </div>
		                            </div>
		                        </div>
                                <!-- Controls -->
                                <div class="left carousel-control">
                                    <a href="#carousel" role="button" data-slide="prev">
                                        <span class="icon-left-open-4" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </div>
                                <div class="right carousel-control">
                                    <a href="#carousel" role="button" data-slide="next">
                                        <span class="icon-right-open-4" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                
                <!-- Top Destinations ========= -->
                <div class="main_title">
                    <h2><span>Destinos</span> Destacados</h2>
                </div>
                
                <div class="row">

                     <div class="row">

                        <!--feed item 1-->
                         <router-link v-for=" site in outstandingSite" :to="'/home/interestsite/'+site.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(site.link_image) ? 'background-image: url(/'+site.link_image+')' : 'background-image: url(/'+defaultcardimage+')'" :key="site.id_site"> 
                            <div class="feed_itm_inr">
                                <div class="item_desc">
                                  <h4 class="feed_itm_ttl">{{site.name}}</h4>
                              </div>
                            </div>
                        </router-link><!--@end feed item-->
                        
                    </div>
                </div>
                
                <!-- Services ========= -->
                <div class="suggested-places margin_15">
                    <div class="overflow-hidden">
                        <div class="row">

                             <div v-if="hotels.length>0" class="col-sm-4">
                                <div class="title"><h4>Hoteles</h4></div>
                                <ul class="check-square box">
                                    <li v-for="hotel in hotels">
                                        <router-link :to="'/home/hotel/'+hotel.slug">
                                        	<h6 class="box-title">{{hotel.name}}<small>{{hotel.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                            <div v-if="restaurants.length>0" class="col-sm-4">
                                <div class="title"><h4>Restaurantes</h4></div>
                                <ul class="check-square box">
                                    <li v-for="restaurant in restaurants">
                                        <router-link :to="'/home/restaurant/'+restaurant.slug">
                                        	<h6 class="box-title">{{restaurant.name}}<small>{{restaurant.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                            <div v-if="operators.length>0" class="col-sm-4">
                                <div class="title"><h4>Operadores Turísticos</h4></div>
                                <ul class="check-square box">
                                    <li v-for="operator in operators">
                                        <router-link :to="'/home/hotel/'+operator.slug">
                                        	<h6 class="box-title">{{operator.name}}<small>{{operator.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <aside class="container col-md-4">
               <div v-if="route.download_file" class="colbanner center colored">
                    <h4>Mapa <span>de ruta</span></h4>
                    <p>
                        Lleva siempre a mano el mapa de esta ruta.
                    </p>
                    <a :href="'/'+route.download_file" class="btn_1 white">Descargar</a>
                </div>


                <div class="colbanner center greencolored">
                    <h4>estado de las <span>vías</span></h4>
                    <p>
                        Consulta el estado de carreteras a nivel nacional.
                    </p>
                    <a href="https://www.policia.gov.co/estado-vias" target="_blank" class="btn_1 white">Ir</a>
                </div>

                <div v-if="patterns['right-banner']!= null"  class="box_style_1">
                    <div v-for="pattern in patterns['right-banner']">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		              <hr>
                    </div>
                </div>
            </aside>
        </div>
        <hr>

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                    <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->
                 <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
 			</div>
        </div> <!-- End Planes -->
        <!-- Video -->
        <section class="promo_full" v-if="patterns['video-banner']!= null">
		    <div class="promo_full_wp magnific">
		            <div v-for="pattern in patterns['video-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
		                    </div>
		                </div>
		            </div>
		        <!--<div>
		            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>-->
		    </div>
	    </section> 
	    <!-- End video -->
		<!-- Carrousel -->
         <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- End main -->
	</div>
</template>

 <style>
@import '~/front/css/cdtimeline.css';
</style>
<script>
	import axios from 'axios';

	export default{
		data(){
			return{
				route:[],
                slug:"",
                patterns:[],
                restaurants:[],
                hotels:[],
                operators:[],
                metas:{'description':'','keywords':'','title':''},
                points:[],
                images:[],
                hotels:[],
                services:[],
                defaultImage:'',
                defaultcardimage:'',
                outstandingSite:[],
                cuantityPoints:0,
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getRoute();            
            $('body,html').animate({
                scrollTop: 0
            }, 0);
		},
		metaInfo () {
	      return {
            title: this.route.name,
            titleTemplate: '%s | Guía de Rutas por Colombia',
            meta: [
              { vmid: 'description', name: 'description', content: this.metas.description },
              { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
            ]
          }
	    },
	    methods:
		{
			getRoute:function()
            {
                axios.get('/vue/route/'+this.slug).then(response=>{
                    this.route = response.data.route;
                    this.patterns = response.data.patterns;
                    this.defaultImage = response.data.defaultImage;
                    this.points = response.data.points;
                    this.cuantityPoints = (this.points.length/2);
                    this.images = response.data.images;
                    this.hotels = response.data.hotels;
                    this.restaurants = response.data.restaurants;
                    this.operators = response.data.operators;
                    this.defaultcardimage = response.data.defaultcardimage;
                    this.outstandingSite = response.data.InterestSites;
                    this.metas.keywords=this.route.keywords;

                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
                    this.startCarousel();
            		this.createMap();
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            startCarousel:function()
            {
                setTimeout(function() {
                    'use strict';
                    $('#layerslider').layerSlider({
                        autoStart: true,
                        responsive: true,
                        responsiveUnder: 1280,
                        layersContainer: 1170,
                        skinsPath: '/front/layerslider/skins/'
                            // Please make sure that you didn't forget to add a comma to the line endings
                            // except the last line!
                    });
                }, 500);
                setTimeout(function() {
                    $('.carousel[data-type="multi"] .item').each(function() {
                    var next = $(this).next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));

                    for (var i = 0; i < 2; i++) {
                        next = next.next();
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }

                        next.children(':first-child').clone().appendTo($(this));
                    }
                });
                }, 4000);
            },
            createMap:function()
		    {
		        var points;
		        points = this.points;
		        setpoints(points,'individual',7);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
	}
</script>