<template>
	<div>
		<!-- Slider -->
	    <div id="full-slider-wrapper">
	        <div id="layerslider" style="width:100%;height:300px;">
	            <!-- first slide -->
	            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
	                <img src="/img/portrutas.jpg" class="ls-bg" alt="Slide background">
	                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Rutas por Colombia</h3>
	                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">Recorre Colombia
	                </p>
	            </div>
	        </div>
	    </div> <!-- End layerslider -->
	    <!-- Main ================================================== -->
    <main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li>Rutas</li>
                </ul>
            </div>
        </div> <!-- End Position -->
		<!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
        <!-- First Banner ========================================= -->
        <div v-if="patterns['top-middle-banner']!= null" id="firstbanner">
            <div class="container margin_15">
                <div v-for="pattern in patterns['top-middle-multiple']" class="col-md-4 col-sm-4">
                    <div class="img_wrapper_gallery img-responsive" style="width: 320px; margin-top: 10px">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
                    </div>
                </div>
            </div>
        </div> <!-- First Banner -->

        <!-- Search =============================================== -->
        <section id="search_container">
            <div id="search">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#rutas" data-toggle="tab">Rutas</a></li>
                </ul>

                <div class="tab-content">

                    <!-- Rutas -->
                    <div class="tab-pane active" id="rutas">
                        <h3>¿A dónde quieres ir?</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Origen</label>
                                    <input type="text" v-model="origin.text" @keyup="getSite('origin')" class="form-control" id="origin" placeholder="Buscar">
                                    <input type="hidden">
                                    <ul class="listOptions">
                						<li v-for="option in options" class="selectSearch" v-on:click="validateOrigin(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesOrigin"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Destino</label>
                                    <input type="text" v-model="destiny.text" @keyup="getSite('destiny')" class="form-control" id="destiny" placeholder="Buscar">
                                    <ul class="listOptions">
                						<li v-for="option in optionsDestiny" class="selectSearch" v-on:click="validateDestiny(option)">{{option.name}}
                						</li>
            						</ul>
                                    <span id="messagesDestiny"></span>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                        <hr>
                        <div align="center">
                            <span id="messagesButton"></span><br>
                        	<button class="btn_1 green" v-on:click="search()"><i class="icon-search"></i>Buscar</button>
                        </div>

                    </div> <!-- End Actividades -->
                </div>
            </div>
        </section> <!-- End Search -->

        <!-- Map -->
        <div class="main_title" id="divmap" hidden>
        	<div class="row">
        		<div class="col-sm-12 col-md-6">
        			<div id="map" ></div>
        		</div>
			    <div id="right-panel" class="col-sm-12 col-md-6">
			      <p>Distancia total: <span id="total"></span></p>
			    </div>
        	</div>
        </div> <!-- End Map -->

		<!-- Routes =============================================== -->
        <div class="container margin_15">

            <div class="main_title">
                <h2>Rutas <span>sugeridas</span></h2>
                <p>
                    Para recorrer Colombia
                </p>
            </div>

                <!-- Circuits Tours -->
                <div class="row">
                    <ul class="cards">
                        
                        <!-- Route 1 -->
                        <li v-for="route in routes" class="card">
                            <div class="card__inner">
                                <img  :src="(route.card_image) ? '/'+route.card_image : '/'+defaultcardroute" class="img-responsive" alt="image">
                                <div class="card__buttons">
                    				<router-link :to="'/home/route/'+route.slug">Más información</router-link>
                    				<router-link :to="'/home/route/'+route.slug+'#map'">Mapa</router-link>
                                </div>
                            </div>
                            <ul class="card__icons">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <h3 class="card__tagline">{{route.name}}</h3>
                            <p>{{route.sentence}}</p>
                        </li> <!-- End Route 1 -->
                    </ul>
                </div>

            <hr>
        </div> <!-- End container -->

        <!-- Concesiones Banner -->
    	<div v-if="patterns['middle-banner']!= null" id="planbanner">
            <div v-for="pattern in patterns['middle-banner']" class="container margin_30">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Concesiones ========================================== -->
        <div class="services-section black-trans-bg">
            <div class="services-section-banner"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="services-head">
                            <h2 class="services-title">Concesiones</h2>
                            <span class="services-title-border"></span>
                            <p class="services-text">Concesiones viales en Colombia</p>
                        </div>
                        <div class="services-content">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="service-2">
                                        <div v-for=" (concession,index) in concessions" v-if="index < cantConcessions" class="service-box">
                                            <div class="clearfix">
                                                <div class="iconset">
                                                    <img :src="(concession.logo) ? '/'+concession.logo : '/'+defaultlogoconcession" class="concessionlogo">
                                                </div>
                                                <div class="servicesB-content">
                                                	<router-link :to="'/home/concession/'+concession.slug"> <h4 v-if="concession.acronym" class="m0">{{concession.acronym}}</h4>
                                                    <p>{{concession.name}}</p></router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="service-2">
                                        <div v-for=" (concession,index) in concessions" v-if="index>=cantConcessions && index < cantConcessions*2" class="service-box">
                                            <div class="clearfix">
                                                <div class="iconset">
                                                    <img :src="(concession.logo) ? '/'+concession.logo : '/'+defaultlogoconcession" class="concessionlogo">
                                                </div>
                                                <div class="servicesB-content">
                                                	<router-link :to="'/home/concession/'+concession.slug"> <h4 v-if="concession.acronym" class="m0">{{concession.acronym}}</h4>
                                                    <p>{{concession.name}}</p></router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="service-2">
                                        <div v-for=" (concession,index) in concessions" v-if="index >= cantConcessions*2" class="service-box">
                                            <div class="clearfix">
                                                <div class="iconset">
                                                    <img :src="(concession.logo) ? '/'+concession.logo : '/'+defaultlogoconcession" class="concessionlogo">
                                                </div>
                                                <div class="servicesB-content">
                                                	<router-link :to="'/home/concession/'+concession.slug"> <h4 v-if="concession.acronym" class="m0">{{concession.acronym}}</h4>
                                                    <p>{{concession.name}}</p></router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End container -->

        <!-- Circuits Banner -->
        <!-- Concesiones Banner -->
    	<div v-if="patterns['bottom-banner']!= null" id="planbanner">
            <div v-for="pattern in patterns['bottom-banner']" class="container margin_30">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div><!-- End Circuits Banner -->

        <!-- Circuites =============================================== -->
        <div class="container margin_15">

            <div class="main_title">
                <h2>Circuitos <span>sugeridos</span></h2>
                <p>
                    Para recorrer Colombia
                </p>
            </div>

                <!-- Circuits Tours -->
                <div class="row">
                    <ul class="cards">
                        
                        <!-- Circuits 1 -->
                        <li v-for="circuit in circuits" class="card">
                            <div class="card__inner">
                                <img  :src="(circuit.card_image) ? '/'+circuit.card_image : '/'+defaultcardimage" class="img-responsive" alt="image">
                                <div class="card__buttons">
                    				<router-link :to="'/home/circuit/'+circuit.slug">Más información</router-link>
                    				<router-link :to="'/home/circuit/'+circuit.slug+'#map'">Mapa</router-link>
                                </div>
                            </div>
                            <ul class="card__icons">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <h3 class="card__tagline">{{circuit.name}}</h3>
                            <p>{{circuit.sentence}}</p>
                        </li> <!-- End Circuits 1 -->
                    </ul>
                </div>

            <hr>
        </div> <!-- End container -->

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                 <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->


                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
	</main> <!-- End main -->
	</div>
</template>

<script>
	
	import axios from 'axios';

	export default{
		data()
		{
			return{
				routes:[],
				concessions:[],
				cantConcessions:[],
                defaultlogoconcession:'',
				defaultcardroute:'',
				circuits:[],
				patterns:[],
				services:[],
				defaultImage:'',
				defaultcardimage:'',
                metas:{'description':'','keywords':'','title':''},
				origin:{'text':''},
				destiny:{'text':''},
				options:[],
				finalOrigin:[],
				optionsDestiny:[],
				finalDestiny:[],
				pointsmap:[],
				startPoint:[],
			}
		},
		created()
		{
			this.getData();
			$("#preloader").css('display', 'initial');         
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		 metaInfo () {
          return {
            title:  'Rutas',
            titleTemplate: '%s | Guía de Rutas por Colombia',
            meta: [
              { vmid: 'description', name: 'description', content: this.metas.description },
              { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
            ]
          }
        },
		methods:{
			getData:function()
			{
				axios.post('/vue/routes').then(response=>{
					this.routes = response.data.routes;
					this.circuits = response.data.circuits;
					this.concessions = response.data.concessions;
					this.cantConcessions = response.data.cantConcessions;
					this.patterns = response.data.patterns;
    				this.page = response.data.page;
                    this.defaultImage = response.data.defaultImage;
                    this.defaultcardimage = response.data.defaultcardimage;
                    this.defaultlogoconcession = response.data.defaultlogoconcession;
                    this.defaultcardroute = response.data.defaultcardroute;
                    if(response.data.page)
                    {
                        this.metas.description = response.data.page.description;
                        this.metas.title = response.data.page.page_name;
                        this.metas.keywords = response.data.page.keywords;
                    }
					this.startCarousel();
					$("#preloader").css('display', 'none');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
			},
			startCarousel:function()
            {
            	setTimeout(function() {
            		'use strict';
					$('#layerslider').layerSlider({
						autoStart: true,
						responsive: true,
						responsiveUnder: 1280,
						layersContainer: 1170,
						skinsPath: '/front/layerslider/skins/'
							// Please make sure that you didn't forget to add a comma to the line endings
							// except the last line!
					});
            	}, 500);
            },
			getSite:function(type)
			{
				if(type == 'origin')
				{
					if(this.origin.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesOrigin').text('Por favor digite más de 3 caracteres');
						this.options=[];
					}
					else
					{
						$('#messagesOrigin').text('');
						console.log(this.origin.text);
						axios.put('/vue/getnamesites',{'name':this.origin.text}).then(response=>{
							this.options = response.data;
						});
					}
				}
				else
				{
					if(this.destiny.text.length<=3)
					{
						$('#messagesDestiny').text('');
						$('#messagesDestiny').text('Por favor digite más de 3 caracteres');
						this.optionsDestiny=[];
					}
					else
					{
						$('#messagesDestiny').text('');
						console.log(this.destiny.text);
						axios.put('/vue/getnamesites',{'name':this.destiny.text}).then(response=>{
							this.optionsDestiny = response.data;
						});			
					}
				}
			},
			validateOrigin:function(option)
			{
				if(this.finalDestiny=='')
				{
					$('#messagesOrigin').text('');
					$('#messagesButton').text('');
					this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
					this.options={};
					this.origin.text=option.name;
				}
				else
				{
					if(this.finalDestiny.slug==option.slug)
					{
						$('#messagesOrigin').text('El lugar de inicio debe ser diferente al final');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesOrigin').text('');
						$('#messagesButton').text('');
						this.finalOrigin={'name':option.name,'slug':option.slug,'type':option.type};
						this.options={};
						this.origin.text=option.name;
					}
				}
			},
			validateDestiny:function(option)
			{
				if(this.finalOrigin=='')
				{
					$('#messagesDestiny').text('');
					$('#messagesButton').text('');
					this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
					this.optionsDestiny={};
					this.destiny.text=option.name;
				}
				else
				{
					if(this.finalOrigin.slug==option.slug)
					{
						$('#messagesDestiny').text('El lugar final debe ser diferente al del inicio');
						$('#messagesButton').text('');
					}
					else
					{
						$('#messagesDestiny').text('');
						$('#messagesButton').text('');
						this.finalDestiny={'name':option.name,'slug':option.slug,'type':option.type};
						this.optionsDestiny={};
						this.destiny.text=option.name;
					}
				}
			},
			search:function()
			{
				if(this.finalDestiny.slug!='' && this.finalOrigin.slug!='')
				{
					axios.put('/vue/getnearbypoints',{'origin':this.finalOrigin,'destiny':this.finalDestiny}).then(response=>{
							this.pointsmap = response.data.points;
							this.startPoint = response.data.start;
							this.endPoint = response.data.end;
							this.createMap();
					});
				}
				else
				{
					$('#messagesButton').text('Se debe seleccionar un punto inicial y uno final');
				}
			},
			createMap:function()
		    {
		    	$('#divmap').removeAttr('hidden');
		        var points;
		        points = this.pointsmap;
		        setpoints(points,'individual',10);
                calculateAndDisplayRoute(this.startPoint, this.endPoint);
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>