<template>
	<div>
        <!-- Slider -->
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:600px;">
            <!-- first slide -->
            <div v-if="outstanding.length>0" v-for="banner in outstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img v-if="banner.link_image" :src="'/'+banner.link_image" class="ls-bg" alt="Slide background">
                <img v-else :src="'/'+defaultimage" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.municipality_name}}</h3>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/hotel/'+banner.slug">Ver Municipio</router-link>
            </div>
            <div v-else class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img src="/img/portrutas.jpg" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Rutas por Colombia</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">Recorre Colombia
                    </p>
            </div>

        </div>
    </div> <!-- End layerslider -->
    <main>
    	<div id="position">
            <div class="container">
                <ul>
                   <li><router-link :to="'/home'">Home</router-link></li>
                   <li><router-link :to="'/home/directory'">Qué hacer</router-link></li>
                    <li>Busqueda</li>
                </ul>
            </div>
      	</div>

        <div class="container margin_60">

            <div class="row">
                <!-- Top Directory Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
                    <div v-for="pattern in patterns['top-middle-banner']">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                        </div>

                        <div v-if="pattern.multimedia_type == 'Codigo'">
                            <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                            </div>
                        </div>

                        <div v-if="pattern.multimedia_type == 'Video'" >
                            <div >
                                <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                            </div>
                        </div>
                    </div>
        		</div> <!-- End Top Directory Banner -->
        		 <aside class="col-lg-3 col-md-3">

                    <!-- Filters Col -->
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Opciones<i class="icon-plus-1 pull-right"></i></a>
                        <div class="collapse in" id="collapseFilters">

                            <!-- Region -->
                            <div class="filter_type">
                                <h6>Región</h6>
                                <ul>
                                    <li v-if="regions.length>0" v-for="region in regions">
                                        <label @click="regionClick">
                                            <input type="checkbox" :id="region.slug" class="checkRegion">{{region.region_name}}</label>
                                    </li>
                                </ul>
                            </div> <!-- End Region -->
                            <!-- Air Activities -->
                        </div>
                        <!--End collapse -->
                    </div> <!--End filters Col-->
                     <!-- Help -->
                    <div class="box_style_2">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>¿Quieres <span>ayuda?</span></h4>
                        <a href="tel://00573165827931" class="phone">+57 316 5287931</a>
                        <small>Lunes a Viernes<br>8:30 am - 5:30 pm</small>
                    </div> <!-- End Help -->

                    <div id="filters_col" class="hidden-sm hidden-xs" v-if="patterns['left-side-banner']!= null">
                        <div class="banner" v-for="pattern in patterns['left-side-banner']">
                            <a :href="pattern.redirection" target="_blank">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                        </div>
                    </div> <!--End Banners-->

                </aside> <!--End aside -->
                <div class="col-lg-9 col-md-9">

                    <!-- Tools -->
                    <div id="tools">

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_price" id="departmentSelect" @change="changeDepartment">
                                        <option value="" selected="">Filtrar por Departamento</option>
										<optgroup v-if="departments" v-for="(departmentslist, region) in departments" :label="region">
											<option v-for="department in departmentslist" :value="department.slug" :id="department.slug">{{department.department_name}}</option>
										</optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rating" id="municipalitySelect" @change="changeMunicipality">
                                        <option value="" >Filtrar por municipio</option>
										<option v-for="municipality in municipalities" :value="municipality.slug">{{municipality.municipality_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rating" id="activitySelect" @change="changeActivity">
                                        <option value="" selected="">Organizar por actividad</option>
                                        <option v-for="activity in whattodo" :value="activity.slug">{{activity.activity_name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div> <!-- End Tools -->
                    <!--feed item 1-->
	                <router-link v-for="(site,index) in sites" v-if="index < cuantity" :to="site.type=='municipality' ? '/home/municipality/'+site.municipality.slug : '/home/interestsite/'+site.site.slug"  :class="(site.class)?'feed_itm col-sm-8 col-xs-8':'feed_itm col-sm-4 col-xs-4'" :style="'background-image: url(/'+site.image_link+')'" :key="site.id_activity_pivot"> 
	                    <div class="feed_itm_inr">
	                        <div class="item_desc">
	                          <h4 class="feed_itm_ttl" v-if="site.type=='municipality'">{{site.municipality.municipality_name}}</h4>
	                          <h4 class="feed_itm_ttl" v-else>{{site.site.site_name}}</h4>

	                          <p class="feed_itm_prc">Region {{site.region.region_name}} | {{site.department.department_name}}</p>
	                        </div>
	                    </div>
	                </router-link><!--@end feed item-->


                    <div v-if="sites.length==0" class="col-md-6"><p>No se han encontrado resultados para la búsqueda.</p></div>
					

                    <!-- Top Destinations Banner -->
                    <div id="carousel" class="carousel slide" data-ride="carousel">
			        	<div v-if="patterns['tour-banner-top']!= null" class="carousel-inner">
			        		<div class="carousel item active" v-for="(pattern,index) in patterns['tour-banner-top']" v-bind:class="[index==0 ? 'active': '']" >
                                <img class="d-block w-100" src="img/banners/ebanx.jpg" alt="First slide">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
	                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
                            </div>
			            </div>
			        </div> 

			        <router-link v-for="(site,index) in sites" v-if="index >= cuantity" :to="site.type=='municipality' ? '/home/municipality/'+site.municipality.slug : '/home/interestsite/'+site.site.slug"  :class="(site.class)?'feed_itm col-sm-8 col-xs-8':'feed_itm col-sm-4 col-xs-4'" :style="'background-image: url(/'+site.image_link+')'" :key="site.id_activity_pivot"> 
	                    <div class="feed_itm_inr">
	                        <div class="item_desc">
	                          <h4 class="feed_itm_ttl" v-if="site.type=='municipality'">{{site.municipality.municipality_name}}</h4>
	                          <h4 class="feed_itm_ttl" v-else>{{site.site.site_name}}</h4>

	                          <p class="feed_itm_prc">Region {{site.region.region_name}} | {{site.department.department_name}}</p>
	                        </div>
	                    </div>
	                </router-link><!--@end feed item-->
                    
                    <hr>
                    
                    <!-- Pagination -->
                    <div class="text-center" v-if="pagination.total >10">
                        <ul class="pagination">
                            <li v-if="pagination.current_page >1">
                            	<a href="#" @click.prevent="changePage(pagination.current_page-1)">Anterior</a>
                            </li>
                            <li v-for="page in pagesNumber" v-bind:class="[ page== isActived  ? 'active': '']">
                            	<a href="#" @click.prevent="changePage(page)">{{page}}</a>
                            </li>
                            <li v-if="pagination.current_page < pagination.last_page">
                            	<a href="#" @click.prevent="changePage(pagination.current_page+1)">Siguiente</a>
                            </li>
                        </ul>
                    </div> <!-- End Pagination-->

                </div>
                <!-- End col lg-9 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->

        <!-- Middle Tours Banners -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Video -->
        <section class="promo_full" v-if="patterns['video-banner']!= null">
		    <div class="promo_full_wp magnific">
		            <div v-for="pattern in patterns['video-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
		                    </div>
		                </div>
		            </div>
		        <!--<div>
		            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>-->
		    </div>
	    </section> <!-- End video -->
		<!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</main>
</div>
</template>
<script>
import axios from 'axios';


export default {
  data () {
    return {

    	slug:[],
    	regions:[],
    	whattodo :[],
        sites:[],
        departments:[],
        pagination:{
        	'total'		:0,
			'current_page':0,
			'per_page'	:0,
			'from'		:0,
			'last_page'	:0,
			'to'		:0,
        },
        municipalities:[],
        plans:0,
        patterns:[],
        metas:[],
        cuantity:0,
        offset:1,
        urlChain:'',
        state:true,
        outstanding:[],
        defaultimage:'',
        defaultcardimage:'',
    };
  },
  mounted() {
  	
    this.urlChain='';
    this.slug='';
  	this.getSites();
     $("#preloader").css('display', 'initial');
    $('body,html').animate({
                scrollTop: 0
            }, 0);


  },
  watch:
  {
  	'$route.query':function()
  	{
  		this.slug = this.$route.query;
  		this.getSites();
  	}
  },
  metaInfo () {
      return {
        title: this.metas.title!=''  && this.metas.title!=null  ? this.metas.title : '¿Qué hacer?',
        titleTemplate: '%s | Guía de rutas por Colombia',
        meta: [
          { vmid: 'description', name: 'description', content: this.metas.description },
          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
        ]
      }
    },
    computed:
    {
    	//alumbra la pagina actual
    	isActived: function()
    	{
    		return this.pagination.current_page;
    	},	
    	//elementos que me aparecen en pantalla
    	pagesNumber:function()
    	{
    		if (!this.pagination.to)
    		{
    			return [];
    		}

    		var from = this.pagination.current_page - this.offset;// TO DO offset
    		if(from <1)
    		{
    			from = 1;
    		}

    		var to  = from + (this.offset * 2); //To do offset

    		if(!to>this.pagination.last_page )
    		{
    			to = this.pagination.last_page;
    		}

    		var pagesArray = [];
    		while(from <= to)
    		{
    			pagesArray.push(from);
    			from++;
    		}
    		return pagesArray;
    	}
    },
  methods:{
    getSites:function()
    {
    	axios.put('/vue/searchwhattodo',this.slug).then(response=>{
    		this.regions = response.data.regions;
    		this.whattodo = response.data.whattodo;
    		this.sites = response.data.sites.data;
    		this.departments = response.data.departments;
    		this.municipalities = response.data.municipalities;
    		this.pagination = response.data.pagination;
    		this.cuantity = response.data.cuantity;
            this.outstanding = response.data.outstanding;
            this.defaultcardimage = response.data.defaultcardimage;
            this.defaultimage = response.data.defaultimage;
            this.patterns = response.data.patterns;
            if(response.data.page)
            {
                this.metas.description = response.data.page.description;
                this.metas.title = response.data.page.title;
                this.metas.keywords = response.data.page.keywords;
            }
            $("#preloader").css('display', 'none');
            $('.cmn-toggle-switch').removeClass('active');
            $('.main-menu').removeClass('show');    
			this.startFunction();
            this.startBanner();
    	});
    },
    startFunction:function()
    {
    	setTimeout(function()
        {
        	$('#cat_nav').mobileMenu();
        	$('input').iCheck({
				checkboxClass: 'icheckbox_square-grey',
				radioClass: 'iradio_square-grey'
			});
    	}
        ,50);
       
    },
    startBanner:function()
    {
        $("#preloader").css('display', 'none');
        $('.cmn-toggle-switch').removeClass('active');
        $('.main-menu').removeClass('show');
        if(this.state)
        {
            this.state = false;
            setTimeout(function() {
            $('#layerslider').layerSlider({
            autoStart: true,
            responsive: true,
            responsiveUnder: 1280,
            layersContainer: 1170,
            skinsPath: '/front/layerslider/skins/'
                // Please make sure that you didn't forget to add a comma to the line endings
                // except the last line!
            });

            }, 500);
        }
    },
    regionClick:function()
    {
		this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
            {
			var regionsState = false;
			var regions = '';
            self.outChain('department');
            self.outChain('municipality');

	    	$(".checkRegion").each(function (index) 
	    	{  
	    		if($("#"+this.id).is(":checked"))
	    		{
	    			regionsState = true;
	    			regions+= this.id+',';
	    		}
		       
		    });
	    	if(regionsState)
	    	{
	    		//busqueda
				self.$router.push({
				   	path: '/home/searchwhattodo'+self.urlChain,
				    query: { region: regions }
				});
	    	}
	    	else{
	    		self.outChain('region');

	    		self.$router.push({
				   	path: '/home/searchwhattodo'+self.urlChain,
				});
	    	}
		},50);
    	
    },
    changeDepartment:function()
    {
    	console.log($("#departmentSelect").val());
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var departmentState = false;
				var department = '';
                self.outChain('municipality');
	    		if($("#departmentSelect").val()!='')
	    		{
	    			departmentState = true;
	    			department =$("#departmentSelect").val();
	    		}
			       
		    	if(departmentState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/searchwhattodo'+self.urlChain,
					    query: { department: department }
					});
		    	}
		    	else{
		    		self.outChain('department');
		    		self.$router.push({
					   	path: '/home/searchwhattodo'+self.urlChain,
					});
		    	}
		},50);
    },
    changeMunicipality:function()
    {
        this.getChain();
        //self variable auxiliar dentro de la funcion para indicar que es this :v
        var self = this;
        setTimeout(function()
                {
                var municipalityState = false;
                var municipality = '';
                
                if($("#municipalitySelect").val()!='')
                {
                    municipalityState = true;
                    municipality =$("#municipalitySelect").val();
                }
                   
                if(municipalityState)
                {
                    //busqueda
                    self.$router.push({
                        path: '/home/searchwhattodo'+self.urlChain,
                        query: { municipality: municipality }
                    });
                }
                else{
                    self.outChain('municipality');
                    self.$router.push({
                        path: '/home/searchwhattodo'+self.urlChain,
                    });
                }
        },50);
    },
    changeActivity:function()
    {
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var activityState = false;
				var activity = '';
		    	
	    		if($("#activitySelect").val()!='')
	    		{
	    			activityState = true;
	    			activity =$("#activitySelect").val();
	    		}
			       
		    	if(activityState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/searchwhattodo'+self.urlChain,
					    query: { type_whattodo: activity }
					});
		    	}
		    	else{
		    		self.outChain('type_whattodo');
		    		self.$router.push({
					   	path: '/home/searchwhattodo'+self.urlChain,
					});
		    	}
		},50);
    },
    getChain:function()
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if (i==0) this.urlChain+='?'
    		else this.urlChain+='&'
    		this.urlChain += x+'=';
    		this.urlChain +=this.slug[x];
    		i++;
    	}
    },
    outChain:function(outPlace)
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if(x!=outPlace)
    		{
    			if (i==0) this.urlChain+='?'
	    		else this.urlChain+='&'
	    		this.urlChain += x+'=';
	    		this.urlChain +=this.slug[x];
	    		i++;
    		}
    		
    	}
    },
    clickPattern:function(id)
    {
        axios.get('/vue/sumclick/'+id);
    },
    changePage:function(page)
    {
    	this.pagination.current_page = page;
    	this.getChain();

		this.$router.push({
		   	path: '/home/searchwhattodo'+this.urlChain,
		    query: { page: page }
		});
    
    },

    Alert:function()
    {
        alert("ok");
    }
  },
};
</script>