<template>
<div>
		<div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:300px;">
                <!-- first slide -->
                <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                    <img  v-if="route.introduction_image" :src="'/'+route.introduction_image" class="ls-bg" alt="Slide background">
                    <img  v-else :src="'/'+defaultImage" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{route.name}}</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{route.sentence }}
                    </p>
                </div>
            </div>
        </div> 

	 <!-- Main ================================================== -->
    <main>

       <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li><router-link :to="'/home/specials'">Especiales</router-link></li>
                    <li><router-link :to="'/home/special/special/'+special.slug">{{special.name}}</router-link></li>
                    <li>{{route.name }}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
        
        <!-- About ========= -->
        <div class="aboutus-section white_bg">

            <!-- Introduction BiciInfo -->
            <div class="container">
                <div class="row margin_15">

                    <div class="main_title">
                        <h2><span>{{route.name}}</span></h2>
                        <p>{{route.sentence}}</p>
                    </div>

                    <div class="trail_icons text-center">
                        <ul>
                            <li><i class="icon_set_1_icon-40"></i>Ruta</li>
                            <li><i class="icon-chart-1"></i>{{route.length}} km</li>
                            <li><i class="icon-frown"></i>{{route.difficulty}}</li>
                            <li><i class="icon-level-up"></i>{{route.highest_point}} m</li>
                            <li><i class="icon-level-down"></i>{{route.lower_point}} m</li>
                            <li><a href="#trail-map"><i class="icon_set_1_icon-37"></i>Mapa</a></li>
                            <li><a href="#tips"><i class="icon-info-circled"></i>Tips</a></li>
                            <li><a href="#gallery"><i class="icon-picture-1"></i>Multimedia</a></li>
                            <li><a href="#forecast"><i class="icon-cloud-sun"></i>Clima</a></li>
                            <li><a href="#services"><i class="icon_set_1_icon-58"></i>Servicios</a></li>
                            <li><a href="https://www.policia.gov.co/estado-vias" target="_blank"><i class="icon-attention-1"></i>Estado de la Vía</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-9 col-sm-12 col-xs-12" v-html="route.description">    
                    </div>
                    
                    <div v-if="special.description_image" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img class="img-responsive" :src="'/'+special.description_image" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- End Introduction BiciInfo -->
        </div>

        <!-- Map BiciInfo -->
        <div id="trail-map">
            <iframe style="height: 132% !important" frameBorder="0" scrolling="no" :src="route.url_map">
            </iframe>
        </div> <!-- End Map BiciInfo -->

        <!-- Tips Content =============================================== -->
        <div class="container margin_30">

            <div id="tips">

                <div class="main_title">
                    <h2>Qué <span>encontrarás</span> en esta ruta</h2>
                    <p>Información de la Ruta</p>
                    <hr>
                </div>

                <!-- Route Info ======================================= -->
                <div class="container margin_15">
                    <ul class="cbp_tmtimeline col-md-6 col-sm-6 col-xs-12">
                        <li  v-for="(point, index) in points" v-if="index<cuantityPoints">
                            <time class="cbp_tmtime"></time>
                            <div class="cbp_tmicon timeline_icon_point">{{point.order}}</div>
                            <div class="cbp_tmlabel">
                                <h2><span>{{point.subtitle}}</span>{{point.title}}</h2>
                                <div v-html="point.description"></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="cbp_tmtimeline col-md-6 col-sm-6 col-xs-12">
                        <li v-for="(point, index) in points" v-if="index>=cuantityPoints">
                            <time class="cbp_tmtime"></time>
                            <div class="cbp_tmicon timeline_icon_point">{{point.order}}</div>
                            <div class="cbp_tmlabel">
                                <h2><span>{{point.subtitle}}</span>{{point.title}}</h2>
                                <div v-html="point.description"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Route Tips ======================================= -->
                <div class="row margin_15">
                    <div class="col-md-4 col-sm-6" v-if="route.recommendation_image">
                        <img :src="'/'+route.recommendation_image" alt="Image" class="img-responsive styled">
                    </div>
                    <div class="col-md-7 col-md-offset-1 col-sm-6">
                        <h3>Recomendaciones <span>{{route.name}}</span></h3>
                       <div v-html="route.recommendation">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div v-if="images.length >0" id="gallery" class="container margin_15" >

            <div class="main_title">
                <h2><span>Imágenes</span> Destacadas</h2>
                <blockquote v-html="route.text_images">
                </blockquote>
            </div>

            <div class="row">
                <div class="col-centered">

                    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000">
                        <div class="carousel-inner">
                            <div v-for="(image,index) in images" :class="(index==0) ? 'item active': 'item'">
                                <div class="carousel-col">
                                    <img :src="'/'+image.link_image">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="left carousel-control">
                            <a href="#carousel" role="button" data-slide="prev">
                                <span class="icon-left-open-4" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="right carousel-control">
                            <a href="#carousel" role="button" data-slide="next">
                                <span class="icon-right-open-4" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Weather ========= -->
        <div id="forecast" class="container">
            <div class="main_title margin_30">
                <h2><span>Estado </span>del Clima</h2>
                <p>Estado del clima para los puntos de partida y llegada de esta ruta.</p>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div id="weather"></div>
            </div>
        
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div id="weather2"></div>
            </div>
            <hr>
        </div>

        <!-- Services ========= -->
        <div id="services" class="container margin_30">

            <div :class="(route.video)?'col-md-8':'col-md-12'">
                
                <div class="main_title">
                    <h2><span>Sitios</span> Destacados</h2>
                </div>

                
                    <div class="row">

                        <!--feed item 1-->
                        <router-link v-for=" site in outstandingSite" :to="'/home/interestsite/'+site.slug" class="feed_itm_route col-sm-3 col-xs-6" :style="(site.link_image) ? 'background-image: url(/'+site.link_image+')' : 'background-image: url(/'+defaultcardimage+')'" :key="site.id_site"> 
                            <div class="feed_itm_inr">
                                <div class="item_desc">
                                  <h4 class="feed_itm_ttl">{{site.name}}</h4>
                              </div>
                            </div>
                        </router-link><!--@end feed item-->
                        
                    </div>
                

                <div class="suggested-places margin_15">
                    <div class="overflow-hidden">
                        <div class="row">

                            <div v-if="hotels.length>0" class="col-sm-4">
                                <div class="title"><h4>Hoteles</h4></div>
                                <ul class="check-square box">
                                    <li v-for="hotel in hotels">
                                        <router-link :to="'/home/hotel/'+hotel.slug">
                                            <h6 class="box-title">{{hotel.name}}<small>{{hotel.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                            <div v-if="restaurants.length>0" class="col-sm-4">
                                <div class="title"><h4>Restaurantes</h4></div>
                                <ul class="check-square box">
                                    <li v-for="restaurant in restaurants">
                                        <router-link :to="'/home/restaurant/'+restaurant.slug">
                                            <h6 class="box-title">{{restaurant.name}}<small>{{restaurant.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                            <div v-if="operators.length>0" class="col-sm-4">
                                <div class="title"><h4>Operadores Turísticos</h4></div>
                                <ul class="check-square box">
                                    <li v-for="operator in operators">
                                        <router-link :to="'/home/hotel/'+operator.slug">
                                            <h6 class="box-title">{{operator.name}}<small>{{operator.municipality}}</small></h6>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <aside v-if="route.video" class="container col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" :src="'https://www.youtube.com/embed/'+route.video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </aside>
        </div>

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                 <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                   <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->

                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->
<!-- Carrousel -->
         <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- End main -->

</div>
</template>

<style>
@import '~/front/css/timeline.css';
@import '~/front/css/weather.css';
</style>
<script>
	import axios from 'axios';

	export default{
		data(){

			return{
                route:[],
				special:[],
                slug:"",
                patterns:[],
                restaurants:[],
                hotels:[],
                operators:[],
                metas:{'description':'','keywords':'','title':''},
                points:[],
                images:[],
                hotels:[],
                services:[],
                defaultImage:'',
                defaultcardimage:'',
                outstandingSite:[],
                cuantityPoints:0,
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getRoute();            
            $('body,html').animate({
                scrollTop: 0
            }, 0);

            let weather = document.createElement('script')
            weather.setAttribute('src', '/front/js/jquery.simpleWeather.min.js');
            document.head.appendChild(weather)
		},
		metaInfo () {
	      return {
            title: this.route.name,
            titleTemplate: '%s | Guía de Rutas por Colombia',
            meta: [
              { vmid: 'description', name: 'description', content: this.metas.description },
              { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
            ]
          }
	    },
	    methods:
		{
			getRoute:function()
            {
                axios.get('/vue/special/specialsroute/'+this.slug).then(response=>{
                    this.route = response.data.route;
                    this.special = response.data.special;
                    this.patterns = response.data.patterns;
                    this.defaultImage = response.data.defaultImage;
                    this.points = response.data.points;
                    this.cuantityPoints = (this.points.length/2);
                    this.images = response.data.images;
                    this.hotels = response.data.hotels;
                    this.restaurants = response.data.restaurants;
                    this.operators = response.data.operators;
                    this.defaultcardimage = response.data.defaultcardimage;
                    this.outstandingSite = response.data.InterestSites;
                    this.metas.keywords=this.route.keywords;

                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
                    this.startCarousel();
                    this.startWeather();
                },(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            startCarousel:function()
            {
                setTimeout(function() {
                    'use strict';
                    $('#layerslider').layerSlider({
                        autoStart: true,
                        responsive: true,
                        responsiveUnder: 1280,
                        layersContainer: 1170,
                        skinsPath: '/front/layerslider/skins/'
                            // Please make sure that you didn't forget to add a comma to the line endings
                            // except the last line!
                    });
                }, 500);
                setTimeout(function() {
                    $('.carousel[data-type="multi"] .item').each(function() {
                    var next = $(this).next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));

                    for (var i = 0; i < 2; i++) {
                        next = next.next();
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }

                        next.children(':first-child').clone().appendTo($(this));
                    }
                });
                }, 4000);
                
            },
            startWeather:function()
            {
                var self;
                self = this;
                setTimeout(function() {
                    var municipio = self.route.name_start_point;
                    var municipio2 = self.route.name_start_point;
                    var     html;
                    $.simpleWeather({
                        location: municipio+', Colombia',
                        woeid: '',
                        unit: 'c',
                        success: function (weather) {
                            html ='<hr class="add_bottom_45"><div class="main_title"><h2><span>Pronóstico </span>del tiempo en '+municipio+'</h2><p>Punto inicial.</p></div>';
                            html +='<div class="clearfix">'
                            html += '<h4><i class="weathericon-' + weather.code + '"></i> ' + weather.temp + '&deg;' + weather.units.temp + '</h4>';
                            html += '<ul><li>' + weather.city + ', ' + weather.region + '</li>';
                            html += '<li class="currently">' + weather.currently + '</li>';
                            html += '<li>' + weather.wind.direction + ' ' + weather.wind.speed + ' ' + weather.units.speed + '</li></ul>';
                            html += '</div>';

                            $("#weather").html(html);
                        },
                        error: function (error) {
                            $("#weather").append('<p>' + error + '</p>');
                        }
                    });
                    $.simpleWeather({
                        location: municipio2+', Colombia',
                        woeid: '',
                        unit: 'c',
                        success: function (weather) {
                            html ='<hr class="add_bottom_45"><div class="main_title"><h2><span>Pronóstico </span>del tiempo en '+municipio2+'</h2><p>Punto final.</p></div>';
                            html +='<div class="clearfix">'
                            html += '<h4><i class="weathericon-' + weather.code + '"></i> ' + weather.temp + '&deg;' + weather.units.temp + '</h4>';
                            html += '<ul><li>' + weather.city + ', ' + weather.region + '</li>';
                            html += '<li class="currently">' + weather.currently + '</li>';
                            html += '<li>' + weather.wind.direction + ' ' + weather.wind.speed + ' ' + weather.units.speed + '</li></ul>';
                            html += '</div>';

                            $("#weather2").html(html);
                        },
                        error: function (error) {
                            $("#weather2").append('<p>' + error + '</p>');
                        }
                    });
                },1500);
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>
<!--https://github.com/vuejs-templates/webpack/issues/604
<style lang="scss">
@import '/front/css/timeline.css';
@import '/front/css/weather.css';
</style>-->
