<template>
<div>
		 <!-- Slider -->
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:600px;">
            <!-- first slide -->
            <div v-for="banner in outstanding" class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img v-if="banner.introduction_image" :src="'/'+banner.introduction_image" class="ls-bg" alt="Slide background">
                <img v-else :src="'/'+defaultImage" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{banner.name}}</h3>
                <p class="ls-l slide_typo_2" style="top:52%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{banner.short_description}}</p>
                <router-link class="ls-l button_intro_2 outline" style="top:370px; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" :to="'/home/fair/'+banner.slug">Ir al evento</router-link>
            </div>
        </div>
    </div> <!-- End layerslider -->
<!-- Main ================================================== -->
    <main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    <li>Especiales</li>
                </ul>
            </div>
        </div> <!-- End Position -->
        <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
        <!-- Special Content =============================================== -->
        <div class="container margin_60">
    
            <div class="main_title">
                <h2>Algunas <span>buenas</span> razones</h2>
                <p>
                    Para recorrer Colombia con www.rutascolombia.com
                </p>
            </div>

            <div class="row">

                <div class="container mt-40">
                    <div class="row mt-30">
                        <div v-for="special in specials" class="col-md-4 col-sm-6">
                            <div class="box16">
                                <img v-if="special.card_image" :src="'/'+special.card_image">
                                <img v-else :src="'/'+defaultcardimage">
                                <div class="box-content">
                                    <h3 class="title">{{special.name}}</h3>
                                    <span class="post hidden-xs">{{special.short_description}}</span>
                                    <ul class="social">
                                        <li v-if="special.type=='rutas'">
                                            <router-link :to="'/home/special/special/'+special.slug"><i class="icon-globe-1"></i></router-link>
                                        </li>
                                        <li v-else>
                                            <router-link :to="'/home/special/normalspecial/'+special.slug"><i class="icon-globe-1"></i></router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End row -->

            <hr>
        </div> <!-- End container -->

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

               <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                   <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                    
                </div> <!-- End Planes -->

               <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
    </main> <!-- End main -->
</div>
</template>

<script>
    import axios from 'axios';

    export default{
        data(){
            return{
                outstanding:[],
                specials:[],
                patterns:[],
                metas:{'description':'','keywords':'','title':''},
                services:[],
                defaultImage:'',
                defaultcardimage:'',
            }
        },
        mounted()
        {
            $("#preloader").css('display', 'initial');
            this.getSpecials();
            $('body,html').animate({
                scrollTop: 0
            }, 0);
        },
        metaInfo () {
          return {
            title:  this.metas.title !='' ? this.metas.title : 'Especiales',
            titleTemplate: '%s | Guía de Rutas por Colombia',
            meta: [
              { vmid: 'description', name: 'description', content: this.metas.description },
              { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
            ]
          }
        },
        methods:
        {
            getSpecials:function()
            {
                axios.put('/vue/specials').then(response=>{
                    this.outstanding = response.data.outstanding;
                    this.specials = response.data.specials;
                    this.defaultImage = response.data.defaultImage;
                    this.defaultcardimage = response.data.defaultcardimage;
                    if(response.data.page)
                    {
                        this.metas.description = response.data.page.description;
                        this.metas.title = response.data.page.page_name;
                        this.metas.keywords = response.data.page.keywords;
                    }
                    this.startBanner();
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            startBanner:function()
            {
                $("#preloader").css('display', 'none');
                $('.cmn-toggle-switch').removeClass('active');
                $('.main-menu').removeClass('show');
                setTimeout(function() {
                $('#layerslider').layerSlider({
                autoStart: true,
                responsive: true,
                responsiveUnder: 1280,
                layersContainer: 1170,
                skinsPath: '/front/layerslider/skins/'
                    // Please make sure that you didn't forget to add a comma to the line endings
                    // except the last line!
                });

                }, 500);
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
    }
</script>