<template>
	<div>
		<div id="full-slider-wrapper">
	        <div id="layerslider" style="width:100%;height:300px;">
	            <!-- first slide -->
	            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
	                <img  v-if="special.introduction_image" :src="'/'+special.introduction_image" class="ls-bg" alt="Slide background">
	                <img  v-else :src="'/'+defaultImage" class="ls-bg" alt="Slide background">
	                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">{{special.name}}</h3>
	                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">{{special.short_description }}
	                </p>
	            </div>
	        </div>
	    </div> 
		
		
		<main>

        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link></li>
                    <li><router-link :to="'/home/specials'">Especiales</router-link></li>
                    <li>{{special.name }}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
        <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
        <div class="aboutus-section white_bg">
            <!-- Top Destinations Banner -->
            <div class="container">
	            <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div> 
            <!-- End Top Destinations Banner -->

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">{{special.name}}</h2>
                            <div class="aboutus-text" v-html="special.description">
                            </div>
                        </div>
                    </div>
                    <div v-if="special.description_image" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img :src="'/'+special.description_image" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div v-for="item in points" class="clearfix">
                                    <div class="iconset">
                                        <span class="icon-globe-inv icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>{{item.title}}</h4>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Special Content =============================================== -->
        <div class="container margin_15">

            <div class="main_title">
                <h2>Algunas <span>buenas</span> razones</h2>
                <p>
                    Para recorrer Colombia con www.rutascolombia.com
                </p>
            </div>

                <!-- Bici Tours -->
                <div class="row">
                    <ul class="cards">
                        
                        <!-- Bici 1 -->
                        <li v-for="route in routes" class="card">
                            <div class="card__inner">
                                <img :src="(route.card_image) ? '/'+route.card_image : '/'+defaultcardimage" class="img-responsive" alt="image">
                                <div class="card__buttons">
                                	<router-link :to="'/home/special/specialsroute/'+route.slug">Más Información</router-link>
                                    <router-link :to="'/home/special/specialsroute/'+route.slug+'#map'">Mapa</router-link>
                                </div>
                            </div>
                            <ul class="card__icons">
                                <li><i class="icon-heart-7">{{difficulty}}</i></li>
                                <li><router-link :to="'/home/region/'+route.region_slug"><i class="icon-compass-4">{{route.region}}</i></router-link></li>
                                <li><router-link :to="'/home/department/'+route.department_slug"><i class="iicon-flag-3">{{route.department}}</i></router-link></li>
                            </ul>
                            <h3 class="card__tagline">{{route.name}}</h3>
                            <p>{{route.sentence}}</p>
                        </li> <!-- End Bici 1 -->
                    </ul>
                </div>

            <hr>
        </div> <!-- End container -->

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                <!-- Third Banner ========================================= -->
                <div id="thirdbanner">
                    <div v-if="patterns['carrousel-banner-top']!= null" class="container margin_15">
                        <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 320px;">
                                <div class="img_container_gallery">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="'/'+pattern.pattern" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Third Banner -->
            
            
                 <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <!-- Planes -->
                <div class="row">
                
                   <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                        <div class="tour_container">
                            <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                            <div class="img_container">
                                <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
                                <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                                <div class="short_info">
                                    <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                                </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{service.service_name}}</strong></h3>
                                <div class="rating" v-if="service.cuantity>0">
                                    
                                    <i class="icon-smile voted" v-for="votes in service.average"></i>
                                    <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                    <small>({{service.cuantity}})</small>
                                </div><!-- end rating -->
                            </div>
                        </div><!-- End box tour -->
                    </div><!-- End col-md-4 -->
                </div> <!-- End Planes -->

                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

        <!-- Carrousel -->
         <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
    </main> <!-- End main -->
	</div>
</template>
<script>
	import axios from 'axios';

	export default{
		data(){
			return{
				special:[],
				slug:"",
                patterns:[],
                metas:{'description':'','keywords':'','title':''},
                points:[],
                routes:[],
                defaultImage:'',
				services:[],
                defaultcardimage:'',
			}
		},
		mounted()
		{
            this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getSpecial();            
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		metaInfo () {
	      return {
	        title: this.special.name,
	        titleTemplate: '%s | Guía de Rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:
		{
			getSpecial:function()
			{
				axios.get('/vue/special/special/'+this.slug).then(response=>{
					this.special = response.data.special;
                    this.patterns = response.data.patterns;
                    this.defaultImage = response.data.defaultImage;
                    this.points = response.data.points;
                    this.routes = response.data.routes;
                    this.defaultcardimage = response.data.defaultcardimage;
                    this.metas.keywords=this.special.keywords;

                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
            		this.startCarousel();
				},(error) => {
                        this.$router.push('/home');
                });
                axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
                    this.services = response.data.services;
                });
            },
            startCarousel:function()
            {
            	setTimeout(function() {
            		'use strict';
					$('#layerslider').layerSlider({
						autoStart: true,
						responsive: true,
						responsiveUnder: 1280,
						layersContainer: 1170,
						skinsPath: '/front/layerslider/skins/'
							// Please make sure that you didn't forget to add a comma to the line endings
							// except the last line!
					});
            	}, 500);
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
	}
</script>