<template>
	<div>
<section id="hero" style="background: #4d536d url(https://images.unsplash.com/photo-1499348366662-18a8bf0a1cd3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=06010154ffabe23ea132823dac3da837&auto=format&fit=crop&w=1350&q=80) no-repeat center center; width: 100%;height: 300px; text-align: initial!important;background-size: cover;" class="parallax-window" data-parallax="scroll">
	        <div class="intro_title">
	            <div class="parallax-content-1">
		             <div class="row">
		                <h3>QUÉ HACER EN COLOMBIA</h3>
		                <p>RECORRE COLOMBIA POR TEMAS</p>
		            </div>
		        </div>
	        </div>
	    </section>
     

	<!-- Main ================================================== -->
    <main>
        <!-- Position -->
		<div id="position">
			<div class="container">
				<ul>
					<li><router-link :to="'/home'">Home</router-link>
                    </li>
					<li>¿Qué hacer?</li>
				</ul>
			</div>
		</div> <!-- End Position -->
        <!-- Introduction -->
        <div class="container margin_15">
            <div class="row">
                <!-- First Banner ========================================= -->
                <div  v-if="patterns['top-middle-banner']!= null"  id="firstbanner">
                    <div class="container margin_15">
                        <div class="col-md-6 col-sm-6" v-for="pattern in patterns['top-middle-banner']">
                            <div class="img_wrapper_gallery img-responsive" style="width: 480px; margin-top: 10px">
                            	<div v-if="pattern.multimedia_type == 'Imagen'">
				                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
				                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
				                </div>

				                <div v-if="pattern.multimedia_type == 'Codigo'">
				                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
				                    </div>
				                </div>

				                <div v-if="pattern.multimedia_type == 'Video'" >
				                    <div >
				                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
				                    </div>
				                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- First Banner -->

                <!-- Gallery -->
                <div class="col-md-6 col-sm-6">
                    <div class="row magnific-gallery add_bottom_60 ">
                        <div class="col-md-12 col-sm-12">
                            <div class="img_wrapper_gallery">
                                <div class="img_container_gallery">
                                    <a href="img/destinations/cartagena.jpg" title="Photo title"><img src="/front/img/destinations/cartagena.jpg" alt="Image" class="img-responsive">
                                        <i class="icon-resize-full-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- End Img1 -->
                    </div>
                </div> <!-- End Gallery -->

                <!-- Introduction Text -->
                <div class="col-md-6 col-sm-6">
                    <h3><span>Colombia,</span> territorio megadiverso</h3>
                    <p>Colombia es un territorio megadiverso en ecosistemas gracias a su ubicación geográfica tropical, a las tres cordilleras andinas, a los sistemas montañosos independientes, a sus selvas y llanos, tan extensos, y a la presencia de dos océanos.</p>
                    <p>En colombia, nacionales y extranjeros pueden encontrar un refugo para descansar y relajarse, pero también para lanzarse a la aventura, observar fauna y fisfrutar la flora; si lo prefieren, pueden emprender recorridos de turismo religioso, de compras o de bienestar y belleza.</p>
                    <p>A esto se suma la diversidad de culturas, que influyen en la multiplicidad de aromas y sabores; los platos cambian de una región a otra, satisfaciendo todos los gustos y convirtiendo al país es un destino gastronómico.</p>
                </div> <!-- End Introduction Text -->

            </div> <!-- End row -->
        </div> <!-- End Introduction -->

        <!-- What to Do =========================================== -->
        <div class="container margin_30">

            <div class="main_title">
                <h2>Qué hacer en <span>Colombia</span></h2>
                <p>¡Deja de darle vueltas a tu próximo viaje!</p>

                <div class="container-fluid margin_15">
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-6" v-for="activity in activities">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="#">
                                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                                        <center><i :class="activity.icon_class+' fa-5x'" style="color:#BB7824"></i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <h4>{{activity.activity_name}}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- End What to Do -->
            </div>

            <hr>
        </div> <!-- End container -->

        <!-- What to Do Section 1 ========================================== -->
        <div class="container" v-for="activity in activities" v-if="activity.sites!=null">
            <div class="row">

                <div class="main_title">
                    <h2>Destinos de <span>{{activity.activity_name}}</span></h2>
                    <p>¡Deja de darle vueltas a tu próximo viaje!</p>
                </div>

                <!--feed item 1-->
                <router-link v-for="site in activity.sites" v-if="!site.class" :to="site.type=='municipality' ? '/home/municipality/'+site.slug : '/home/interestsite/'+site.slug"  class="feed_itm col-sm-4 col-xs-4" :style="'background-image: url(/'+site.link_image+')'" :key="site.slug"> 
                    <div class="feed_itm_inr">
                        <div class="item_desc">
                          <h4 class="feed_itm_ttl" v-if="site.type=='municipality'">{{site.municipality_name}}</h4>
                          <h4 class="feed_itm_ttl" v-else>{{site.site_name}}</h4>

                          <p class="feed_itm_prc">Region {{site.region.region_name}} | {{site.department.department_name}}</p>
                        </div>
                    </div>
                </router-link><!--@end feed item-->
                <!--feed item 2-->
                <router-link v-else :to="site.type=='municipality' ? '/home/municipality/'+site.slug : '/home/interestsite/'+site.slug" class="feed_itm col-sm-8 col-xs-8" :style="'background-image: url(/'+site.link_image+')'" :key="site.slug">
                    <div class="feed_itm_inr">
                        <div class="item_desc">
                          <h4 class="feed_itm_ttl" v-if="site.type=='municipality'">{{site.municipality_name}}</h4>
                          <h4 class="feed_itm_ttl" v-else>{{site.site_name}}</h4>

                          <p class="feed_itm_prc">Region {{site.region.region_name}} | {{site.department.department_name}}</p>
                        </div>
                    </div>
                </router-link><!--@end feed item-->

            </div>
	        <br>
	        <!-- Buttom -->
	        <p class="text-center add_bottom_30">
	            <a href="tours.html" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{activity.cuantity}}) </a>
	        </p> <!-- End Buttom -->
	        <br>
        </div>

        <!-- Planes ============================================== -->
        <div class="white_bg">
            <div class="container">

                <!-- Third Banner ========================================= -->
               <div id="thirdbanner">
			        <div v-if="patterns['carrousel-banner-top']!= null" class="container">
			            <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
			                <div class="img_wrapper_gallery">
			                    <div class="img_container_gallery">
			                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
			                            <img :src="'/'+pattern.pattern" class="img-responsive">
			                            <i class="icon-resize-full-2"></i>
			                        </a>
			                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
			                            <img :src="'/'+pattern.pattern" class="img-responsive">
			                            <i class="icon-resize-full-2"></i>
			                        </a>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div> <!-- End Carrousel -->
            
                <!-- Title Planes -->
                <div class="main_title">
                    <h2><span>¡Experimenta </span>nuevas sensaciones! </h2>
                    <p>Contenido patrocinado por <a href="http://tupaseo.travel">tupaseo.travel</a></p>
                </div> <!-- End Title Planes -->
                
                <div class="row">
        
		            <div v-for="service in plans" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
		                <div class="tour_container">
		                    <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
		                    <div class="img_container">
		                        <a :href="'https://www.tupaseo.travel/home/service/'+service.slug" target="_blank">
		                        <img :src="'https://www.tupaseo.travel/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
		                        <div class="short_info">
		                            <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
		                        </div>
		                        </a>
		                    </div>
		                    <div class="tour_title">
		                        <h3><strong>{{service.service_name}}</strong></h3>
		                        <div class="rating" v-if="service.cuantity>0">
		                            
		                            <i class="icon-smile voted" v-for="votes in service.average"></i>
		                            <i class="icon-smile" v-for="sad in 5-service.average"></i>

		                            <small>({{service.cuantity}})</small>
		                        </div><!-- end rating -->
		                    </div>
		                </div><!-- End box tour -->
		            </div><!-- End col-md-4 -->
		            
		        </div><!-- End row -->

                <!-- Buttom -->
                <p class="text-center add_bottom_30">
                    <a href="https://www.tupaseo.travel/home/plans" target="_blank" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes </a>
                </p> <!-- End Buttom -->
            </div>
        </div> <!-- End Planes -->

        <!-- Banner -->
    <div class="container">
         <div v-if="patterns['middle-banner']!= null" id="banner">
            <div v-for="pattern in patterns['middle-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Banner -->
    
    <!-- Video -->
    <section class="promo_full" v-if="patterns['video-banner']!= null">
    <div class="promo_full_wp magnific">
            <div v-for="pattern in patterns['video-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
                    </div>
                </div>
            </div>
        <!--<div>
            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>-->
    </div>
    </section> <!-- End video -->

    <!-- Carrousel -->
    <div v-if="patterns['footer-banner']!= null" id="banner">
        <div class="container">
            <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                <div class="img_wrapper_gallery">
                    <div class="img_container_gallery">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- End Carrousel -->
	</main> <!-- End main -->
	</div>
</template>

<script>
	import axios from 'axios'

	export default
	{
		data()
		{
			return{
				patterns:[],
				activities:[],
				plans:[],
        		metas:[],
			}
		},
		mounted()
		{
			$("#preloader").css('display', 'initial');
		    $('body,html').animate({
		                scrollTop: 0
		            }, 0);
            this.start();
		},
		metaInfo () {
	      return {
	        title: '¿Qué hacer?',
	        titleTemplate: '%s | Guía de rutas por Colombia',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:
		{
			start:function()
            {
            	axios.get('/vue/whattodo').then(response=>{
            		this.activities = response.data.whattodo;
            		this.patterns = response.data.patterns;
            		$("#preloader").css('display', 'none');
		            $('.cmn-toggle-switch').removeClass('active');
		            $('.main-menu').removeClass('show');
            	},(error)=>{
            		this.$router.push('/home');
            	});
            	axios.post('https://www.tupaseo.travel/api/randomservices').then(response=>{
            		this.plans = response.data.services;
            	})
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>