.icon-mt
{
	margin-top: 8%;
}
.gallery {
    width: 100%;
    float: left;
}
.gallery ul li {
    list-style: none;
    padding: 7px;
    border: 2px solid #ccc;
    float: left;
    margin: 10px 7px;
    background: none;
    width: 150px;
    height: auto;
}