/*
Theme Name: RUTASCOLOMBIA V2018
Author: Euclides Alsina
Author URI: http://euclidesalsina.com
*/

body {
	background:#f9f9f9;
	font-size:14px;
	line-height:20px;
	font-family:"Montserrat", Arial, sans-serif;
	color:#565a5c;
	-webkit-font-smoothing: antialiased;
}

header{
	width:100%;
	position:fixed;
	padding:10px 0;
	display: block;
    top: 0;
    left: 0;
    right: 0;
    line-height: 1.4;
    background: transparent;
    color: #FFF;
    height: 65px;
    font-size: 16px;
    z-index: 1000!important;
}

.navmenu {
    margin: 0 auto;
    margin-top: 20px;
    height: 65px!important;
    background-color: rgba(52, 171, 160, .8);
    border-radius: 30px;
    padding-right: 10px;
}

.menu-item {
    float: left;
    width: 10%;
    height: 65px;
    position: relative;
    line-height: 65px;
    text-align: center;
}

.menu-logo {
    float: left;
    width: 14%;
    height: 65px;
    position: relative;
    line-height: 65px;
    text-align: center;
    margin-top: -12px;
}

.menu-options {
    float: left;
    width: 14%;
    height: 65px;
    position: relative;
    margin-left: 10px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.menu-options .iconos {
    background: rgba(152, 152, 152, .4);
    width: 40px;
    height: 30px;
    float: left;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}

.menu-options .iconos img {
    padding-top: 5px;
}

/*Banners*/
#bannertop {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.bannertop:after,
.bannertop:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
}

.bannertop:after {
	left: 0;
}

.bannertop:before {
	right: 0;
}

/* Margin tools */
.margin_60 {
	padding-top: 60px;
	padding-bottom: 30px;
}

.margin_45 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin_10 {
	margin-top: 10px;
	margin-bottom: 10px;
}