
.intro_title {
	display: table-cell;
	vertical-align: middle;
	display: initial!important;
}

.intro_title h3 {
	font-size: 45px;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.intro_title h3 strong span {
	color: #fff;
}

/* New v1.2*/
.intro_title.error h1 {
	font-size: 130px;
	color: #fff;
	font-weight: bold;
}
        .hermes.tp-bullets {}

        .hermes .tp-bullet {
            overflow: hidden;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
            -webkit-transition: background 0.3s ease;
            transition: background 0.3s ease;
            position: absolute
        }

        .hermes .tp-bullet:hover {
            background-color: rgba(0, 0, 0, 0.21)
        }

        .hermes .tp-bullet:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            height: 0;
            left: 0;
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 1px rgb(255, 255, 255);
            -webkit-transition: height 0.3s ease;
            transition: height 0.3s ease
        }

        .hermes .tp-bullet.selected:after {
            height: 100%
        }
        #hero {
            position: relative;
            height: 300px!important;
            background-size: cover;
            color: #fff;
            width: 100%;
            font-size: 16px;
            display: table;
            z-index: 99;
            text-align: center;
            text-transform: uppercase;
        }
  .tp-caption.News-Title,
        .News-Title {
            color: rgba(255, 255, 255, 1.00);
            font-size: 70px;
            line-height: 60px;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            background-color: transparent;
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px
        }

        .tp-caption.News-Subtitle,
        .News-Subtitle {
            color: rgba(255, 255, 255, 1.00);
            font-size: 15px;
            line-height: 24px;
            font-weight: 300;
            font-style: normal;
            font-family: Roboto Slab;
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0);
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px
        }

        .tp-caption.News-Subtitle:hover,
        .News-Subtitle:hover {
            color: rgba(255, 255, 255, 0.65);
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0);
            border-color: transparent;
            border-style: solid;
            border-width: 0px;
            border-radius: 0 0 0px 0
        }
.bt_filters
{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px 8px;
    color: #888;
    display: inline-block;
}

.listOptions
{
    margin-top: 2px!important;
}
.selectSearch
{
    list-style: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    background: transparent;
    border-top: 0px solid transparent;
    border-bottom: 1px solid #909090 !important;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 0px 0 3px 0;
    left: 0!important;
    margin-left: -9%;
    cursor: pointer;
}
.selectSearch 
{
    color:gray!important;
}
.selectSearch:hover
{
    color:#0070bb!important;
}
#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    max-height: 450px;
    overflow-x: hidden;
}

.m0
{
    margin:0!important;
}
.concessionlogo
{
    max-width: 60px!important
}
.listservices
{
        display: block;
    width: 33px!important;
    float: left;
    background: #fdb714;
    line-height: 24px;
    color: #fff;
    font-size: 7px;
    height: 100%;
    padding: 3%;
}

