/*
Theme Name: RutasColombia.com
Author: Euclides Alsina Rodríguez
Author: Sergio Hernandez Goyeneche
Developed for: Guía de Rutas por Colombia
URI: http://rutascolombia.com/

[Table of contents] 

1. SITE STRUCTURE
- 1.1 Typography
- 1.2 Buttons
- 1.3 Structure
- 1.3.1 Header

2. CONTENT
- 2.1 Home
- 2.2 All tours list / All tours grid
- 2.3 Single tour page
- 2.4 Cart - Payment - Confirmation
- 2.5 About
- 2.6 Contact us
- 2.7 Login / register
- 2.8 Tour guide page
- 2.9 Transfer
- 3.0 Hotel
- 3.1 Whishlist
- 3.2 Map listing

3. COMMON
- Tooltips
- Containers styles
- Form styles
- Tabs, collapse
- etc

4. UPDATES 
- 4.1 Home 7
- 4.2 Faq
- 4.3 Pricing tables
- 4.4 Common

5. UPDATES  - Version 3.0/3.1
- 5.1 Ribbons css
- 5.2 Footers versions
- 5.3 Header versions
- 5.4 Gallery overlay
- 5.5 Map + infobox

6. UPDATES  - Version 3.2
- 6.1 Footer Fixed
- 6.2 Notify
- 6.3 Search modal
- 6.4 Header 7

7. CAROUSEL
- 7.1 Carousel

/*=======================================================================*/
/* 1. SITE STRUCTURE */
/*=======================================================================*/

/*-------- 1.1 Typography --------*/

body {
	background:#f9f9f9;
	font-size:14px;
	line-height:20px;
	font-family:"Montserrat", Arial, sans-serif;
	color:#565a5c;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4{
	-webkit-font-smoothing:antialiased;
	color:#333;
}

h3{
	font-size:22px;
}

.main_title{
	text-align:center;
	font-size:16px;
	margin-bottom:30px;
}

.main_title h2{
	text-transform: uppercase;
	font-weight:700;
	letter-spacing:-1px;
	font-size:30px;
	margin-bottom:0;
	margin-top:0;
}

.main_title p{
	font-family:"Lato",Arial, sans-serif;
	font-weight:300;
	font-size:20px
}

h2 span, h3 span, h4 span{
	color:#0070bb;
}

h4 span{
	color:#0070bb;
}
.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}
.box_style_1 h3.inner{ 
	margin:-30px -30px 20px -30px; 
	background-color:#565a5c; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	border:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.box_style_2 h3.inner{ 
	margin:-30px -30px 20px -30px; 
	background-color:#565a5c; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	border:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.box_style_3 h3.inner{ 
	margin:-30px -30px 20px -30px; 
	background-color:#565a5c; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	border:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.box_style_5 h3.inner{ 
	margin-top: -30px; 
	background-color:#565a5c; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	border:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

a {
	color: gray;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	outline:none;
}

a:hover,a:focus {
	color: #111;
	text-decoration: none;
	outline:none;
}

p {margin: 0 0 20px 0;}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}

/*-------- 1.2 Buttons --------*/
a.button_intro, .button_intro  {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff !important;
	background: #0070bb;
	cursor: pointer;
	padding: 8px 25px;
	display: inline-block;
	outline: none;
	font-size:12px;
	text-align:center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	min-width:150px;
}
a.button_intro:hover, .button_intro:hover {
	background: #fff;
	color:#0070bb !important;
}
.button_intro.outline  {
	border: 2px solid #fff;
	color:#fff;
	background: none;
	padding: 6px 23px;
}
a.button_intro:hover, .button_intro:hover {
	background: #fff;
	color:#0070bb;
}

a.button_drop, .button_drop  {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#0070bb !important;
	background: #ededed;
	cursor: pointer;
	padding: 5px 5px !important;
	display: inline-block;
	outline: none;
	font-size:11px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align:center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold !important;
	width:49%;
}

.button_drop.outline  {
	border: 2px solid #ededed;
	color:#0070bb;
	background: none;
	padding: 5px 5px !important;
}
a.button_drop:hover, .button_drop:hover {
	background:#ededed;
	color:#333;
}
a.button_drop.outline:hover, .button_drop.outline:hover {
	background:#ededed;
	color:#333;
	border: 2px solid #ededed;
}

a.btn_1, .btn_1{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #51bce6;
	cursor: pointer;
	padding: 7px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
}

.btn_1.green  {background: #83c99f;}

a.btn_1.medium, .btn_1.medium  {
	padding: 10px 25px;
	font-size:14px;
}

a.btn_1:hover, .btn_1:hover {
	background: #333;
}

a.btn_2, .btn_2{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #51bce6;
	cursor: pointer;
	padding: 2px 10px;
	display: inline-block;
	outline: none;
	font-size:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
}

.btn_2.white, a.btn_2.white {
    background: #fff;
    color: #e04f67;
}

a.btn_2.medium, .btn_2.medium  {
	padding: 10px 25px;
	font-size:14px;
}

a.btn_2:hover, .btn_2:hover {
	background: #51bce6;
	color: white;
}

a.bt_facebook { 	
		color: #fff !important;
	    background:#337ab7;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		text-align:center;
		padding:10px 5px;
		border:none;
		display:block;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

a.bt_paypal { 	
		color: #fff !important;
		padding:10px 8px;
	    background:#5bc0de;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		text-align:center;
		border:none;
		display:block;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

a.btn_map{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #0070bb;
	cursor: pointer;
	padding: 12px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	text-align:center;
}
a.btn_map:hover{
	background:#333;
}

a.btn_full, .btn_full{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	width:100%;
	background: #85c99d;
	cursor: pointer;
	padding: 12px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	text-align:center;
	margin-bottom:10px;
}
a.btn_full:hover, .btn_full:hover{
	background:#333;
}

a.btn_full_outline{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#85c99d;
	background:none;
	border:2px solid #85c99d;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	text-align:center;
}
a.btn_full_outline:hover{
	border:2px solid #333;
	color:#333;
}


/*-------- 1.3 Structure --------*/

/* Header */

header{
	width:100%;
	left:0;
	top:0;
	z-index:99999;
	padding:15px 0;
}

header#plain{background-color:#fff;}

header #logo .logo_sticky{ display:none;}
header.sticky #logo .logo_normal{ display:none;}
header.sticky #logo .logo_sticky{ display:block; }

/* logo home */
#logo_home h1{
	margin:10px 0 0 0;
	padding:0;
}

#logo_home h1 a, header.sticky #logo_home h1 a, header#plain #logo_home h1 a, header#colored #logo_home h1 a{
	width: 100%;
    height: 70px;
    display: block;
    background-image: url(../img/brand/logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: -9999px;
    margin-top: -7%;
    background-size: contain;
}
header.sticky #logo_home h1{
	margin:0 0 10px 0;
	padding:0;
}
header.sticky #logo_home h1 a{
	background-image:url(../img/brand/logo.png);
}
header#plain #logo_home h1 a{
	background-image:url(../img/brand/logo.png);
}
header.sticky#colored #logo_home h1 a{
	background-image:url(../img/brand/logo.png);
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
#logo_home h1 a, header#colored #logo_home h1 a{
    background-image: url(../img/brand/logo_2x.png);
	background-size: 160px 34px;
}
header.sticky #logo_home h1 a, header#plain #logo_home h1 a{
    background-image: url(../img/brand/logo.png);
	background-size: 160px 34px;
}
header.sticky#colored #logo_home h1 a{
    background-image: url(../img/brand/logo.png);
	background-size: 160px 34px;
}
}

header.sticky #top_line { 
	height: 0;
	overflow:hidden; 
	padding:0; 
	opacity:0;
	transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	 -webkit-transition: all 0.2s ease-in-out;
	 -o-transition: all 0.2s ease-in-out;
}

header.sticky{ 
	-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	-moz-box-shadow:0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	box-shadow:0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	background:#fff !important; 
	padding-bottom:0;
}

nav{ margin-top:20px; position:relative;}
.sticky nav{ margin-top:10px}
.sticky #logo{ margin-top:0; margin-bottom:10px;}

ul#top_tools{list-style:none; padding:0; position:absolute; right:15px; top:0; z-index:999;}
ul#top_tools a{ color:#fff;}
.sticky ul#top_tools a{ color:#333; }
ul#top_tools li{display:inline-block; padding:0 10px;}

#top_line{
	height:28px;
	font-size:12px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	font-size:11px;
	visibility:visible;
	opacity:1;
	margin-bottom:5px;
	position:relative;
	z-index:999999;
	color: gray;
}
ul#top_links{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
a#access_link{
	position:relative;
	display:inline-block;
	padding-left:16px;
}
#access_link:before{
	font-style: normal;
 	font-weight: normal;
 	font-family: "fontello";
    font-size:14px;
	position:absolute;
	left:0;
	top:0;
}
#access_link:before{content: "\e97f";}

ul#top_links li{
	display:inline-block;
	border-left: 1px solid rgba(0,0,0,0.3);
	margin-right:5px;
	padding-left:8px;
	position:relative;
}
ul#top_links li:first-child{
	border-left: none;
	padding-left:0;
}

ul#top_links a:hover{
	color:#0070bb;
}

/* Drop down cart / login */
.dropdown.dropdown-cart{
	float:right;
	font-size:15px !important;
}
.dropdown-cart .dropdown-menu,
.dropdown-access .dropdown-menu {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	float: right;
	left: auto;
	min-width: 0;
	padding: 15px;
	right: 0;
	width: 250px;
	top: 100%;
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
	text-transform: none !important;
	border-top: 2px solid #0070bb;
}

.dropdown-cart .dropdown-menu:before,
.dropdown-access .dropdown-menu:before {
	bottom: 100%;
	right: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #0070bb;
	border-width: 7px;
	margin-left: -7px;
}
.dropdown-menu{
	margin-top:14px;
}

ul#cart_items{
	padding:5px 0 0 0;
	list-style:none;
}
ul#cart_items li{
	border-bottom:1px solid #ededed;
	position:relative;
	margin:0;
	padding:5px 10px;
	padding-bottom:10px;
	width:100%;
	clear:both;
}
ul#cart_items li .image{
   border: 1px solid #ddd;
   overflow:hidden;
   width:50px;
   height:50px;
   float:left;
   margin-right:10px;
}
ul#cart_items li .image img{
   padding:1px;
  width:48px;
  height:auto;
}
ul#cart_items li strong {
	font-weight:normal;
	float:left;
	color:#999;
	margin-top:10px;
	float:left;
	width:150px;
	line-height:14px;
}
ul#cart_items li strong > a{
	color:#333;
	display: block;
}
ul#cart_items li strong > a:hover{
	color:#0070bb;
}
ul#cart_items li a.action {
	color:#999;
	position: absolute;
  font-size: 14px;
  right: 10px;
  top: 0;
  width:15px;
  height:15px;
}
ul#cart_items li a.action:hover {
	color:#333;
	background:none;
}
ul#cart_items li:last-child div{
  color: #999;
  text-align:right;
  font-size:14px;
  padding:10px 0 15px 0;
  display:block;
}
ul#cart_items li:last-child span{
    color: #333;
	font-weight:bold;
	font-size:16px;
}
.dropdown-cart .dropdown-menu a.button_drop{
	display:inline-block;
}
.login-or {
    position: relative;
    font-size: 16px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 2px;
    margin-left: -30px;
    background-color: #fff;
    width: 60px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
a#forgot_pw{
	color:#999 !important;
	font-size:11px;
	padding:0;
	margin:-5px 0 10px 0;
	display:block;
  }
  a#forgot_pw:hover{
	color:#333 !important;
  }

 .input-group button {
 	background-color:#333;
 	color:#fff;
 	border-color:#333
 }

.input-group button:hover, .input-group button:focus {
	background-color:#0070bb;
	color:#fff;
	border-color:#0070bb
}

/* Footer */

footer {
	background: #fff;
	color: #000;
	padding: 30px 0 10px 0;
}

footer h3 {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

footer a {
	color: #000;
}

footer a:hover {
	color: #999;
}

footer ul {
	margin: 0;
	padding: 0 0 10px 0;
	list-style: none;
}

#social_footer {
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 30px;
	margin-top: 30px;
}

#social_footer p {
	font-size: 12px;
	color: #8c8c8c;
}

#social_footer ul {
	margin: 0;
	padding: 0 0 10px 0;
	text-align: center;
}

#social_footer ul li {
	display: inline-block;
	margin: 0 5px 10px 5px;
}

#social_footer ul li a {
	color: #e2973a;
	text-align: center;
	line-height: 34px;
	display: block;
	font-size: 16px;
	width: 35px;
	height: 35px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#social_footer ul li a:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #111;
}

a#phone,
a#email_footer {
	display: block;
	position: relative;
	color: #000;
	font-size: 13px;
	padding-left: 40px;
	margin: 20px 0;
}

a#phone:hover,
a#email_footer:hover {
	color: #000;
}

a#phone:before,
a#email_footer:before {
	font-style: normal;
	font-weight: normal;
	font-family: "icon_set_1";
	position: absolute;
}

a#phone:before {
	font-size: 30px;
	content: "\79";
	left: 0;
	top: 0;
}

a#email_footer:before {
	font-size: 28px;
	content: "\74";
	left: 0;
	top: 5px;
}

/*=====================================================================*/
/* 2.  CONTENT  */
/*=====================================================================*/

/*-------- 2.1 Home --------*/

/* Home */

.intro_title {
	display: table-cell;
	vertical-align: middle;
}

iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

iframe {
	height: 100%;
	width: 100%;
}

/*-------- 2.2 Tours Lists --------*/

.box_style_cat {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 25px;
}

ul#cat_nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#cat_nav li {
	border-bottom: 1px solid #ddd;
}

ul#cat_nav li a {
	position: relative;
	color: #777;
}

ul#cat_nav li a span {
	font-size: 11px;
	color: #999;
}

ul#cat_nav li a:after {
	font-family: "fontello";
	content: "\e89b";
	position: absolute;
	right: 15px;
	top: 15px;
}

ul#cat_nav li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

ul#cat_nav li:first-child a:hover,
ul#cat_nav li:first-child a#active {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

ul#cat_nav li:last-child a:hover {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

ul#cat_nav li a {
	display: block;
	padding: 15px 10px;
}

ul#cat_nav li a:hover,
ul#cat_nav li a#active {
	background: #f9f9f9;
	color: #111;
}

ul#cat_nav i {
	font-size: 22px;
	margin-right: 5px;
	float: left;
}

#tools {
	background: #eee;
	padding: 5px;
	margin-bottom: 15px;
}

/* Map */

.marker_info {
	width: 280px;
	height: 320px;
	border-radius: 3px;
	text-align: center;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	z-index: 9999999;
	font-family: "Montserrat", Arial, sans-serif;
}

.marker_info img {
	display: block;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.marker_info h3 {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.marker_info span {
	display: block;
	padding: 0px 20px;
	font-size: 12px;
	line-height: 16px;
	color: #7a7f82;
	margin-bottom: 0;
}

.marker_info:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(255, 255, 255, 0.9);
	border-width: 10px;
	margin-top: -10px;
}

.strip_all_tour_list {
	margin-bottom: 30px;
	background-color: #fff;
	display: block;
	color: #777;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.strip_all_tour_list h3 {
	text-transform: uppercase;
}

.tour_list_desc .rating {
	margin: 15px 0 3px -3px;
	font-size: 15px;
}

.img_list {
	overflow: hidden;
	min-height: 250px;
	text-align: center;
	position: relative;
}

.img_list img {
	width: auto;
	height: auto;
	position: absolute;
	left: 0;
}

.img_list a img {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
}

.img_list a:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.img_list .short_info {
	padding: 5px 5px 5px 5px;
	text-align: left;
	min-height: 38px;
}

.tour_list_desc {
	padding: 10px 20px 0 0;
	border-right: 1px solid #ededed;
	height: 220px;
	line-height: 17px;
}

.tour_list_desc h3 {
	font-size: 18px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.price_list {
	display: table;
	height: 220px;
	font-size: 32px;
	color: #e74c3c;
	width: 100%;
	margin-left: -15px;
}

.price_list small {
	font-size: 11px;
	color: #999;
	display: block;
	margin-bottom: 10px;
	line-height: 12px;
}

.price_list div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.price_list p {
	padding: 0;
	margin: 0;
}

.price_list .normal_price_list {
	display: block;
	text-decoration: line-through;
	color: #999;
	font-size: 16px;
	margin-top: 10px;
}

.price_list sup {
	font-size: 22px;
	position: relative;
	top: -10px;
}

ul.add_info {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.add_info li {
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #ededed;
	text-align: center;
	height: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 300px
}

ul.add_info li a {
	height: 35px;
}

ul.add_info li i {
	display: inline-block;
	font-size: 22px;
	top: 6px;
	position: relative;
}

#filters_col {
	background-color: #fff;
	padding: 15px 10px 15px 15px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px;
}

.banner img {
	width: 98%;
	margin-bottom: 10px;
}

#filters_col label {
	color: #999;
	font-weight: normal;
}

a#filters_col_bt {
	display: block;
	color: #888;
}

a#filters_col_bt .icon_set_1_icon-65 {
	font-size: 20px;
	position: relative;
	top: 0;
	margin-right: 5px;
}

.filter_type h6 {
	border-top: 1px solid #ddd;
	margin: 15px 0;
	padding: 15px 0 0 0;
}

.filter_type ul {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}

/*-------- 2.3 Single Tour --------*/

#map {
	width: 100%;
	height: 450px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom: 30px;
}

.parallax-content-2 {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 18px 0 20px 0;
	color: #fff;
	font-size: 13px;
	background: url(../img/shadow_single.png) repeat-x bottom left;
	width: 100%;
}

.parallax-content-2 div h1 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.parallax-content-2 .rating {
	font-size: 14px;
}

#price_single_main {
	text-align: right;
	padding-top: 25px;
	font-weight: normal;
}

#price_single_main span {
	font-size: 60px;
	color: orange;
}

#price_single_main sup {
	font-size: 22px;
	position: relative;
	top: -25px;
}

#single_tour_feat ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	margin-bottom: 30px;
}

#single_tour_feat ul li {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px 0 5px;
	white-space: nowrap;
}

#single_tour_feat ul li:last-child {
	margin-right: 0;
}

#single_tour_feat ul li i {
	font-size: 36px;
	display: block;
	margin-bottom: 10px;
}

#single_tour_desc h3 {
	font-size: 22px;
	margin-top: 5px;
}

#single_tour_desc h4 {
	line-height: 20px;
	font-size: 18px;
}

.table.table_summary td {
	border-top: 1px solid #ededed;
	width: 50%;
}

.table.table_summary tr.total {
	color: #0070bb;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.review_strip_single {
	position: relative;
	padding: 30px 0 20px 0;
	margin: 30px 0 25px 0;
	border-bottom: 1px solid #ddd;
}

.review_strip_single.last {
	margin-bottom: 0;
	border-bottom: 0;
}

.review_strip_single img {
	top: -15px;
	position: absolute;
	left: 0;
	border: 4px solid #fff;
}

.review_strip_single h4 {
	font-size: 18px;
	margin: -12px 0 35px 90px;
	padding: 0;
}

.review_strip_single small {
	float: right;
	font-size: 12px;
	margin-top: -10px;
	font-style: italic;
}

.review_strip_single .rating {
	font-size: 16px;
}

#general_rating {
	font-size: 18px;
	margin: 10px 0 20px 0;
}

#general_rating .rating {
	display: inline;
}

#rating_summary ul {
	list-style: none;
	margin: 0 0 -5px 0;
	padding: 0;
}

#rating_summary ul li {
	margin-bottom: 5px;
}

#rating_summary ul li .rating {
	display: inline-block;
	font-size: 14px;
	float: right;
}

/*-------- 2.4 Cart Process --------*/

.table {
	border-bottom: 1px solid #ddd;
}

.table.options_cart th {
	background-color: #fff;
	text-transform: uppercase;
}

.table.options_cart td {
	vertical-align: middle;
}

.numbers-row {
	position: relative;
	width: 97px;
	height: 40px;
	overflow: visible;
}

.numbers-row.list {
	margin: auto;
	margin-bottom: 5px;
	margin-top: 15px;
}

.form_title {
	position: relative;
	padding-left: 55px;
	margin-bottom: 10px;
}

.form_title h3 strong {
	background-color: #0070bb;
	text-align: center;
	width: 40px;
	height: 40px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
}

.form_title h3 {
	margin: 0;
	padding: 0;
}

.form_title p {
	color: #999;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
}

.step {
	border-left: 1px solid #ddd;
	padding: 20px 0 20px 31px;
	margin: 0 0 10px 20px;
}

input.qty2 {
	position: relative;
	width: 35px;
	height: 40px;
	border-radius: none;
	text-align: center;
	left: 31px;
	font-size: 12px;
	padding: 5px;
}

.button_inc {
	text-indent: -9999px;
	cursor: pointer;
	position: absolute;
	width: 33px;
	height: 40px;
	z-index: 9;
}

.dec {
	background: #fff url(../img/minus.png) no-repeat center center;
	border: 1px solid #cccccc;
	left: 0;
	top: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.inc {
	background: #fff url(../img/plus.png) no-repeat center center;
	right: 0;
	top: 0;
	border: 1px solid #cccccc;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#hero_2 {
	position: relative;
	height: 470px;
	background: #4d536d url(../img/slide_hero_2.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	width: 100%;
	font-size: 16px;
	display: table;
	text-align: center;
	z-index: 1;
}

#hero_2 .intro_title h1 {
	font-size: 38px;
	margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

#hero_2 .intro_title h1:before,
#hero_2 .intro_title h1:after {
	display: inline-block;
	width: 60px;
	height: 1px;
	content: '';
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
}

#hero_2 .intro_title h1:before {
	margin-right: 10px;
}

#hero_2 .intro_title h1:after {
	margin-left: 10px;
}

.bs-wizard {
	width: 90%;
	margin: auto;
}

.bs-wizard > .bs-wizard-step {
	padding: 0;
	position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
	font-size: 16px;
	margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background: #fbe8aa;
	top: 45px;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	content: ' ';
	width: 14px;
	height: 14px;
	background: #0070bb;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
	position: relative;
	border-radius: 0px;
	height: 8px;
	box-shadow: none;
	margin: 23px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	width: 0px;
	box-shadow: none;
	background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
	width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
	width: 0%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
	background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
	opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
	left: 50%;
	width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
	width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
	pointer-events: none;
}

.table.cart-list th {
	background-color: #fff;
	text-transform: uppercase;
}

.table.cart-list td {
	vertical-align: middle;
}

.options i {
	font-size: 22px;
}

.thumb_cart {
	border: 1px solid #ddd;
	overflow: hidden;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	float: left;
}

.thumb_cart img {
	padding: 1px;
	width: 58px;
	height: auto;
}

.item_cart {
	display: inline-block;
	margin-top: 20px;
}

/*-------- 2.5 About --------*/

.rating {
	font-size: 18px;
}

.rating small {
	font-size: 12px;
	color: #CCC;
}

.rating .voted {
	color: #F90;
}

/*-------- 2.6 Contact us --------*/

ul#contact-info {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

/* Carousel */

.carousel .item {
	margin: 3px;
}

.carousel .item img {
	display: block;
	width: 100%;
	height: auto;
}

ul.list_icons {
	margin: 0 0 020px 0;
	padding: 0;
	list-style: none;
}

ul.list_icons li i {
	font-size: 20px;
}

.modal-dialog {
	margin-top: 80px;
}

/*=====================================================================*/
/* 3.  COMMON  */
/*=====================================================================*/

.box_style_2 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 10px;
	position: relative;
	text-align: center;
	border: 1px solid #ddd;
}

.box_style_2 i {
	font-size: 52px;
	margin-top: 10px;
	display: inline-block;
}

.box_style_2 a.phone {
	font-size: 26px;
	display: block;
	margin-bottom: 20px;
}

.box_style_1 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	position: relative;
	text-align: center;
	border: 1px solid #ddd;
}
.box_style_1 i {
	font-size: 32px;
	margin-top: 0px;
	display: inline-block;
}
.box_style_1 h4 {
	font-size: 14px;
}
.box_style_1 a.phone {
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
}
.box_style_3 {
	padding: 0;
	position: relative;
	color: #666;
	margin-bottom: 20px;
}


.box_style_4 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 30px;
	position: relative;
	text-align: center;
	border: 1px solid #ddd;
}

.box_style_4:after,
.box_style_4:before {
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
}

.box_style_4:before {
	border-bottom: 10px solid #ccc;
	margin-bottom: 0;
}

.box_style_4:after {
	border-bottom: 10px solid #fff;
	margin-bottom: -1px;
	z-index: 1;
}

.box_style_4 i {
	font-size: 52px;
	margin-top: 10px;
	display: inline-block;
}

.box_style_4 a.phone {
	font-size: 26px;
	display: block;
	margin-bottom: 20px;
}

.box_style_5 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 25px;
	padding: 30px 0px 0px 0px;
	position: relative;
	color: #666;
}

/* Input form style */

.form-control {
	font-size: 12px;
	color: #333;
	height: 40px;
	border-radius: 3px;
}

.expose {
	position: relative;
}

#overlay {
	background: rgba(0, 0, 0, 0.4);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	bottom: 0;
}

/* Scroll top button */

#toTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 10px;
	line-height: 20px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	color: #fff;
	font-size: 20px;
}

#toTop:before {
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	content: "\e899";
}

/*Background colors*/

.white_bg {
	background-color: #fff
}

/*Spacing*/

.add_bottom_30 {
	margin-bottom: 30px;
}

.add_bottom_45 {
	margin-bottom: 45px;
}

.add_bottom_60 {
	margin-bottom: 60px;
}

/*List*/

ul.list_ok {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 22px;
}

ul.list_ok li {
	position: relative;
	padding-left: 25px;
}

ul.list_ok li:before {
	font-style: normal;
	font-weight: bold;
	font-family: "icon_set_1";
	font-size: 14px;
	content: "\6c";
	color: #0070bb;
	position: absolute;
	left: 0;
	top: 0;
}

ul.list_order {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
}

ul.list_order li {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
}

ul.list_order li span {
	background-color: #0070bb;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.features-bg {
	position: relative;
	min-height: 360px;
	background-size: cover;
}

.features-img {
	width: 100%;
	height: 360px;
	text-align: center;
	line-height: 400px;
}
.features-content {
	position: relative;
	padding: 11% 100px 10% 100px;
	height: 360px;
	background-color: #e04f67;
	color: #fff;
	font-size: 14px;
}

.features-content h3 {
	font-family: "Gochi Hand", cursive;
	color: #fff;
	font-size: 32px;
	line-height: 34px;
	text-transform: uppercase;
}


/** Pagination **/

.pagination > li > a {
	color: #888;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
	color: #333 !important;
	background-color: #f9f9f9;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	background-color: #555;
	border-color: #555;
}

/* Drop down select filters */

.styled-select-filters select {
	background: transparent;
	width: 115%;
	padding: 7px 5px 5px 10px;
	border: 0;
	border-radius: 0;
	height: 31px;
	margin: 0;
	font-weight: 400;
	-moz-appearance: window;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: 12px;
	color: #888;
}

.styled-select-filters {
	width: 100%;
	overflow: hidden;
	height: 34px;
	background: #fff url(../img/down_arrow_select_filters.png) no-repeat right center;
	border: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	display: block;
}

.styled-select-filters select::-ms-expand {
	display: none;
}

.styled-select-filters select:focus {
	outline: none;
}

/* Margin tools */

.margin_60 {
	padding-top: 60px;
	padding-bottom: 30px;
}

.margin_45 {
	margin-top: 45px;
	margin-bottom: 15px;
}

.margin_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin_15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Padding tools */

.padding_15 {
	padding-top: 30px;
	margin-bottom: 15px;
}

/* Parallax bg */

.parallax-content-1 {
	display: table;
	width: 100%;
	height: 470px;
}

.parallax-content-1 > div {
	display: table-cell;
	padding: 0 15%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.parallax-content-1 div h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.parallax-content-1 div h1 {
	margin-bottom: 0;
	padding-top: 40px;
}

.parallax-content-1 div h1:before,
.parallax-content-1 div h1:after {
	display: inline-block;
	width: 50px;
	height: 1px;
	content: '';
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
}

.parallax-content-1 div h1:before {
	margin-right: 10px;
}

.parallax-content-1 div h1:after {
	margin-left: 10px;
}

.parallax-window {
	min-height: 470px;
	background: transparent;
	position: relative;
}

/* Tours boxes*/

.tour_container {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	margin: 0;
	margin-bottom: 30px;
}

.img_container {
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
}

.tour_container .tour_title {
	padding: 15px;
	position: relative;
}

.tour_container .tour_title .rating {
	font-size: 14px;
	margin-left: -3px;
}

.tour_container .tour_title h3 {
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}

.img_container a:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.img_container img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
}

.short_info {
	position: absolute;
	left: 0;
	bottom: -1px;
	background: url(../img/shadow_tour.png) repeat-x left bottom;
	width: 100%;
	padding: 10px 10px 8px 5px;
	color: #fff;
}

.short_info i {
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
}

.short_info .price {
	float: right;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
}

.short_info .price sup {
	font-size: 18px;
	position: relative;
	top: -5px;
}

/* Tooltips */

.tooltip_styled {
	display: inline;
	position: relative;
	z-index: 999;
}

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 300px;
	left: 50%;
	margin: 0 0 20px -150px;
	bottom: 100%;
	text-align: left;
	line-height: 20px;
	display: block;
	padding: 15px;
	font-size: 12px;
	color: #fff;
	box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
	background: #333;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.tooltip_styled:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #333;
	border-width: 10px;
	margin-left: -10px;
}

.tooltip_flip {
	position: relative;
}

.tooltip_flip::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip_flip:hover::after {
	pointer-events: auto;
}

.tooltip-content-flip {
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	left: -40%;
	bottom: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	margin-bottom: 7px;
	cursor: default;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-1 .tooltip-content-flip {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.tooltip_flip:hover .tooltip-content-flip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.tooltip-content-flip > span {
	float: left;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip-back {
	background: #0070bb;
	font-size: 12px;
	line-height: 14px;
	padding-top: 25px;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
}

.tooltip_flip:hover .tooltip-content-flip > span {
	-webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
	transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
}

.tooltip-content-flip .tooltip-back::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
}

.tooltip-content-flip .tooltip-back::after {
	left: 45%;
	border-top: 10px solid #e64b50;
	border-right: 10px solid transparent;
}

/* Position breadcrumbs */

#position {
	background-color: #333;
	padding: 10px 0;
	font-size: 11px;
}

#position ul li:first-child {
	padding-left: 20px;
}

#position ul li:first-child:before {
	content: "\eaf4";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	left: 0;
	top: 1px;
	color: #fff;
}

#position ul {
	margin: 0;
	padding: 0;
	color: #888;
}

#position ul li a {
	color: #fff;
	opacity: 0.7;
}

#position ul li a:hover {
	color: #fff;
	opacity: 1;
}

#position ul li {
	display: inline-block;
	padding-right: 8px;
	margin-right: 3px;
	position: relative;
}

#position ul li:after {
	content: "\e9ee";
	font-style: normal;
	font-weight: normal;
	font-family: "fontello";
	position: absolute;
	right: 0;
	top: 2px;
}

#position ul li:last-child:after {
	content: '';
}

/*Banners*/

#banner {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 100%;
}

#banner img {
	width: 100%;
}

.banner:after,
.banner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
}

.banner:after {
	left: 0;
}

.banner:before {
	right: 0;
}

#topbanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#topbanner img {
	height: auto;
	width: auto;
}

.topbanner:after,
.topbanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}

#firstbanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#firstbanner img {
	height: auto;
	width: auto;
}

.firstbanner:after,
.firstbanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}

#middlebanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#middlebanner img {
	height: auto;
	width: auto;
}

.middlebanner:after,
.middlebanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}

#thirdbanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#thirdbanner img {
	height: auto;
	width: auto;
}

.thirdbanner:after,
.thirdbanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}

#planbanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#planbanner img {
	height: auto;
	width: auto;
}

#planbanner img.center {
    display: block;
    margin: 0 auto;
}

.planbanner:after,
.planbanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}

#videobanner {
	margin-top: 5px;
	margin-bottom: 5px;
}

#videobanner img {
	height: auto;
	width: auto;
}

.videobanner:after,
.videobanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
	left: 0;
	right: 0;
}


/* Banner Colored */
.colbanner {
	position: relative;
	background: #fff url(../img/banner_bg.png) no-repeat center bottom;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	margin-bottom: 10%;
}

.colbanner:after,
.colbanner:before {
	position: absolute;
	content: "";
	z-index: 1;
	height: 18px;
	width: 50%;
	top: 100%;
}

.colbanner:after {
	left: 0;
	background: url(../img/shadow-bg.png) no-repeat top left;
}

.colbanner:before {
	right: 0;
	background: url(../img/shadow-bg.png) no-repeat top right;
}

.colbanner a {
	position: absolute;
	top: 70%;
	right: 30px;
}
@media (max-width: 991px) {
	.colbanner a {
		position: absolute;
		top: 25%;
		right: 30px;
	}
}

@media (max-width: 414px) {
	.colbanner a {
		position: absolute;
		top: 70%;
		right: 30px;
	}
}

@media (max-width: 375px) {
	.colbanner a {
		position: initial;
		top: 25%;
		right: 30px;
	}
}

.colbanner h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin: 0;
	padding: 0;
	color: #e04f67;
	font-family: "Gochi Hand", cursive;
}

.colbanner h4 span {
	text-transform: none;
	color: #555;
}

.colbanner p {
	margin: 0;
	padding: 0;
}

.colbanner.colored {
	background: #e04f67 url(../img/banner_bg_colored.png) no-repeat center bottom;
	color: #fff;
}

.colbanner.colored h4 {
	color: #fff;
}

.colbanner.colored h4 span {
	color: #FFC;
}

.colbanner.greencolored {
	background: #007336 url(../img/banner_bg_colored.png) no-repeat center bottom;
	color: #fff;
}

.colbanner.greencolored h4 {
	color: #fff;
}

.colbanner.greencolored h4 span {
	color: #FFC;
}

/*What to Do*/

.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}


/*Others Tours*/

.other_tours ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}

.other_tours ul li a {
	border-bottom: 1px solid #ededed;
	padding: 5px 0 10px 0;
	display: block;
	color: #333;
}

.other_tours ul li a:hover {
	background-color: #f9f9f9;
	color: #e04f67;
}

.other_tours ul li:last-child a {
	border-bottom: none;
}

.other_tours ul li a i {
	font-size: 22px;
	margin-right: 5px;
	margin-left: 2px;
	position: relative;
	top: 5px;
	color: #555;
}

.other_tours_price {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	color: #888;
}

/*Preloading*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

.sk-spinner-wave.sk-spinner {
	margin: -15px 0 0 -25px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.sk-spinner-wave div {
	background-color: #ccc;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

@keyframes sk-waveStretchDelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

/** tabs **/

.tab-content {
	padding: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 25px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/** Img frame in general page **/

.img-responsive.styled {
	margin-top: 20px;
	border: 5px solid#fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

/**General icons block **/

.general_icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 30px 0 0 0;
}

.general_icons ul li {
	display: inline-block;
	text-align: center;
	padding: 0 20px 20px 0;
	white-space: nowrap;
}

.general_icons ul li:last-child {
	padding-right: 0;
}

.general_icons ul li i {
	font-size: 36px;
	display: block;
	margin-bottom: 10px;
}

/*=======================================================================*/
/* 4.  XTRAS  */
/*=======================================================================*/

/* 4.1 Home 7: search function */
#search_container {
	position: relative;
	background: url(../img/slides/travel.jpg) center top no-repeat #4d536d;
	background-size: cover;
	color: #fff;
	width: 100%;
	display: table;
	z-index: 99;
}

#search {
	display: table-cell;
	vertical-align: middle;
	padding: 0 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#search .nav-tabs {
	border-radius: 0;
	font-size: 12px;
	border: 0;
	border-bottom: 1px solid transparent;
	margin-left: 10px;
	text-transform: uppercase;
}

#search .nav-tabs > li > a {
	border-radius: 0;
	border: 0;
	color: #fff !important;
}

#search .tab-content {
	border-radius: 0;
	border: 0;
	color: #333;
	-webkit-box-shadow: -1px 21px 67px -12px rgba(112,112,112,0.61);
	-moz-box-shadow: -1px 21px 67px -12px rgba(112,112,112,0.61);
	box-shadow: -1px 21px 67px -12px rgba(112,112,112,0.61);
}

#search .nav-tabs > li > a {
	background: rgba(0, 0, 0, 0.40);
	padding-bottom: -2px;
}

#search .nav-tabs > li.active > a,
#search .nav-tabs > li.active > a:hover,
#search .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #0070bb;
}

.tab-pane h3 {
	color: #999;
	margin: 0 0 20px 0;
}

.tab-pane h3 {
	color: #999;
	margin: 0 0 20px 0;
}

/* Promo_full (v.1.7)*/

.promo_full {
	height: 650px;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
}

.promo_full_wp {
	display: table;
	width: 100%;
	height: auto;
}

.promo_full_wp > div {
	display: table-cell;
	padding: 10% 15%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

/*-------- 5.1 Ribbons css --------*/

.ribbon_3 {
	position: absolute;
	left: 10px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}

.ribbon_3 span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 100px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#9BC90D 0%, #79A70A 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 19px;
	left: -21px;
}

.ribbon_3 span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid #638908;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #638908;
}

.ribbon_3 span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #638908;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #638908;
}

.ribbon_3.popular span {
	background: linear-gradient(#f14f3f 0%, #cb4335 100%);
}

.ribbon_3.popular span::before {
	border-left: 3px solid #a3362a;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #a3362a;
}

.ribbon_3.popular span::after {
	border-left: 3px solid transparent;
	border-right: 3px solid #a3362a;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #a3362a;
}

/* Header 4*/

#social_top a i{
	font-size:13px;
}

#social_top a i:hover{
	color:#e05068;
}

/* Header 5*/
#lang_top i{
		font-size:14px;
}

/*-------- 5.4 Gallery overlay --------*/
.img_wrapper_gallery {
	margin: 0;
	padding:0;
	margin-top: 20px;
	border: 4px solid#fff;
	background-color:#000;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.img_container_gallery a:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 0.6;
}

.img_container_gallery img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 1;
	-webkit-backface-visibility: hidden;
}

.img_container_gallery {
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.img_container_gallery i{
	position: absolute;
	top: 50%;
	z-index: 10;
	display: none;
	color: #fff;
	font-size: 30px;
	left: 50%;
	margin-top:-15px;
	margin-left: -15px;
	display:none;
}

.img_container_gallery a:hover i{
	display: block;
}

/*-------- 5.5 Map infobox + map listing --------*/

.infoBox {padding-right:25px !important;}

.map-right #map{
	height: 100%;
	width:100%;
}

a.btn_infobox_detail:before, .btn_infobox_get_directions:before,a.btn_infobox_phone:before{
	 font-style: normal;
	 font-weight: normal;
	 font-family: "Fontello";
	 font-size:20px;
	 cursor:pointer;
}

.btn_infobox_get_directions, a.btn_infobox_phone{
	border:none;
	display:inline-block;
	color:#0070bb;
	background:none;
	cursor:pointer;
	margin: 0 5px;
	font-size:13px;
	position:relative;
	padding-left:18px;
	outline:none;
}

.btn_infobox_get_directions:hover, a.btn_infobox_phone:hover{color:#333;}

.btn_infobox_get_directions:before{
  font-size:14px;
  content: "\ecea";
  position:absolute;
  left:0;
  top:2px;
}

a.btn_infobox_phone:before{
  font-size:13px;
  content: "\eed5";
  position:absolute;
  left:0;
  top:0;
}

a.btn_infobox, .btn_infobox{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	background: #51bce6;
	cursor: pointer;
	padding: 5px 15px;
	display: inline-block;
	outline: none;
	font-size:11px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
}

a.btn_infobox:hover, .btn_infobox:hover{
	background: #333;
}

.marker_tools{
	margin:10px 0 15px 0;
}

/*-------- 6.1 Footer fixed --------*/
main{
	background-color: #f9f9f9;
	z-index:2;
	position:relative;
}

.parallax-content-1 {
	z-index: 3;
	position: relative;
}

nav.full-horizontal{
	margin-top:10px;
}
header.sticky nav.full-horizontal{
	margin-top:0;
}

/*-------- 7.1 Carousel --------*/

.carousel {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.w-100 {
    width: 100%!important;
}

.d-block {
    display: block!important;
}

/*-------- Special Content Cards --------*/
.box16{text-align:center;color:#fff;position:relative;margin-bottom: 20px}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px; color: #FFF}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#6d3795;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}

/* Y-US Section */
.services-section {
    background: rgba(0, 0, 0, 0) url("https://images.pexels.com/photos/326410/pexels-photo-326410.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat scroll left top / cover;
    padding: 50px 0 100px;
    position: relative;
}
.services-section::before {
    opacity: 0.8;
}
.black-trans-bg::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.services-section-banner {
    background-image: url("../img/brand/logo_sticky_2x.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 30%;
    left: 5%;
    position: absolute;
    width: 30%;
}
.services-head {
    margin: 0 0 76px;
}
.services-head .services-title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.services-title-border {
    background: #dadada none repeat scroll 0 0;
    display: inline-block;
    height: 1px;
    margin-left: 25px;
    position: relative;
    width: 120px;
}
.services-title-border::before {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 20px;
}
.services-head .services-text {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin: 7px 0 0;
}
.service-2 .service-box {
    margin: 0 0 20px;
}
.service-2 .service-box .iconset {
    float: left;
    width: 24%;
}
.service-2 .service-box .iconset i {
    color: #fff;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    position: relative;
    text-align: center;
    width: 82px;
}
.service-2 .service-box .servicesB-content {
    float: left;
    padding-left: 8px;
    width: 76%;
}
.service-2 .service-box .servicesB-content h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 14px;
}
.service-2 .service-box .servicesB-content p {
    color: #fff;
    line-height: 24px;
}

/* What to Do Sections */
.feed_itm {
    position:relative;
    background: no-repeat center center;
    background-size:cover;
    border: 1px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:250px;
    text-align: center;
    vertical-align: bottom;
}

.feed_itm_route {
    position:relative;
    background: no-repeat center center;
    background-size:cover;
    border: 1px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:160px;
    text-align: center;
    vertical-align: bottom;
}

.feed_itm_inr {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(3,3,3,0.0);
    color: white;
}

.feed_itm:hover .feed_itm_inr {
    background-color: rgba(3,3,3,0.3);
}

.feed_itm_route:hover .feed_itm_inr {
    background-color: rgba(3,3,3,0.3);
}

.feed_itm_ttl {
    margin: 5px 0 0 0;
    color: #FFF;
}

.feed_itm_prc {
    margin: 0!important;
}

.item_desc {
    padding: 0 0 10px 10px;
}

.item_desc
{
    text-align: left;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Events Regions */
.card-head {
    margin: 0 0 56px;
}
.card-head .card-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.card-title-border {
    background: #dadada none repeat scroll 0 0;
    display: inline-block;
    height: 1px;
    margin-left: 25px;
    position: relative;
    width: 120px;
}
.card-title-border::before {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 20px;
}
.card-head .card-text {
    font-size: 16px;
    line-height: 22px;
    margin: 7px 0 0;
}
div.card {
    border: 0;
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

div.card.card-plain {
    background: transparent;
    box-shadow: none;
}
div.card .card-header {
    border-radius: 3px;
    border: 0;
    background: linear-gradient(60deg,#eee,#bdbdbd);
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.div.card .card-body{
    padding: 15px 30px;
}

div.card .card-header-primary {
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

div.card .card-header-danger {
    background: linear-gradient(60deg,#ef5350,#d32f2f);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
}


.card-nav-tabs .card-header {
    margin-top: -30px!important;
}

.card .card-header .nav-tabs {
    padding: 0;
}

.nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0,0%,100%,.2);
    transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link{
    border: 0!important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.nav-link{
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}

/* Bicitours */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (max-width: 550px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards li {
    list-style-type: none;
}

.card {
  position: relative;
  width: 31.33333%;
  margin: 1%;
  background: whiteSmoke;
  box-shadow: 1px 1px 5px #999;
  padding: 0;
}
@media (max-width: 815px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 550px) {
  .card {
    width: 100%;
  }
}

.card__inner {
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.card__inner img {
  width: 100%;
  height: auto;
}

.card__buttons {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.card__buttons a {
  position: relative;
  float: left;
  width: 50%;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.card__buttons a:first-child {
  background: #fff;
  border-right: 1px solid #ccc;
}
.card__buttons a:last-child {
  background: #0070bb;
  color: #FFF;
}
.card__buttons a:hover {
  color: #FFF;
  background: #5bc500;
}
.card:hover .card__buttons {
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}
.card__tagline {
  font-weight: 100;
  margin: 0;
}
.card__icons {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
}
.card__icons li {
  display: inline-block;
  padding: 0 5px 5px;
}
.card__icons .fa {
  font-size: .8rem;
}
.card__icons .fa:before {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 5px;
}
.card p {
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* Special Content Page */
.aboutus-section {
	padding: 15px;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 29px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.feature .feature-box .iconset {
    float: left;
    position: relative;
    width: 12%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.feature .icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: red;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

/* Special Content Page */
#trail-map {
	position: relative;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.trail_icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 30px 0 0 0;
}

.trail_icons ul li {
    display: inline-block;
    text-align: center;
    padding: 0 20px 20px 0;
    white-space: nowrap;
}

.trail_icons ul li i {
    font-size: 26px;
    display: block;
    margin-bottom: 10px;
    color: #72c02c;
}

.bicifeature {
    padding: 0 10px 10px 60px;
    position: relative;
    background: #fff;
    color: #888;
}

.bicifeature i {
	position: absolute;
    left: 15px;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    background-color: #72c02c !important;
}


/* Special Carrousel */
.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right {
	margin-top: 25%;
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .carousel-col .active > div { display:none; }
 .carousel-col .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.carousel-col .active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.carousel-col .active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.carousel-col .active > div:first-child + div { display:block; }
  .carousel-col .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.carousel-col .active > div:first-child + div { display:block; }
  .carousel-col .active > div:first-child + div + div { display:block; }
	.carousel-col .active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/
    
}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

        .timeline > li.timeline-inverted{
        	float: left; 
        	clear: left;
        	margin-top: 30px;
        	margin-bottom: 30px;
        }

        .timeline > li.timeline-inverted > .timeline-badge{
        	left: 28px;
        }
    }


/* Routes Content */
.overflow-hidden {
    overflow: hidden;
}
.travel-ideas .suggested-places .row {
    margin: 0 -3px 0 -25px;
}
.travel-ideas .suggested-places [class^="col-"] {
    padding-left: 25px;
    padding-right: 0;
    border-right: 1px solid #f5f5f5;
}
ul.check-square {
    list-style: none;
    padding: 0;
}
ul.check-square {
    line-height: 2em;
    font-size: 1em;
}
.suggested-places ul.check-square li:before {
    float: left;
    line-height: 1.3em;
}
ul.check-square li:before {
    font-family: fontello;
    content: "\E854";
    background: #d9d9d9;
    color: #fff;
    padding: 1px 4px 0;
    margin-right: 10px;
    font-size: 12px;
}

.travel-ideas .suggested-places ul.check-square li>a {
    text-transform: uppercase;
}
.suggested-places ul.check-square li>a {
    margin-left: 25px;
    display: block;
}
.travelo-box .box-title {
    margin-bottom: 15px;
}
.box {
    margin-bottom: 30px;
}
.box-title {
    margin-bottom: 0;
    line-height: 1em;
    letter-spacing: 0.04em;
}
.box-title small {
    font-size: 10px;
    color: #838383;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
    margin-left: 5px;
}



/* Qué hacer */
.list-card {
  padding: 15px;
  overflow: auto;
}
.list-card img {
  width: 200px;
  height: 150px;
  background-color: green;
  border: 0;
  display: inline-block;
  float: left;
  margin-right: 18px;
}
.list-label {
  background-color: #1fc055;
  display: inline-block;
  position: absolute;
  margin-left: -5px;
  margin-top: 10px;
  font-size: 12px;
  padding: 4px;
  color: #fff;
}
.list-details {
  float: none;
}
.list-name {
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
}
.list-landmark,
.list-location {
  font-size: 12px;
  opacity: 0.5;
  margin: 2px 0;
}
.list-rooms {
  font-size: 12px;
}
.list-price {
  font-size: 20px;
  margin-top: 16px;
}
.list-bottom {
  display: inline-block;
  overflow: auto;
  margin-top: 26px;
}
.list-bottom .list-bottom-section {
  box-sizing: border-box;
  float: left;
  font-size: 12px;
  padding: 0 10px;
  border-left: 1px solid #e5e5e5;
}
.list-bottom .list-bottom-section span:last-of-type {
  opacity: 0.5;
}
.list-bottom .list-bottom-section:first-of-type {
  padding-left: 0;
  border-left: 0;
}
.list-bottom .list-bottom-section span {
  display: block;
}
.list-callback,
.list-shortlist {
  float: right;
}
.list-shortlist {
  margin-right: 15px;
}


/* Item */
.rc-haslayout {
    width: 100%;
    float: left;
}
.rc-content {
    width: 100%;
    float: left;
}
.rc-contentdetail {
    width: 100%;
    float: left;
}
.rc-contentinfo {
    width: 100%;
    float: left;
    background: #fff;
    padding: 65px 0 0;
    margin: -85px 0 0;
    text-align: center;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
}
.rc-contentinfo h2 {
    margin: 0 0 20px;
    font-size: 32px;
    font-weight: bold;
    line-height: 10px;
}
.rc-contentinfo .rc-destination {
    width: 100%;
    margin: 0 0 20px;
}
.rc-contentinfo .rc-destination em {
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    line-height: 12px;
}
.rc-destination, .rc-destination em {
    float: left;
    font-style: normal;
}
.rc-contentinfo .rc-lead {
    margin: 0 0 35px;
}
.rc-contentinfo .rc-lead h4 {
    font-size: 18px;
    line-height: 24px;
    color: #ff7550;
}
.rc-lead h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
@media (max-width: 1199px) {
	.rc-description p {
		font-size: 14px;
	}
}

#panorama {
	width: auto;
	height: 400px;
}
.travelo-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.travelo-box>*:last-child {
    margin-bottom: 0;
}
.widgettitle {
    font-size: 16px;
    line-height: 1.25em;
    margin: 0;
}
.travelo-box .list-with-circle-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.travelo-box .list-with-circle-icon li {
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 0 5px 30px;
    position: relative;
}
.travelo-box .list-with-circle-icon li>i {
    position: absolute;
    color: #fdb714;
    left: 0;
    top: 12px;
}
.circle {
    border: 1px solid;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.7333em;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    text-align: center;
}
.travelo-box .list-with-circle-icon li .title {
    line-height: 1.1428em;
    color: #2d3e52;
    margin-bottom: 5px;
    letter-spacing: 0.04em;
    font-size: 13px;
}
.travelo-box .list-with-circle-icon li p {
    margin: 0;
    font-size: 13px;
}

/* Banner Item */
#bannerutil {
	display: block;
	margin: 0 auto;
}

#video360 iframe {
	height: 400px;
	width: 100%;
	position: unset;
}
#streetview iframe {
	height: 400px;
	width: 100%;
	position: unset;
}

/* Item Tab */
.item-tab-detail {
    margin-top: 30px;
    margin-bottom: 0px;
}
.theme-tab .tab-style2 {
    border-bottom: 2px solid #e6e6e6;
}
.tab-content {
    border: none;
    padding: 10px 20px;
    margin-bottom: 0;
}

.theme-tab .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.theme-tab .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.theme-tab .nav-tabs > li {
    margin-bottom: 0;
}
.theme-tab .nav-fill .nav-item {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-align: center;
}
@media (max-width: 1200px) {
	.item-tab-detail .theme-tab .nav-tabs > li > a {
		padding-left: 12px;
		padding-right: 12px;
	}
}
.theme-tab .tab-style2 .active {
    position: relative;
    color: #f9676b;
}
.theme-tab .nav-tabs .nav-item.show .nav-link, .theme-tab .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.theme-tab .nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: #07253F;
    text-align: center;
}
.theme-tab .nav-tabs .nav-link {
    display: block;
    padding: .5rem 1rem;
}
.theme-tab .nav-link .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.theme-tab .tab-style2 > li > a > span {
    display: block;
}
.theme-tab .tab-style2 .active:after {
    background: #f9676b none repeat scroll 0 0;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 50px;
    margin-left: -25px;
    margin-top: -3px;
}
.theme-tab .tab-style2 > li > a {
    font-weight: 600;
}
.theme-tab .nav-tabs .nav-item .nav-link {
	color: #000;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

/* Article Tab */
.itemcontent-tab-detail {
    margin-top: 30px;
    margin-bottom: 0px;
}
.theme-tab .tab-style2 {
    border-bottom: 2px solid #e6e6e6;
}
.tab-content {
    border: none;
    padding: 10px 20px;
    margin-bottom: 0;
}

.theme-tab .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.theme-tab .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.theme-tab .nav-tabs > li {
    margin-bottom: 0;
}
.theme-tab .nav-fill .nav-item {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-align: center;
}
@media (max-width: 1200px) {
	.item-tab-detail .theme-tab .nav-tabs > li > a {
		padding-left: 12px;
		padding-right: 12px;
	}
}
.theme-tab .tab-style2 .active {
    position: relative;
    color: #f9676b;
}
.theme-tab .nav-tabs .nav-item.show .nav-link, .theme-tab .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.theme-tab .nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: #07253F;
    text-align: center;
}
.theme-tab .nav-tabs .nav-link {
    display: block;
    padding: .5rem 1rem;
}
.theme-tab .nav-link .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.theme-tab .tab-style2 > li > a > span {
    display: block;
}
.theme-tab .tab-style2 .active:after {
    background: #f9676b none repeat scroll 0 0;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 50px;
    margin-left: -25px;
    margin-top: -3px;
}
.theme-tab .tab-style2 > li > a {
    font-weight: 600;
}
.theme-tab .nav-tabs .nav-item .nav-link {
	color: #000;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

/* Amenities */
#hotelamenities .icon-box.style1 {
    height: 42px;
    background: #fff;
    line-height: 42px;
    font-size: 11px;
}
#hotelamenities .container:before {
	content: " ";
    display: table;
}
#hotelamenities .icon-box {
    text-transform: uppercase;
}
#hotelamenities .icon-box.style1 {
	letter-spacing: 0.04em;
	background: #f5f5f5;
}
#hotelamenities .icon-box.style1:before {
	content: "";
}
#hotelamenities .icon-box.style1>i {
    display: block;
    width: 42px;
    float: left;
    background: #fdb714;
    line-height: 42px;
    color: #fff;
    font-size: 20px;
}
#hotelamenities .icon-box>i {
    text-align: center;
}
#hotelamenities ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	text-align: justify;
}
#hotelamenities .style1 li {
    margin-bottom: 1px;
}
#hotelamenities li {
    padding: 0;
}
#hotelamenities .style1 li .icon-box {
    background: #f5f5f5;
}


#restaurantamenities .icon-box.style1 {
    height: 42px;
    background: #fff;
    line-height: 42px;
    font-size: 11px;
}
#restaurantamenities .container:before {
	content: " ";
    display: table;
}
#restaurantamenities .icon-box {
    text-transform: uppercase;
}
#restaurantamenities .icon-box.style1 {
	letter-spacing: 0.04em;
	background: #f5f5f5;
}
#restaurantamenities .icon-box.style1:before {
	content: "";
}
#restaurantamenities .icon-box.style1>i {
    display: block;
    width: 42px;
    float: left;
    background: #fdb714;
    line-height: 42px;
    color: #fff;
    font-size: 20px;
}
#restaurantamenities .icon-box>i {
    text-align: center;
}
#restaurantamenities ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	text-align: justify;
}
#restaurantamenities .style1 li {
    margin-bottom: 1px;
}
#restaurantamenities li {
    padding: 0;
}
#restaurantamenities .style1 li .icon-box {
    background: #f5f5f5;
}


.suggested-places .box {
    margin-bottom: 5%;
}
.suggested-places a.button {
    background: #0070bb;
    font-size: 0.8333em;
    white-space: nowrap;
    text-align: center;
    color: #FFF;
    padding: 4px;
}
#tipstable .intro.table-wrapper {
	padding: 0;
    border-spacing: 15px;
    border-collapse: separate;
    table-layout: fixed;
    background: #f5f5f5;
}

#tipstable .table-wrapper {
	display: table;
}
#tipstable .intro.table-wrapper .table-cell:first-child {
	margin-bottom: 15px;
}
#tipstable .intro.table-wrapper .table-cell {
	background: #fff;
}
#tipstable .intro.table-wrapper>* {
	border-collapse: collapse;
}
#tipstable .features {
    padding: 10px 20px;
    font-size: 11px;
}
#tipstable .table-wrapper .table-cell {
    display: table-cell;
    vertical-align: top;
    float: none !important;
}
#tipstable table {
    border-collapse: collapse;
    border-spacing: 0;
}
#tipstable table {
    max-width: 100%;
    background-color: transparent;
}
#tipstable .features label {
	margin: 0;
    width: 200px;
    border-right: 1px solid #f5f5f5;
    margin-right: 20px;
    color: #01b7f2;
    white-space: normal;
    height: 100%;
    letter-spacing: 0.04em;
    display: inline-block;
    font-weight: bold;
}
#tipstable .features td {
    white-space: normal;
}

#hotel-write-review .intro.table-wrapper {
    padding: 0;
    border-spacing: 15px;
    border-collapse: separate;
    table-layout: fixed;
}
#hotel-write-review .main-rating, #cruise-write-review .main-rating {
    margin-bottom: 20px;
}
#hotel-write-review .intro {
	background: #f5f5f5;
}
#hotel-write-review .table-wrapper {
    display: table;
}
#hotel-write-review .full-width {
    width: 100% !important;
}
#hotel-write-review .intro.table-wrapper .table-cell:first-child {
    margin-bottom: 15px;
}
#hotel-write-review .intro.table-wrapper .table-cell {
    background: #fff;
}
#hotel-write-review .intro.table-wrapper>* {
    border-collapse: collapse;
}
#hotel-write-review .photo {
    padding: 0;
}
#hotel-write-review .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
}
#hotel-write-review .table-wrapper .table-cell {
    display: table-cell;
    vertical-align: top;
    float: none !important;
}
#hotel-write-review figure {
    margin: 0;
    display: block;
}
#hotel-write-review .tab-container .tab-content .tab-pane img {
    margin: 0 15px 15px 0;
}
#hotel-write-review .image-box .box figure img, .image-box.box figure img {
    width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
#hotel-write-review .photo .details, #cruise-write-review .photo .details {
    padding-right: 15px;
}
.image-box .box>.details, .image-box.box>.details {
    padding: 5px 5px;
}
.details .image-box .box .box-title, .image-box.box .box-title {
    margin-bottom: 10px;
    color: #2d3e52;
    letter-spacing: 0.04em;
}
.details .image-box .box>.details:after, .image-box.box>.details:after {
    content: '';
    display: inline-block;
    clear: both;
}

#towncalendar .other_tours {
	text-align: justify;
	margin-bottom: 10px;
}
#thingstodo .other_tours {
	text-align: justify;
	margin-bottom: 10px;
	font-size: 11px;
}
#thingstodo .other_tours ul li a i {
    font-size: 18px;
    margin-right: 5px;
    margin-left: 2px;
    position: relative;
    top: 5px;
    color: #555;
}
.sidebar {
    background: #fff;
    margin: -70px 0 10px;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    width: 24%;
}

@media (max-width: 767px) {
	.sidebar {
		background: #fff;
		margin: 10px 0;
		border: 1px solid #e6e6e6;
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
		width: 100%;
	}
}

.text-grey-2 {
    color: #9E9E9E;
}




