﻿/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather i {
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.weathericon-0:before { content: ":"; }
.weathericon-1:before { content: "p"; }
.weathericon-2:before { content: "S"; }
.weathericon-3:before { content: "Q"; }
.weathericon-4:before { content: "S"; }
.weathericon-5:before { content: "W"; }
.weathericon-6:before { content: "W"; }
.weathericon-7:before { content: "W"; }
.weathericon-8:before { content: "W"; }
.weathericon-9:before { content: "I"; }
.weathericon-10:before { content: "W"; }
.weathericon-11:before { content: "I"; }
.weathericon-12:before { content: "I"; }
.weathericon-13:before { content: "I"; }
.weathericon-14:before { content: "I"; }
.weathericon-15:before { content: "W"; }
.weathericon-16:before { content: "I"; }
.weathericon-17:before { content: "W"; }
.weathericon-18:before { content: "U"; }
.weathericon-19:before { content: "Z"; }
.weathericon-20:before { content: "Z"; }
.weathericon-21:before { content: "Z"; }
.weathericon-22:before { content: "Z"; }
.weathericon-23:before { content: "Z"; }
.weathericon-24:before { content: "E"; }
.weathericon-25:before { content: "E"; }
.weathericon-26:before { content: "3"; }
.weathericon-27:before { content: "a"; }
.weathericon-28:before { content: "A"; }
.weathericon-29:before { content: "a"; }
.weathericon-30:before { content: "A"; }
.weathericon-31:before { content: "6"; }
.weathericon-32:before { content: "1"; }
.weathericon-33:before { content: "6"; }
.weathericon-34:before { content: "1"; }
.weathericon-35:before { content: "W"; }
.weathericon-36:before { content: "1"; }
.weathericon-37:before { content: "S"; }
.weathericon-38:before { content: "S"; }
.weathericon-39:before { content: "S"; }
.weathericon-40:before { content: "M"; }
.weathericon-41:before { content: "W"; }
.weathericon-42:before { content: "I"; }
.weathericon-43:before { content: "W"; }
.weathericon-44:before { content: "a"; }
.weathericon-45:before { content: "S"; }
.weathericon-46:before { content: "U"; }
.weathericon-47:before { content: "S"; }

#weather h4 {
  margin: 0 0 8px;
  font-size: 100px;
  font-weight: normal;
  text-align: center;
}

#weather ul {
  margin: 0 0 10px 0;
  padding: 0;
  text-align:center;
}

#weather li {
  background: #fff;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}

span.details_forecast {
	border:2px solid rgba(0,0,0,0.1);
	display:inline-block;
	text-align:center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom:10px;
  margin:0 3px;
  white-space:nowrap;
  margin-bottom:6px;
  min-width:100px;
}
/* Mobile Landscape */
@media (max-width: 600px) {
	#weather h4 {font-size: 60px;}
	#weather i { font-size: 100px;}
}


@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Weather-Icons';
  font-style: normal;
  font-weight: normal;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf");
}
.wrapper {
  background-color: #353535;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: auto;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}
.wrapper .today {
  flex: 1;
  width: 100%;
  height: 10em;
  position: relative;
  justify-content: center;
  
}
.wrapper .today #city {
  color: #fff;
  width:100%;
  justify-content: center;
  margin: 10px 0;
}
.wrapper .today .weatherInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper .today .weatherRight{
   display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: rgb(237, 237, 237);
  position: absolute;
  top: 0;
  left: 50%;
}
.wrapper .today .weatherRight #weatherIcon {
  font-size: 70px;
  justify-content: center;
  color:rgb(41, 41, 41);
  padding-top: 10px;
}
.wrapper .today .weatherRight  #weatherIcon:after {
  font-family: 'Weather-Icons';
  content: attr(data-icon);
}
.wrapper .today .weatherRight #forecast {
  color: #4c4c4c;
  margin: 0.1rem;
  width:100%;
  margin: 10px 0;
}
.wrapper .today .icon-wrapper {
  display: flex;
  justify-content: center;
}
.wrapper .today .temperature-wrapper {
  display: flex;
  justify-content: center;
}
.wrapper .today #temperature {
  font-size: 70px;
  position: relative;
  width: 100%;
  justify-content: center;
}
.wrapper .today #temperature #metrics {
  font-size: 40px;
}
.wrapper .today #temperature #metrics:hover {
  color: #f48c41;
  transition: color 0.2s ease;
  
}
.wrapper .today #temperature #metrics:after {
  font-family: 'Weather-Icons';
  content: attr(data-icon);
  transition: color 0.2s ease-out;
}
.wrapper .daily {
  display: flex;
  height: 4em;
  background: #444;
  flex-direction: column;
  justify-content: center;
}
.wrapper .daily .low-high {
  font-size: 1rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper .currently .low{
  padding-right:2em;
}
.wrapper .currently .low #low {
  color: #0f88ff;
  padding-right:10px;
}
.wrapper .currently .high{
  padding-left:2em;
}
.wrapper .currently .high #high {
  color: #f95757;
}
.wrapper .daily .low-high span {
  display: block;
  font-size: 0.75rem;
  color: #C1;
  margin: 0 2em;
}
.wrapper .daily .low-high .temperature-range {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #0f88ff 0%, #2989d8 10%, #207cca 20%, #207cca 30%, #ce6fc0 58%, #f48c41 100%);
}
.wrapper .daily .currently {
  display: flex;
  padding: 40px 0;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}
.wrapper .daily .currently .icon-wrapper {
  color: #fff;
  display: flex;
  padding: 15px 0;
  align-items: center;
  margin: 0 0.8rem;
}
.wrapper .daily .currently .icon-wrapper .metric-text {
  margin: 0 0.3rem;
  font-size: 0.75rem;
}
.wrapper .daily .currently .icon-wrapper .wind:after {
  font-family: 'Weather-Icons';
  content: attr(data-icon);
}
.wrapper .daily .currently .icon-wrapper .rain:after {
  font-family: 'Weather-Icons';
  content: attr(data-icon);
}
.wrapper .daily .currently .icon-wrapper .humi:after {
  font-family: 'Weather-Icons';
  content: attr(data-icon);
}
.wrapper .week {
  color: #fff;
  flex: 1;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .week .day {
  margin: 0 0.8rem;
}
.wrapper .week .day .day-low-high {
  font-size: 0.75rem;
  padding-top:10px;
}
.wrapper .week .day .day-icon:after {
  color: #999;
  padding-top: 15px;
  font-family: 'Weather-Icons';
  content: attr(data-icon);
}



